{
  "openapi": "3.0.1",
  "info": {
    "title": "Asaas",
    "description": "API pública de integração com a plataforma Asaas.",
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.asaas.com",
      "description": "Sandbox"
    }
  ],
  "tags": [
    {
      "name": "Clientes"
    }
  ],
  "security": [
    {
      "Authorization": []
    }
  ],
  "paths": {
    "/v3/customers": {
      "post": {
        "tags": [
          "Clientes"
        ],
        "summary": "Criar novo cliente",
        "description": "",
        "operationId": "criar-novo-cliente",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "name",
                  "cpfCnpj"
                ],
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Nome do cliente",
                    "nullable": false,
                    "example": "John Doe",
                    "deprecated": false
                  },
                  "cpfCnpj": {
                    "type": "string",
                    "description": "CPF ou CNPJ do cliente",
                    "nullable": false,
                    "example": "24971563792",
                    "deprecated": false
                  },
                  "email": {
                    "type": "string",
                    "description": "Email do cliente",
                    "example": "john.doe@asaas.com.br",
                    "deprecated": false
                  },
                  "phone": {
                    "type": "string",
                    "description": "Fone fixo",
                    "example": "4738010919",
                    "deprecated": false
                  },
                  "mobilePhone": {
                    "type": "string",
                    "description": "Fone celular",
                    "example": "4799376637",
                    "deprecated": false
                  },
                  "address": {
                    "type": "string",
                    "description": "Logradouro",
                    "example": "Av. Paulista",
                    "deprecated": false
                  },
                  "addressNumber": {
                    "type": "string",
                    "description": "Número do endereço",
                    "example": "150",
                    "deprecated": false
                  },
                  "complement": {
                    "type": "string",
                    "description": "Complemento do endereço (máx. 255 caracteres)",
                    "example": "Sala 201",
                    "deprecated": false
                  },
                  "province": {
                    "type": "string",
                    "description": "Bairro",
                    "example": "Centro",
                    "deprecated": false
                  },
                  "postalCode": {
                    "type": "string",
                    "description": "CEP do endereço",
                    "example": "01310-000",
                    "deprecated": false
                  },
                  "externalReference": {
                    "type": "string",
                    "description": "Identificador do cliente no seu sistema",
                    "example": "12987382",
                    "deprecated": false
                  },
                  "notificationDisabled": {
                    "type": "boolean",
                    "description": "true para desabilitar o envio de notificações de cobrança",
                    "example": false,
                    "deprecated": false
                  },
                  "additionalEmails": {
                    "type": "string",
                    "description": "Emails adicionais para envio de notificações de cobrança separados por \",\"",
                    "example": "john.doe@asaas.com,john.doe.silva@asaas.com.br",
                    "deprecated": false
                  },
                  "municipalInscription": {
                    "type": "string",
                    "description": "Inscrição municipal do cliente",
                    "example": "46683695908",
                    "deprecated": false
                  },
                  "stateInscription": {
                    "type": "string",
                    "description": "Inscrição estadual do cliente",
                    "example": "646681195275",
                    "deprecated": false
                  },
                  "observations": {
                    "type": "string",
                    "description": "Observações adicionais",
                    "example": "ótimo pagador, nenhum problema até o momento",
                    "deprecated": false
                  },
                  "groupName": {
                    "type": "string",
                    "description": "Nome do grupo ao qual o cliente pertence",
                    "deprecated": false,
                    "example": null
                  },
                  "company": {
                    "type": "string",
                    "description": "Empresa",
                    "deprecated": false,
                    "example": null
                  },
                  "foreignCustomer": {
                    "type": "boolean",
                    "description": "informe true caso seja pagador estrangeiro",
                    "example": false,
                    "deprecated": false
                  }
                },
                "x-readme-ref-name": "CustomerSaveRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "description": "Tipo de objeto",
                      "example": "customer",
                      "deprecated": false
                    },
                    "id": {
                      "type": "string",
                      "description": "Identificador único do cliente no Asaas",
                      "example": "cus_000005401844",
                      "deprecated": false
                    },
                    "dateCreated": {
                      "type": "string",
                      "description": "Data de criação do cliente",
                      "example": "2024-07-12",
                      "deprecated": false
                    },
                    "name": {
                      "type": "string",
                      "description": "Nome do cliente",
                      "example": "John Doe",
                      "deprecated": false
                    },
                    "email": {
                      "type": "string",
                      "description": "E-mail do cliente",
                      "example": "john.doe@asaas.com.br",
                      "deprecated": false
                    },
                    "phone": {
                      "type": "string",
                      "description": "Telefone do cliente",
                      "example": "90999999999",
                      "deprecated": false
                    },
                    "mobilePhone": {
                      "type": "string",
                      "description": "Celular do cliente",
                      "example": "90999999999",
                      "deprecated": false
                    },
                    "address": {
                      "type": "string",
                      "description": "Endereço do cliente",
                      "example": "Av. Paulista",
                      "deprecated": false
                    },
                    "addressNumber": {
                      "type": "string",
                      "description": "Número do endereço do cliente",
                      "example": "150",
                      "deprecated": false
                    },
                    "complement": {
                      "type": "string",
                      "description": "Complemento do endereço do cliente",
                      "example": "Sala 201",
                      "deprecated": false
                    },
                    "province": {
                      "type": "string",
                      "description": "Bairro do endereço do cliente",
                      "example": "Centro",
                      "deprecated": false
                    },
                    "city": {
                      "type": "integer",
                      "description": "Identificador único da cidade no Asaas",
                      "format": "int32",
                      "example": 12565,
                      "deprecated": false
                    },
                    "cityName": {
                      "type": "string",
                      "description": "Cidade do endereço do cliente",
                      "example": "São Paulo",
                      "deprecated": false
                    },
                    "state": {
                      "type": "string",
                      "description": "Estado do endereço do cliente",
                      "example": "SP",
                      "deprecated": false
                    },
                    "country": {
                      "type": "string",
                      "description": "País do cliente",
                      "example": "Brasil",
                      "deprecated": false
                    },
                    "postalCode": {
                      "type": "string",
                      "description": "CEP do endereço do cliente",
                      "example": "01310000",
                      "deprecated": false
                    },
                    "cpfCnpj": {
                      "type": "string",
                      "description": "CPF ou CNPJ do cliente",
                      "example": "24971563792",
                      "deprecated": false
                    },
                    "personType": {
                      "type": "string",
                      "description": "Tipo de pessoa",
                      "example": "FISICA",
                      "deprecated": false,
                      "enum": [
                        "JURIDICA",
                        "FISICA"
                      ],
                      "x-readme-ref-name": "CustomerGetResponsePersonType"
                    },
                    "deleted": {
                      "type": "boolean",
                      "description": "Indica se é um cliente deletado",
                      "example": false,
                      "deprecated": false
                    },
                    "additionalEmails": {
                      "type": "string",
                      "description": "E-mails adicionais do cliente",
                      "example": "john.doe@asaas.com,john.doe.silva@asaas.com.br",
                      "deprecated": false
                    },
                    "externalReference": {
                      "type": "string",
                      "description": "Referência externa do cliente",
                      "example": "12987382",
                      "deprecated": false
                    },
                    "notificationDisabled": {
                      "type": "boolean",
                      "description": "Indica se as notificações estão desabilitadas",
                      "example": false,
                      "deprecated": false
                    },
                    "observations": {
                      "type": "string",
                      "description": "Observações do cliente",
                      "example": "ótimo pagador, nenhum problema até o momento",
                      "deprecated": false
                    },
                    "foreignCustomer": {
                      "type": "boolean",
                      "description": "indica se o pagador é estrangeiro",
                      "example": false,
                      "deprecated": false
                    }
                  },
                  "x-readme-ref-name": "CustomerGetResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "error_code",
                      "description": "Descrição do erro"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "invalid_access_token",
                      "description": "A chave de API fornecida é inválida"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "tags": [
          "Clientes"
        ],
        "summary": "Listar clientes",
        "description": "",
        "operationId": "listar-clientes",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Elemento inicial da lista",
            "schema": {
              "type": "integer",
              "example": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Número de elementos da lista (max: 100)",
            "schema": {
              "maximum": 100,
              "type": "integer",
              "example": 10
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filtrar por nome",
            "schema": {
              "type": "string",
              "example": "John Doe"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Filtrar por email",
            "schema": {
              "type": "string",
              "example": "john.doe@asaas.com.br"
            }
          },
          {
            "name": "cpfCnpj",
            "in": "query",
            "description": "Filtrar por CPF ou CNPJ",
            "schema": {
              "type": "string",
              "example": "24971563792"
            }
          },
          {
            "name": "groupName",
            "in": "query",
            "description": "Filtrar por grupo",
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "externalReference",
            "in": "query",
            "description": "Filtrar pelo Identificador do seu sistema",
            "schema": {
              "type": "string",
              "example": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "description": "Tipo de objeto",
                      "example": "list",
                      "deprecated": false
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Indica se há mais uma página a ser buscada",
                      "example": false,
                      "deprecated": false
                    },
                    "totalCount": {
                      "type": "integer",
                      "description": "Quantidade total de itens para os filtros informados",
                      "format": "int32",
                      "example": 2,
                      "deprecated": false
                    },
                    "limit": {
                      "type": "integer",
                      "description": "Quantidade de objetos por página",
                      "format": "int32",
                      "example": 10,
                      "deprecated": false
                    },
                    "offset": {
                      "type": "integer",
                      "description": "Posição do objeto a partir do qual a página deve ser carregada",
                      "format": "int32",
                      "example": 0,
                      "deprecated": false
                    },
                    "data": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "object": {
                            "type": "string",
                            "description": "Tipo de objeto",
                            "example": "customer",
                            "deprecated": false
                          },
                          "id": {
                            "type": "string",
                            "description": "Identificador único do cliente no Asaas",
                            "example": "cus_000005401844",
                            "deprecated": false
                          },
                          "dateCreated": {
                            "type": "string",
                            "description": "Data de criação do cliente",
                            "example": "2024-07-12",
                            "deprecated": false
                          },
                          "name": {
                            "type": "string",
                            "description": "Nome do cliente",
                            "example": "John Doe",
                            "deprecated": false
                          },
                          "email": {
                            "type": "string",
                            "description": "E-mail do cliente",
                            "example": "john.doe@asaas.com.br",
                            "deprecated": false
                          },
                          "phone": {
                            "type": "string",
                            "description": "Telefone do cliente",
                            "example": "90999999999",
                            "deprecated": false
                          },
                          "mobilePhone": {
                            "type": "string",
                            "description": "Celular do cliente",
                            "example": "90999999999",
                            "deprecated": false
                          },
                          "address": {
                            "type": "string",
                            "description": "Endereço do cliente",
                            "example": "Av. Paulista",
                            "deprecated": false
                          },
                          "addressNumber": {
                            "type": "string",
                            "description": "Número do endereço do cliente",
                            "example": "150",
                            "deprecated": false
                          },
                          "complement": {
                            "type": "string",
                            "description": "Complemento do endereço do cliente",
                            "example": "Sala 201",
                            "deprecated": false
                          },
                          "province": {
                            "type": "string",
                            "description": "Bairro do endereço do cliente",
                            "example": "Centro",
                            "deprecated": false
                          },
                          "city": {
                            "type": "integer",
                            "description": "Identificador único da cidade no Asaas",
                            "format": "int32",
                            "example": 12565,
                            "deprecated": false
                          },
                          "cityName": {
                            "type": "string",
                            "description": "Cidade do endereço do cliente",
                            "example": "São Paulo",
                            "deprecated": false
                          },
                          "state": {
                            "type": "string",
                            "description": "Estado do endereço do cliente",
                            "example": "SP",
                            "deprecated": false
                          },
                          "country": {
                            "type": "string",
                            "description": "País do cliente",
                            "example": "Brasil",
                            "deprecated": false
                          },
                          "postalCode": {
                            "type": "string",
                            "description": "CEP do endereço do cliente",
                            "example": "01310000",
                            "deprecated": false
                          },
                          "cpfCnpj": {
                            "type": "string",
                            "description": "CPF ou CNPJ do cliente",
                            "example": "24971563792",
                            "deprecated": false
                          },
                          "personType": {
                            "type": "string",
                            "description": "Tipo de pessoa",
                            "example": "FISICA",
                            "deprecated": false,
                            "enum": [
                              "JURIDICA",
                              "FISICA"
                            ],
                            "x-readme-ref-name": "CustomerGetResponsePersonType"
                          },
                          "deleted": {
                            "type": "boolean",
                            "description": "Indica se é um cliente deletado",
                            "example": false,
                            "deprecated": false
                          },
                          "additionalEmails": {
                            "type": "string",
                            "description": "E-mails adicionais do cliente",
                            "example": "john.doe@asaas.com,john.doe.silva@asaas.com.br",
                            "deprecated": false
                          },
                          "externalReference": {
                            "type": "string",
                            "description": "Referência externa do cliente",
                            "example": "12987382",
                            "deprecated": false
                          },
                          "notificationDisabled": {
                            "type": "boolean",
                            "description": "Indica se as notificações estão desabilitadas",
                            "example": false,
                            "deprecated": false
                          },
                          "observations": {
                            "type": "string",
                            "description": "Observações do cliente",
                            "example": "ótimo pagador, nenhum problema até o momento",
                            "deprecated": false
                          },
                          "foreignCustomer": {
                            "type": "boolean",
                            "description": "indica se o pagador é estrangeiro",
                            "example": false,
                            "deprecated": false
                          }
                        },
                        "x-readme-ref-name": "CustomerGetResponseDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "CustomerListResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "error_code",
                      "description": "Descrição do erro"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "invalid_access_token",
                      "description": "A chave de API fornecida é inválida"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."
          }
        },
        "deprecated": false
      }
    },
    "/v3/customers/{id}": {
      "get": {
        "tags": [
          "Clientes"
        ],
        "summary": "Recuperar um único cliente",
        "description": "",
        "operationId": "recuperar-um-unico-cliente",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identificador único do cliente no Asaas",
            "required": true,
            "schema": {
              "type": "string",
              "example": "cus_000005401844"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "description": "Tipo de objeto",
                      "example": "customer",
                      "deprecated": false
                    },
                    "id": {
                      "type": "string",
                      "description": "Identificador único do cliente no Asaas",
                      "example": "cus_000005401844",
                      "deprecated": false
                    },
                    "dateCreated": {
                      "type": "string",
                      "description": "Data de criação do cliente",
                      "example": "2024-07-12",
                      "deprecated": false
                    },
                    "name": {
                      "type": "string",
                      "description": "Nome do cliente",
                      "example": "John Doe",
                      "deprecated": false
                    },
                    "email": {
                      "type": "string",
                      "description": "E-mail do cliente",
                      "example": "john.doe@asaas.com.br",
                      "deprecated": false
                    },
                    "phone": {
                      "type": "string",
                      "description": "Telefone do cliente",
                      "example": "90999999999",
                      "deprecated": false
                    },
                    "mobilePhone": {
                      "type": "string",
                      "description": "Celular do cliente",
                      "example": "90999999999",
                      "deprecated": false
                    },
                    "address": {
                      "type": "string",
                      "description": "Endereço do cliente",
                      "example": "Av. Paulista",
                      "deprecated": false
                    },
                    "addressNumber": {
                      "type": "string",
                      "description": "Número do endereço do cliente",
                      "example": "150",
                      "deprecated": false
                    },
                    "complement": {
                      "type": "string",
                      "description": "Complemento do endereço do cliente",
                      "example": "Sala 201",
                      "deprecated": false
                    },
                    "province": {
                      "type": "string",
                      "description": "Bairro do endereço do cliente",
                      "example": "Centro",
                      "deprecated": false
                    },
                    "city": {
                      "type": "integer",
                      "description": "Identificador único da cidade no Asaas",
                      "format": "int32",
                      "example": 12565,
                      "deprecated": false
                    },
                    "cityName": {
                      "type": "string",
                      "description": "Cidade do endereço do cliente",
                      "example": "São Paulo",
                      "deprecated": false
                    },
                    "state": {
                      "type": "string",
                      "description": "Estado do endereço do cliente",
                      "example": "SP",
                      "deprecated": false
                    },
                    "country": {
                      "type": "string",
                      "description": "País do cliente",
                      "example": "Brasil",
                      "deprecated": false
                    },
                    "postalCode": {
                      "type": "string",
                      "description": "CEP do endereço do cliente",
                      "example": "01310000",
                      "deprecated": false
                    },
                    "cpfCnpj": {
                      "type": "string",
                      "description": "CPF ou CNPJ do cliente",
                      "example": "24971563792",
                      "deprecated": false
                    },
                    "personType": {
                      "type": "string",
                      "description": "Tipo de pessoa",
                      "example": "FISICA",
                      "deprecated": false,
                      "enum": [
                        "JURIDICA",
                        "FISICA"
                      ],
                      "x-readme-ref-name": "CustomerGetResponsePersonType"
                    },
                    "deleted": {
                      "type": "boolean",
                      "description": "Indica se é um cliente deletado",
                      "example": false,
                      "deprecated": false
                    },
                    "additionalEmails": {
                      "type": "string",
                      "description": "E-mails adicionais do cliente",
                      "example": "john.doe@asaas.com,john.doe.silva@asaas.com.br",
                      "deprecated": false
                    },
                    "externalReference": {
                      "type": "string",
                      "description": "Referência externa do cliente",
                      "example": "12987382",
                      "deprecated": false
                    },
                    "notificationDisabled": {
                      "type": "boolean",
                      "description": "Indica se as notificações estão desabilitadas",
                      "example": false,
                      "deprecated": false
                    },
                    "observations": {
                      "type": "string",
                      "description": "Observações do cliente",
                      "example": "ótimo pagador, nenhum problema até o momento",
                      "deprecated": false
                    },
                    "foreignCustomer": {
                      "type": "boolean",
                      "description": "indica se o pagador é estrangeiro",
                      "example": false,
                      "deprecated": false
                    }
                  },
                  "x-readme-ref-name": "CustomerGetResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "error_code",
                      "description": "Descrição do erro"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "invalid_access_token",
                      "description": "A chave de API fornecida é inválida"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."
          },
          "404": {
            "description": "Not found"
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "Clientes"
        ],
        "summary": "Atualizar cliente existente",
        "description": "",
        "operationId": "atualizar-cliente-existente",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identificador único do cliente a ser atualizado",
            "required": true,
            "schema": {
              "type": "string",
              "example": "cus_000005401844"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Nome do cliente",
                    "example": "John Doe",
                    "deprecated": false
                  },
                  "cpfCnpj": {
                    "type": "string",
                    "description": "CPF ou CNPJ do cliente",
                    "example": "24971563792",
                    "deprecated": false
                  },
                  "email": {
                    "type": "string",
                    "description": "Email do cliente",
                    "example": "john.doe@asaas.com.br",
                    "deprecated": false
                  },
                  "phone": {
                    "type": "string",
                    "description": "Fone fixo",
                    "example": "4738010919",
                    "deprecated": false
                  },
                  "mobilePhone": {
                    "type": "string",
                    "description": "Fone celular",
                    "example": "4799376637",
                    "deprecated": false
                  },
                  "address": {
                    "type": "string",
                    "description": "Logradouro",
                    "example": "Av. Paulista",
                    "deprecated": false
                  },
                  "addressNumber": {
                    "type": "string",
                    "description": "Número do endereço",
                    "example": "150",
                    "deprecated": false
                  },
                  "complement": {
                    "type": "string",
                    "description": "Complemento do endereço",
                    "example": "Sala 201",
                    "deprecated": false
                  },
                  "province": {
                    "type": "string",
                    "description": "Bairro",
                    "example": "Centro",
                    "deprecated": false
                  },
                  "postalCode": {
                    "type": "string",
                    "description": "CEP do endereço",
                    "example": "01310-000",
                    "deprecated": false
                  },
                  "externalReference": {
                    "type": "string",
                    "description": "Identificador do cliente no seu sistema",
                    "example": "12987382",
                    "deprecated": false
                  },
                  "notificationDisabled": {
                    "type": "boolean",
                    "description": "true para desabilitar o envio de notificações de cobrança",
                    "example": false,
                    "deprecated": false
                  },
                  "additionalEmails": {
                    "type": "string",
                    "description": "Emails adicionais para envio de notificações de cobrança separados por \",\"",
                    "example": "john.doe@asaas.com,john.doe.silva@asaas.com.br",
                    "deprecated": false
                  },
                  "municipalInscription": {
                    "type": "string",
                    "description": "Inscrição municipal do cliente",
                    "example": "46683695908",
                    "deprecated": false
                  },
                  "stateInscription": {
                    "type": "string",
                    "description": "Inscrição estadual do cliente",
                    "example": "646681195275",
                    "deprecated": false
                  },
                  "observations": {
                    "type": "string",
                    "description": "Observações adicionais",
                    "example": "ótimo pagador, nenhum problema até o momento",
                    "deprecated": false
                  },
                  "groupName": {
                    "type": "string",
                    "description": "Nome do grupo ao qual o cliente pertence",
                    "deprecated": false,
                    "example": null
                  },
                  "company": {
                    "type": "string",
                    "description": "Empresa",
                    "deprecated": false,
                    "example": null
                  },
                  "foreignCustomer": {
                    "type": "boolean",
                    "description": "informe true caso seja pagador estrangeiro",
                    "example": false,
                    "deprecated": false
                  }
                },
                "x-readme-ref-name": "CustomerUpdateRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "description": "Tipo de objeto",
                      "example": "customer",
                      "deprecated": false
                    },
                    "id": {
                      "type": "string",
                      "description": "Identificador único do cliente no Asaas",
                      "example": "cus_000005401844",
                      "deprecated": false
                    },
                    "dateCreated": {
                      "type": "string",
                      "description": "Data de criação do cliente",
                      "example": "2024-07-12",
                      "deprecated": false
                    },
                    "name": {
                      "type": "string",
                      "description": "Nome do cliente",
                      "example": "John Doe",
                      "deprecated": false
                    },
                    "email": {
                      "type": "string",
                      "description": "E-mail do cliente",
                      "example": "john.doe@asaas.com.br",
                      "deprecated": false
                    },
                    "phone": {
                      "type": "string",
                      "description": "Telefone do cliente",
                      "example": "90999999999",
                      "deprecated": false
                    },
                    "mobilePhone": {
                      "type": "string",
                      "description": "Celular do cliente",
                      "example": "90999999999",
                      "deprecated": false
                    },
                    "address": {
                      "type": "string",
                      "description": "Endereço do cliente",
                      "example": "Av. Paulista",
                      "deprecated": false
                    },
                    "addressNumber": {
                      "type": "string",
                      "description": "Número do endereço do cliente",
                      "example": "150",
                      "deprecated": false
                    },
                    "complement": {
                      "type": "string",
                      "description": "Complemento do endereço do cliente",
                      "example": "Sala 201",
                      "deprecated": false
                    },
                    "province": {
                      "type": "string",
                      "description": "Bairro do endereço do cliente",
                      "example": "Centro",
                      "deprecated": false
                    },
                    "city": {
                      "type": "integer",
                      "description": "Identificador único da cidade no Asaas",
                      "format": "int32",
                      "example": 12565,
                      "deprecated": false
                    },
                    "cityName": {
                      "type": "string",
                      "description": "Cidade do endereço do cliente",
                      "example": "São Paulo",
                      "deprecated": false
                    },
                    "state": {
                      "type": "string",
                      "description": "Estado do endereço do cliente",
                      "example": "SP",
                      "deprecated": false
                    },
                    "country": {
                      "type": "string",
                      "description": "País do cliente",
                      "example": "Brasil",
                      "deprecated": false
                    },
                    "postalCode": {
                      "type": "string",
                      "description": "CEP do endereço do cliente",
                      "example": "01310000",
                      "deprecated": false
                    },
                    "cpfCnpj": {
                      "type": "string",
                      "description": "CPF ou CNPJ do cliente",
                      "example": "24971563792",
                      "deprecated": false
                    },
                    "personType": {
                      "type": "string",
                      "description": "Tipo de pessoa",
                      "example": "FISICA",
                      "deprecated": false,
                      "enum": [
                        "JURIDICA",
                        "FISICA"
                      ],
                      "x-readme-ref-name": "CustomerGetResponsePersonType"
                    },
                    "deleted": {
                      "type": "boolean",
                      "description": "Indica se é um cliente deletado",
                      "example": false,
                      "deprecated": false
                    },
                    "additionalEmails": {
                      "type": "string",
                      "description": "E-mails adicionais do cliente",
                      "example": "john.doe@asaas.com,john.doe.silva@asaas.com.br",
                      "deprecated": false
                    },
                    "externalReference": {
                      "type": "string",
                      "description": "Referência externa do cliente",
                      "example": "12987382",
                      "deprecated": false
                    },
                    "notificationDisabled": {
                      "type": "boolean",
                      "description": "Indica se as notificações estão desabilitadas",
                      "example": false,
                      "deprecated": false
                    },
                    "observations": {
                      "type": "string",
                      "description": "Observações do cliente",
                      "example": "ótimo pagador, nenhum problema até o momento",
                      "deprecated": false
                    },
                    "foreignCustomer": {
                      "type": "boolean",
                      "description": "indica se o pagador é estrangeiro",
                      "example": false,
                      "deprecated": false
                    }
                  },
                  "x-readme-ref-name": "CustomerGetResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "error_code",
                      "description": "Descrição do erro"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "invalid_access_token",
                      "description": "A chave de API fornecida é inválida"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Clientes"
        ],
        "summary": "Remover cliente",
        "description": "",
        "operationId": "remover-cliente",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identificador único do cliente a ser removido.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "cus_000005401844"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean",
                      "description": "Indica se o cliente foi removido",
                      "example": true,
                      "deprecated": false
                    },
                    "id": {
                      "type": "string",
                      "description": "Identificador único do cliente",
                      "example": "cus_000005401844",
                      "deprecated": false
                    }
                  },
                  "x-readme-ref-name": "CustomerDeleteResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "error_code",
                      "description": "Descrição do erro"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "invalid_access_token",
                      "description": "A chave de API fornecida é inválida"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        },
        "deprecated": false
      }
    },
    "/v3/customers/{id}/restore": {
      "post": {
        "tags": [
          "Clientes"
        ],
        "summary": "Restaurar cliente removido",
        "description": "",
        "operationId": "restaurar-cliente-removido",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identificador único do cliente a ser restaurado.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "cus_000005401844"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "x-readme-ref-name": "CustomerRestoreRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "description": "Tipo de objeto",
                      "example": "customer",
                      "deprecated": false
                    },
                    "id": {
                      "type": "string",
                      "description": "Identificador único do cliente no Asaas",
                      "example": "cus_000005401844",
                      "deprecated": false
                    },
                    "dateCreated": {
                      "type": "string",
                      "description": "Data de criação do cliente",
                      "example": "2024-07-12",
                      "deprecated": false
                    },
                    "name": {
                      "type": "string",
                      "description": "Nome do cliente",
                      "example": "John Doe",
                      "deprecated": false
                    },
                    "email": {
                      "type": "string",
                      "description": "E-mail do cliente",
                      "example": "john.doe@asaas.com.br",
                      "deprecated": false
                    },
                    "phone": {
                      "type": "string",
                      "description": "Telefone do cliente",
                      "example": "90999999999",
                      "deprecated": false
                    },
                    "mobilePhone": {
                      "type": "string",
                      "description": "Celular do cliente",
                      "example": "90999999999",
                      "deprecated": false
                    },
                    "address": {
                      "type": "string",
                      "description": "Endereço do cliente",
                      "example": "Av. Paulista",
                      "deprecated": false
                    },
                    "addressNumber": {
                      "type": "string",
                      "description": "Número do endereço do cliente",
                      "example": "150",
                      "deprecated": false
                    },
                    "complement": {
                      "type": "string",
                      "description": "Complemento do endereço do cliente",
                      "example": "Sala 201",
                      "deprecated": false
                    },
                    "province": {
                      "type": "string",
                      "description": "Bairro do endereço do cliente",
                      "example": "Centro",
                      "deprecated": false
                    },
                    "city": {
                      "type": "integer",
                      "description": "Identificador único da cidade no Asaas",
                      "format": "int32",
                      "example": 12565,
                      "deprecated": false
                    },
                    "cityName": {
                      "type": "string",
                      "description": "Cidade do endereço do cliente",
                      "example": "São Paulo",
                      "deprecated": false
                    },
                    "state": {
                      "type": "string",
                      "description": "Estado do endereço do cliente",
                      "example": "SP",
                      "deprecated": false
                    },
                    "country": {
                      "type": "string",
                      "description": "País do cliente",
                      "example": "Brasil",
                      "deprecated": false
                    },
                    "postalCode": {
                      "type": "string",
                      "description": "CEP do endereço do cliente",
                      "example": "01310000",
                      "deprecated": false
                    },
                    "cpfCnpj": {
                      "type": "string",
                      "description": "CPF ou CNPJ do cliente",
                      "example": "24971563792",
                      "deprecated": false
                    },
                    "personType": {
                      "type": "string",
                      "description": "Tipo de pessoa",
                      "example": "FISICA",
                      "deprecated": false,
                      "enum": [
                        "JURIDICA",
                        "FISICA"
                      ],
                      "x-readme-ref-name": "CustomerGetResponsePersonType"
                    },
                    "deleted": {
                      "type": "boolean",
                      "description": "Indica se é um cliente deletado",
                      "example": false,
                      "deprecated": false
                    },
                    "additionalEmails": {
                      "type": "string",
                      "description": "E-mails adicionais do cliente",
                      "example": "john.doe@asaas.com,john.doe.silva@asaas.com.br",
                      "deprecated": false
                    },
                    "externalReference": {
                      "type": "string",
                      "description": "Referência externa do cliente",
                      "example": "12987382",
                      "deprecated": false
                    },
                    "notificationDisabled": {
                      "type": "boolean",
                      "description": "Indica se as notificações estão desabilitadas",
                      "example": false,
                      "deprecated": false
                    },
                    "observations": {
                      "type": "string",
                      "description": "Observações do cliente",
                      "example": "ótimo pagador, nenhum problema até o momento",
                      "deprecated": false
                    },
                    "foreignCustomer": {
                      "type": "boolean",
                      "description": "indica se o pagador é estrangeiro",
                      "example": false,
                      "deprecated": false
                    }
                  },
                  "x-readme-ref-name": "CustomerGetResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "error_code",
                      "description": "Descrição do erro"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "invalid_access_token",
                      "description": "A chave de API fornecida é inválida"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        },
        "deprecated": false
      }
    },
    "/v3/customers/{id}/notifications": {
      "get": {
        "tags": [
          "Clientes"
        ],
        "summary": "Recuperar notificações de um cliente",
        "description": "",
        "operationId": "recuperar-notificacoes-de-um-cliente",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identificador único do cliente no Asaas",
            "required": true,
            "schema": {
              "type": "string",
              "example": "cus_000005401844"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "description": "Tipo de objeto",
                      "example": "list",
                      "deprecated": false
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Indica se há mais uma página a ser buscada",
                      "example": false,
                      "deprecated": false
                    },
                    "totalCount": {
                      "type": "integer",
                      "description": "Quantidade total de itens para os filtros informados",
                      "format": "int32",
                      "example": 2,
                      "deprecated": false
                    },
                    "limit": {
                      "type": "integer",
                      "description": "Quantidade de objetos por página",
                      "format": "int32",
                      "example": 10,
                      "deprecated": false
                    },
                    "offset": {
                      "type": "integer",
                      "description": "Posição do objeto a partir do qual a página deve ser carregada",
                      "format": "int32",
                      "example": 0,
                      "deprecated": false
                    },
                    "data": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "object": {
                            "type": "string",
                            "description": "Tipo do objeto",
                            "example": "notification",
                            "deprecated": false
                          },
                          "id": {
                            "type": "string",
                            "description": "Identificador único da notificação",
                            "example": "not_wuGp97JeCr7G",
                            "deprecated": false
                          },
                          "customer": {
                            "type": "string",
                            "description": "Identificador único do cliente",
                            "example": "cus_000005401844",
                            "deprecated": false
                          },
                          "enabled": {
                            "type": "boolean",
                            "description": "Indica se a notificação está habilitada",
                            "example": true,
                            "deprecated": false
                          },
                          "emailEnabledForProvider": {
                            "type": "boolean",
                            "description": "Indica se o e-mail enviado para você está habilitado ou desabilitado",
                            "example": true,
                            "deprecated": false
                          },
                          "smsEnabledForProvider": {
                            "type": "boolean",
                            "description": "Indica se o SMS enviado para você está habilitado ou desabilitado",
                            "example": true,
                            "deprecated": false
                          },
                          "emailEnabledForCustomer": {
                            "type": "boolean",
                            "description": "Indica se o e-mail enviado para o cliente está habilitado ou desabilitado",
                            "example": true,
                            "deprecated": false
                          },
                          "smsEnabledForCustomer": {
                            "type": "boolean",
                            "description": "Indica se o SMS enviado para o cliente está habilitado ou desabilitado",
                            "example": true,
                            "deprecated": false
                          },
                          "phoneCallEnabledForCustomer": {
                            "type": "boolean",
                            "description": "Indica se notificação por voz para o cliente está habilitada ou desabilitada",
                            "example": false,
                            "deprecated": false
                          },
                          "whatsappEnabledForCustomer": {
                            "type": "boolean",
                            "description": "Indica se a notificação por Whatsapp enviado para o cliente está habilitada ou desabilitada",
                            "example": false,
                            "deprecated": false
                          },
                          "event": {
                            "type": "string",
                            "description": "Tipo de evento",
                            "example": "PAYMENT_CREATED",
                            "deprecated": false,
                            "enum": [
                              "PAYMENT_CREATED",
                              "PAYMENT_UPDATED",
                              "PAYMENT_RECEIVED",
                              "PAYMENT_OVERDUE",
                              "PAYMENT_DUEDATE_WARNING",
                              "SEND_LINHA_DIGITAVEL"
                            ],
                            "x-readme-ref-name": "NotificationGetResponseNotificationEvent"
                          },
                          "scheduleOffset": {
                            "type": "integer",
                            "description": "Especifica quantos dias antes do vencimento a notificação deve se enviada. Válido para os eventos `PAYMENT_DUEDATE_WARNING` e `PAYMENT_OVERDUE`",
                            "format": "int32",
                            "example": 1,
                            "deprecated": false,
                            "enum": [
                              0,
                              1,
                              5,
                              7,
                              10,
                              15,
                              30
                            ]
                          },
                          "deleted": {
                            "type": "boolean",
                            "description": "Indica se a notificação foi deletada",
                            "example": true,
                            "deprecated": false,
                            "default": true
                          }
                        },
                        "description": "Lista de informações das notificações",
                        "deprecated": false,
                        "x-readme-ref-name": "NotificationGetResponseDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "NotificationListResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "error_code",
                      "description": "Descrição do erro"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "invalid_access_token",
                      "description": "A chave de API fornecida é inválida"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."
          },
          "404": {
            "description": "Not found"
          }
        },
        "deprecated": false
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Authorization": {
        "type": "apiKey",
        "name": "access_token",
        "in": "header"
      }
    }
  }
}