{
  "openapi": "3.0.1",
  "info": {
    "title": "Asaas",
    "description": "API pública de integração com a plataforma Asaas.",
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.asaas.com",
      "description": "Sandbox"
    }
  ],
  "tags": [
    {
      "name": "Extrato"
    }
  ],
  "security": [
    {
      "Authorization": []
    }
  ],
  "paths": {
    "/v3/financialTransactions": {
      "get": {
        "tags": [
          "Extrato"
        ],
        "summary": "Recuperar extrato",
        "description": "",
        "operationId": "recuperar-extrato",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Elemento inicial da lista",
            "schema": {
              "type": "integer",
              "example": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Número de elementos da lista (max: 100)",
            "schema": {
              "maximum": 100,
              "type": "integer",
              "example": 10
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Data inicial da lista",
            "schema": {
              "type": "string",
              "example": "2023-03-01"
            }
          },
          {
            "name": "finishDate",
            "in": "query",
            "description": "Data final da lista",
            "schema": {
              "type": "string",
              "example": "2023-03-31"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Ordenação do resultado",
            "schema": {
              "type": "string",
              "example": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "description": "Tipo de objeto",
                      "example": "list",
                      "deprecated": false
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Indica se há mais uma página a ser buscada",
                      "example": false,
                      "deprecated": false
                    },
                    "totalCount": {
                      "type": "integer",
                      "description": "Quantidade total de itens para os filtros informados",
                      "format": "int32",
                      "example": 2,
                      "deprecated": false
                    },
                    "limit": {
                      "type": "integer",
                      "description": "Quantidade de objetos por página",
                      "format": "int32",
                      "example": 10,
                      "deprecated": false
                    },
                    "offset": {
                      "type": "integer",
                      "description": "Posição do objeto a partir do qual a página deve ser carregada",
                      "format": "int32",
                      "example": 0,
                      "deprecated": false
                    },
                    "data": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "object": {
                            "type": "string",
                            "description": "Tipo de objeto",
                            "example": "financialTransaction",
                            "deprecated": false
                          },
                          "id": {
                            "type": "string",
                            "description": "Identificador único da transação no Asaas",
                            "example": "ftn_000015274322",
                            "deprecated": false
                          },
                          "value": {
                            "type": "number",
                            "description": "Valor da transação",
                            "example": -5.99,
                            "deprecated": false
                          },
                          "balance": {
                            "type": "number",
                            "description": "Valor em conta no momento da transação",
                            "example": 3772.81,
                            "deprecated": false
                          },
                          "type": {
                            "type": "string",
                            "description": "Tipo de transação",
                            "example": "TRANSFER_FEE",
                            "deprecated": false,
                            "enum": [
                              "PAYMENT_RECEIVED",
                              "TRANSFER",
                              "TRANSFER_FEE",
                              "TRANSFER_REVERSAL",
                              "REVERSAL",
                              "PAYMENT_REVERSAL",
                              "PAYMENT_REFUND_CANCELLED",
                              "PAYMENT_FEE",
                              "PAYMENT_FEE_REVERSAL",
                              "PAYMENT_CUSTODY_BLOCK",
                              "PAYMENT_CUSTODY_BLOCK_REVERSAL",
                              "PHONE_CALL_NOTIFICATION_FEE",
                              "PROMOTIONAL_CODE_CREDIT",
                              "DEBIT",
                              "DEBIT_REVERSAL",
                              "DEBT_RECOVERY_NEGOTIATION_FINANCIAL_CHARGES",
                              "RECEIVABLE_ANTICIPATION_GROSS_CREDIT",
                              "RECEIVABLE_ANTICIPATION_FEE",
                              "RECEIVABLE_ANTICIPATION_DEBIT",
                              "RECEIVABLE_ANTICIPATION_PARTNER_SETTLEMENT",
                              "BILL_PAYMENT",
                              "BILL_PAYMENT_FEE",
                              "BILL_PAYMENT_CANCELLED",
                              "BILL_PAYMENT_FEE_CANCELLED",
                              "BILL_PAYMENT_REFUNDED",
                              "POSTAL_SERVICE_FEE",
                              "INTERNAL_TRANSFER_DEBIT",
                              "INTERNAL_TRANSFER_CREDIT",
                              "INTERNAL_TRANSFER_REVERSAL",
                              "CREDIT",
                              "PARTIAL_PAYMENT",
                              "PAYMENT_MESSAGING_NOTIFICATION_FEE",
                              "PAYMENT_SMS_NOTIFICATION_FEE",
                              "PAYMENT_DUNNING_REQUEST_FEE",
                              "PAYMENT_DUNNING_RECEIVED_FEE",
                              "PAYMENT_DUNNING_RECEIVED_IN_CASH_FEE",
                              "PAYMENT_DUNNING_CANCELLATION_FEE",
                              "CUSTOMER_COMMISSION_SETTLEMENT_CREDIT",
                              "CUSTOMER_COMMISSION_SETTLEMENT_DEBIT",
                              "PROMOTIONAL_CODE_DEBIT",
                              "REFUND_REQUEST_FEE",
                              "REFUND_REQUEST_CANCELLED",
                              "REFUND_REQUEST_FEE_REVERSAL",
                              "INVOICE_FEE",
                              "PRODUCT_INVOICE_FEE",
                              "CONSUMER_INVOICE_FEE",
                              "ASAAS_CARD_RECHARGE",
                              "ASAAS_CARD_RECHARGE_REVERSAL",
                              "ASAAS_CARD_BALANCE_REFUND",
                              "CHARGEBACK",
                              "CHARGEBACK_REVERSAL",
                              "ASAAS_CARD_BILL_PAYMENT",
                              "ASAAS_CARD_BILL_PAYMENT_REFUND",
                              "ASAAS_CARD_SECURED_CREDIT_LIMIT_DEPOSIT",
                              "ASAAS_CARD_SECURED_CREDIT_LIMIT_WITHDRAWAL",
                              "ASAAS_CARD_TRANSACTION",
                              "ASAAS_CARD_CASHBACK",
                              "ASAAS_CARD_CREDIT_TRANSFER",
                              "ASAAS_CARD_CREDIT_TRANSFER_CANCELLATION",
                              "ASAAS_CARD_CREDIT_TRANSFER_PARTIAL_CANCELLATION",
                              "ASAAS_CARD_CREDIT_VOUCHER",
                              "ASAAS_CARD_CREDIT_VOUCHER_REFUND",
                              "ASAAS_CARD_DEBIT_TRANSFER",
                              "ASAAS_CARD_DEBIT_TRANSFER_CANCELLATION",
                              "ASAAS_CARD_DEBIT_TRANSFER_PARTIAL_CANCELLATION",
                              "ASAAS_CARD_TRANSACTION_FEE",
                              "ASAAS_CARD_TRANSACTION_WITHDRAWAL_FEE",
                              "ASAAS_CARD_TRANSACTION_IOF_FEE",
                              "ASAAS_CARD_TRANSACTION_REFUND",
                              "ASAAS_CARD_TRANSACTION_FEE_REFUND",
                              "ASAAS_CARD_TRANSACTION_WITHDRAWAL_FEE_REFUND",
                              "ASAAS_CARD_TRANSACTION_PARTIAL_REFUND",
                              "ASAAS_CARD_TRANSACTION_REFUND_CANCELLATION",
                              "ASAAS_CARD_TRANSACTION_PARTIAL_REFUND_CANCELLATION",
                              "ASAAS_MONEY_PAYMENT_COMPROMISED_BALANCE_REFUND",
                              "ASAAS_MONEY_PAYMENT_ANTICIPATION_FEE_REFUND",
                              "ASAAS_MONEY_PAYMENT_FINANCING_FEE_REFUND",
                              "ASAAS_MONEY_TRANSACTION_CASHBACK_REFUND",
                              "ASAAS_MONEY_TRANSACTION_CHARGEBACK",
                              "ASAAS_MONEY_TRANSACTION_CHARGEBACK_REVERSAL",
                              "CHARGED_FEE_REFUND",
                              "PIX_TRANSACTION_DEBIT",
                              "PIX_TRANSACTION_DEBIT_REFUND",
                              "PIX_TRANSACTION_CREDIT",
                              "PIX_TRANSACTION_CREDIT_FEE",
                              "PIX_TRANSACTION_CREDIT_REFUND",
                              "PIX_TRANSACTION_CREDIT_REFUND_CANCELLATION",
                              "PIX_TRANSACTION_DEBIT_FEE",
                              "CREDIT_BUREAU_REPORT",
                              "CONTRACTUAL_EFFECT_SETTLEMENT",
                              "CONTRACTUAL_EFFECT_SETTLEMENT_REVERSAL",
                              "FREE_PAYMENT_USE",
                              "MOBILE_PHONE_RECHARGE",
                              "REFUND_MOBILE_PHONE_RECHARGE",
                              "CANCEL_MOBILE_PHONE_RECHARGE",
                              "BACEN_JUDICIAL_LOCK",
                              "BACEN_JUDICIAL_UNLOCK",
                              "BACEN_JUDICIAL_TRANSFER",
                              "INSTANT_TEXT_MESSAGE_FEE",
                              "ASAAS_DEBIT_CARD_REQUEST_FEE",
                              "ASAAS_PREPAID_CARD_REQUEST_FEE",
                              "EXTERNAL_SETTLEMENT_CONTRACTUAL_EFFECT_BATCH_CREDIT",
                              "EXTERNAL_SETTLEMENT_CONTRACTUAL_EFFECT_BATCH_REVERSAL",
                              "CHILD_ACCOUNT_KNOWN_YOUR_CUSTOMER_BATCH_FEE",
                              "CONTRACTED_CUSTOMER_PLAN_FEE",
                              "ACCOUNT_INACTIVITY_FEE",
                              "PAYMENT_ORIGIN_CHANNEL_FEE",
                              "PAYMENT_SPLIT_DIVERGENCE_BLOCK",
                              "PAYMENT_SPLIT_DIVERGENCE_BLOCK_REVERSAL",
                              "ACCOUNT_OWNER_PAYMENT_CUSTODY_CONFIG_FEE",
                              "CUSTOMER_PAYMENT_CUSTODY_CONFIG_FEE",
                              "CARD_SALE_ITEM_FEE",
                              "CARD_SALE_ITEM_FEE_REVERSAL",
                              "CARD_SALE_RECEIVED",
                              "CARD_SALE_REVERSAL",
                              "FLAPP_STORE_PLAN_CHARGE_FEE",
                              "FLAPP_STORE_PLAN_CHARGE_FEE_CREDIT",
                              "RECEIVABLE_ANTICIPATION_PAYMENT_FEE",
                              "ASAAS_MONEY_DONATION_DEBIT",
                              "ASAAS_MONEY_DONATION_DEBIT_REFUND",
                              "ASAAS_MONEY_PAYMENT_ANTICIPATION_FEE",
                              "ASAAS_MONEY_PAYMENT_COMPROMISED_BALANCE",
                              "ASAAS_MONEY_PAYMENT_DEBIT",
                              "ASAAS_MONEY_PAYMENT_DEBIT_REFUND",
                              "ASAAS_MONEY_PAYMENT_FINANCING_FEE",
                              "ASAAS_MONEY_TRANSACTION_CASHBACK",
                              "CUSTOMER_ACCOUNT_PAYMENT_BONUS_FEE",
                              "CUSTOMER_COMMISSION_CHECKOUT",
                              "RECEIVABLE_ANTICIPATION_CREDIT"
                            ],
                            "x-readme-ref-name": "FinancialTransactionGetResponseFinancialTransactionType"
                          },
                          "date": {
                            "type": "string",
                            "description": "Data da transação",
                            "format": "date",
                            "example": "2017-06-10",
                            "deprecated": false
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição da transação",
                            "example": "Taxa de transferência para conta bancária",
                            "deprecated": false
                          },
                          "paymentId": {
                            "type": "string",
                            "description": "Identificador da cobrança (Se houver)",
                            "deprecated": false,
                            "example": null
                          },
                          "splitId": {
                            "type": "string",
                            "description": "Identificador do split (Se houver)",
                            "deprecated": false,
                            "example": null
                          },
                          "transferId": {
                            "type": "string",
                            "description": "Identificador da transferência (Se houver)",
                            "example": "b26df110-498b-40ba-b5c6-1428de4d59c7",
                            "deprecated": false
                          },
                          "anticipationId": {
                            "type": "string",
                            "description": "Identificador da antecipação (Se houver)",
                            "deprecated": false,
                            "example": null
                          },
                          "billId": {
                            "type": "string",
                            "description": "Identificador do pagamento de contas (Se houver)",
                            "deprecated": false,
                            "example": null
                          },
                          "invoiceId": {
                            "type": "string",
                            "description": "Identificador da nota fiscal (Se houver)",
                            "deprecated": false,
                            "example": null
                          },
                          "paymentDunningId": {
                            "type": "string",
                            "description": "Identificador da negativação (Se houver)",
                            "deprecated": false,
                            "example": null
                          },
                          "creditBureauReportId": {
                            "type": "string",
                            "description": "Identificador da consulta Serasa (Se houver)",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "FinancialTransactionGetResponseDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "FinancialTransactionListResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "error_code",
                      "description": "Descrição do erro"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "invalid_access_token",
                      "description": "A chave de API fornecida é inválida"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."
          }
        },
        "deprecated": false
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Authorization": {
        "type": "apiKey",
        "name": "access_token",
        "in": "header"
      }
    }
  }
}