{
  "openapi": "3.0.1",
  "info": {
    "title": "Asaas",
    "description": "API pública de integração com a plataforma Asaas.",
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.asaas.com",
      "description": "Sandbox"
    }
  ],
  "tags": [
    {
      "name": "Parcelamentos"
    }
  ],
  "security": [
    {
      "Authorization": []
    }
  ],
  "paths": {
    "/v3/installments": {
      "post": {
        "tags": [
          "Parcelamentos"
        ],
        "summary": "Criar parcelamento",
        "description": "",
        "operationId": "criar-parcelamento",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "installmentCount",
                  "customer",
                  "value",
                  "billingType",
                  "dueDate"
                ],
                "type": "object",
                "properties": {
                  "installmentCount": {
                    "type": "integer",
                    "description": "Número de parcelas",
                    "format": "int32",
                    "nullable": false,
                    "example": 3,
                    "deprecated": false
                  },
                  "customer": {
                    "type": "string",
                    "description": "Identificador único do cliente no Asaas",
                    "nullable": false,
                    "example": "cus_G7Dvo4iphUNk",
                    "deprecated": false
                  },
                  "value": {
                    "type": "number",
                    "description": "Valor de cada parcela",
                    "nullable": false,
                    "example": 100,
                    "deprecated": false
                  },
                  "totalValue": {
                    "type": "number",
                    "description": "Valor total do parcelamento",
                    "example": 150,
                    "deprecated": false
                  },
                  "billingType": {
                    "type": "string",
                    "description": "Forma de pagamento",
                    "nullable": false,
                    "example": "BOLETO",
                    "deprecated": false,
                    "enum": [
                      "UNDEFINED",
                      "BOLETO",
                      "CREDIT_CARD",
                      "PIX"
                    ],
                    "x-readme-ref-name": "InstallmentSaveRequestBillingType"
                  },
                  "dueDate": {
                    "type": "string",
                    "description": "Data de vencimento da primeira parcela",
                    "format": "date",
                    "nullable": false,
                    "example": "2025-07-08",
                    "deprecated": false
                  },
                  "description": {
                    "type": "string",
                    "description": "Descrição do parcelamento (máx. 500 caracteres)",
                    "example": "Parcelamento 08652",
                    "deprecated": false
                  },
                  "postalService": {
                    "type": "boolean",
                    "description": "Define se a cobrança será enviada via Correios",
                    "example": false,
                    "deprecated": false
                  },
                  "daysAfterDueDateToRegistrationCancellation": {
                    "type": "integer",
                    "description": "Dias após o vencimento para cancelamento do registro (somente para boleto bancário)",
                    "format": "int32",
                    "example": 1,
                    "deprecated": false
                  },
                  "paymentExternalReference": {
                    "type": "string",
                    "description": "Campo livre para busca",
                    "example": "056984",
                    "deprecated": false
                  },
                  "discount": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "number",
                        "description": "Valor percentual ou fixo de desconto a ser aplicado sobre o valor da cobrança",
                        "example": 10,
                        "deprecated": false
                      },
                      "dueDateLimitDays": {
                        "type": "integer",
                        "description": "Dias antes do vencimento para aplicar desconto. Ex: 0 = até o vencimento, 1 = até um dia antes, 2 = até dois dias antes, e assim por diante",
                        "format": "int32",
                        "example": 0,
                        "deprecated": false
                      },
                      "type": {
                        "type": "string",
                        "description": "Tipo de desconto",
                        "example": "PERCENTAGE",
                        "deprecated": false,
                        "enum": [
                          "FIXED",
                          "PERCENTAGE"
                        ],
                        "x-readme-ref-name": "PaymentDiscountDiscountType"
                      }
                    },
                    "description": "Informações de desconto",
                    "deprecated": false,
                    "x-readme-ref-name": "PaymentDiscountDTO"
                  },
                  "interest": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "number",
                        "description": "Percentual de juros *ao mês* sobre o valor da cobrança para pagamento após o vencimento",
                        "deprecated": false,
                        "example": null
                      }
                    },
                    "description": "Informações de juros para pagamento após o vencimento",
                    "deprecated": false,
                    "x-readme-ref-name": "PaymentInterestRequestDTO"
                  },
                  "fine": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "number",
                        "description": "Percentual de multa sobre o valor da cobrança para pagamento após o vencimento",
                        "deprecated": false,
                        "example": null
                      },
                      "type": {
                        "type": "string",
                        "description": "Tipo de multa",
                        "example": "FIXED",
                        "deprecated": false,
                        "enum": [
                          "FIXED",
                          "PERCENTAGE"
                        ],
                        "x-readme-ref-name": "PaymentFineRequestFineType"
                      }
                    },
                    "description": "Informações de multa para pagamento após o vencimento",
                    "deprecated": false,
                    "x-readme-ref-name": "PaymentFineRequestDTO"
                  },
                  "splits": {
                    "type": "array",
                    "description": "Configurações do split",
                    "deprecated": false,
                    "items": {
                      "required": [
                        "walletId"
                      ],
                      "type": "object",
                      "properties": {
                        "walletId": {
                          "type": "string",
                          "description": "Identificador da carteira Asaas que será transferido",
                          "nullable": false,
                          "deprecated": false,
                          "example": null
                        },
                        "fixedValue": {
                          "type": "number",
                          "description": "Valor fixo a ser transferido para a conta quando a cobrança for recebida",
                          "deprecated": false,
                          "example": null
                        },
                        "percentualValue": {
                          "type": "number",
                          "description": "Percentual sobre o valor líquido da cobrança a ser transferido quando for recebida",
                          "deprecated": false,
                          "example": null
                        },
                        "totalFixedValue": {
                          "type": "number",
                          "description": "(Somente parcelamentos). Valor que será feito split referente ao valor total que será parcelado.",
                          "deprecated": false,
                          "example": null
                        },
                        "externalReference": {
                          "type": "string",
                          "description": "Identificador do split no seu sistema",
                          "deprecated": false,
                          "example": null
                        },
                        "description": {
                          "type": "string",
                          "description": "Descrição do split",
                          "deprecated": false,
                          "example": null
                        },
                        "installmentNumber": {
                          "type": "integer",
                          "description": "Número da parcela em que o split será vinculado. Não pode ser informado junto com o campo 'totalFixedValue'",
                          "format": "int32",
                          "deprecated": false,
                          "example": null
                        }
                      },
                      "description": "Configurações do split",
                      "deprecated": false,
                      "x-readme-ref-name": "InstallmentSplitRequestDTO"
                    }
                  }
                },
                "x-readme-ref-name": "InstallmentSaveRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "description": "Tipo do objeto",
                      "example": "installment",
                      "deprecated": false
                    },
                    "id": {
                      "type": "string",
                      "description": "Identificador único do parcelamento no Asaas",
                      "example": "2765d086-c7c5-5cca-898a-4262d212587c",
                      "deprecated": false
                    },
                    "value": {
                      "type": "number",
                      "description": "Valor do parcelamento",
                      "example": 360,
                      "deprecated": false
                    },
                    "netValue": {
                      "type": "number",
                      "description": "Valor líquido do parcelamento",
                      "example": 312.12,
                      "deprecated": false
                    },
                    "paymentValue": {
                      "type": "number",
                      "description": "Valor de cada parcela",
                      "example": 30,
                      "deprecated": false
                    },
                    "installmentCount": {
                      "type": "integer",
                      "description": "Número de parcelas",
                      "format": "int32",
                      "example": 12,
                      "deprecated": false
                    },
                    "billingType": {
                      "type": "string",
                      "description": "Forma de pagamento",
                      "example": "CREDIT_CARD",
                      "deprecated": false,
                      "enum": [
                        "UNDEFINED",
                        "BOLETO",
                        "CREDIT_CARD",
                        "DEBIT_CARD",
                        "TRANSFER",
                        "DEPOSIT",
                        "PIX"
                      ],
                      "x-readme-ref-name": "InstallmentGetResponseBillingType"
                    },
                    "paymentDate": {
                      "type": "string",
                      "description": "Data de liquidação da cobrança no Asaas",
                      "format": "date",
                      "deprecated": false,
                      "example": null
                    },
                    "description": {
                      "type": "string",
                      "description": "Descrição do parcelamento",
                      "example": "Pedido 056984",
                      "deprecated": false
                    },
                    "expirationDay": {
                      "type": "integer",
                      "description": "Data de vencimento de cada parcela",
                      "format": "int32",
                      "example": 31,
                      "deprecated": false
                    },
                    "dateCreated": {
                      "type": "string",
                      "description": "Data de criação do parcelamento",
                      "format": "date",
                      "example": "2021-01-19",
                      "deprecated": false
                    },
                    "customer": {
                      "type": "string",
                      "description": "Identificador único do cliente ao qual o parcelamento pertence",
                      "example": "cus_000000001645",
                      "deprecated": false
                    },
                    "paymentLink": {
                      "type": "string",
                      "description": "Identificador único do link de pagamentos ao qual o parcelamento pertence",
                      "example": "997152082166122",
                      "deprecated": false
                    },
                    "checkoutSession": {
                      "type": "string",
                      "description": "Identificador único do checkout",
                      "example": "5a3e564f-81cd-4f4e-9c8e-af43f9ac4287",
                      "deprecated": false
                    },
                    "transactionReceiptUrl": {
                      "type": "string",
                      "description": "URL do comprovante de confirmação, recebimento, estorno ou remoção.",
                      "deprecated": false,
                      "example": null
                    },
                    "chargeback": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Identificador único do chargeback.",
                          "example": "8e784c3e-afe8-4844-bb93-6b445763",
                          "deprecated": false
                        },
                        "payment": {
                          "type": "string",
                          "description": "Identificador único da cobrança no Asaas",
                          "example": "pay_pBtDdshgBD2Rt",
                          "deprecated": false
                        },
                        "installment": {
                          "type": "string",
                          "description": "Identificador único do parcelamento no Asaas",
                          "example": "b8dd74c-d078-40a0-9ae1-61a66c61a204",
                          "deprecated": false
                        },
                        "customerAccount": {
                          "type": "string",
                          "description": "Identificador único do cliente ao qual o chargeback está vinculado.",
                          "example": "cus_000000004085",
                          "deprecated": false
                        },
                        "status": {
                          "type": "string",
                          "description": "Status do chargeback",
                          "example": "DONE",
                          "deprecated": false,
                          "enum": [
                            "REQUESTED",
                            "IN_DISPUTE",
                            "DISPUTE_LOST",
                            "REVERSED",
                            "DONE"
                          ],
                          "x-readme-ref-name": "PaymentChargebackResponseChargebackStatus"
                        },
                        "reason": {
                          "type": "string",
                          "description": "Razão do chargeback",
                          "example": "COMMERCIAL_DISAGREEMENT",
                          "deprecated": false,
                          "enum": [
                            "ABSENCE_OF_PRINT",
                            "ABSENT_CARD_FRAUD",
                            "CARD_ACTIVATED_PHONE_TRANSACTION",
                            "CARD_FRAUD",
                            "CARD_RECOVERY_BULLETIN",
                            "COMMERCIAL_DISAGREEMENT",
                            "COPY_NOT_RECEIVED",
                            "CREDIT_OR_DEBIT_PRESENTATION_ERROR",
                            "DIFFERENT_PAY_METHOD",
                            "FRAUD",
                            "INCORRECT_TRANSACTION_VALUE",
                            "INVALID_CURRENCY",
                            "INVALID_DATA",
                            "LATE_PRESENTATION",
                            "LOCAL_REGULATORY_OR_LEGAL_DISPUTE",
                            "MULTIPLE_ROCS",
                            "ORIGINAL_CREDIT_TRANSACTION_NOT_ACCEPTED",
                            "OTHER_ABSENT_CARD_FRAUD",
                            "PROCESS_ERROR",
                            "RECEIVED_COPY_ILLEGIBLE_OR_INCOMPLETE",
                            "RECURRENCE_CANCELED",
                            "REQUIRED_AUTHORIZATION_NOT_GRANTED",
                            "RIGHT_OF_FULL_RECOURSE_FOR_FRAUD",
                            "SALE_CANCELED",
                            "SERVICE_DISAGREEMENT_OR_DEFECTIVE_PRODUCT",
                            "SERVICE_NOT_RECEIVED",
                            "SPLIT_SALE",
                            "TRANSFERS_OF_DIVERSE_RESPONSIBILITIES",
                            "UNQUALIFIED_CAR_RENTAL_DEBIT",
                            "USA_CARDHOLDER_DISPUTE",
                            "VISA_FRAUD_MONITORING_PROGRAM",
                            "WARNING_BULLETIN_FILE"
                          ],
                          "x-readme-ref-name": "PaymentChargebackResponseChargebackReason"
                        },
                        "disputeStartDate": {
                          "type": "string",
                          "description": "Data de abertura do chargeback.",
                          "format": "date",
                          "example": "2024-11-10",
                          "deprecated": false
                        },
                        "value": {
                          "type": "number",
                          "description": "Valor do chargeback.",
                          "example": 2323.45,
                          "deprecated": false
                        },
                        "paymentDate": {
                          "type": "string",
                          "description": "Data de liquidação da cobrança no Asaas",
                          "format": "date",
                          "example": "2024-03-10",
                          "deprecated": false
                        },
                        "creditCard": {
                          "type": "object",
                          "properties": {
                            "number": {
                              "type": "string",
                              "description": "Últimos 4 dígitos do cartão utilizado",
                              "example": "8829",
                              "deprecated": false
                            },
                            "brand": {
                              "type": "string",
                              "description": "Bandeira do cartão utilizado",
                              "example": "VISA",
                              "deprecated": false,
                              "enum": [
                                "VISA",
                                "MASTERCARD",
                                "ELO",
                                "DINERS",
                                "DISCOVER",
                                "AMEX",
                                "CABAL",
                                "BANESCARD",
                                "CREDZ",
                                "SOROCRED",
                                "CREDSYSTEM",
                                "JCB",
                                "UNKNOWN"
                              ],
                              "x-readme-ref-name": "ChargebackCreditCardResponseCreditCardBrand"
                            }
                          },
                          "description": "Informações do cartão de crédito",
                          "deprecated": false,
                          "x-readme-ref-name": "ChargebackCreditCardResponseDTO"
                        },
                        "disputeStatus": {
                          "type": "string",
                          "description": "Status da disputa do chargeback.",
                          "example": "ACCEPTED",
                          "deprecated": false,
                          "enum": [
                            "REQUESTED",
                            "ACCEPTED",
                            "REJECTED"
                          ],
                          "x-readme-ref-name": "PaymentChargebackResponseChargebackDisputeStatus"
                        },
                        "deadlineToSendDisputeDocuments": {
                          "type": "string",
                          "description": "Data limite para envio de documentos de disputa.",
                          "format": "date",
                          "example": "2024-12-10",
                          "deprecated": false
                        }
                      },
                      "x-readme-ref-name": "PaymentChargebackResponseDTO"
                    },
                    "creditCard": {
                      "type": "object",
                      "properties": {
                        "creditCardNumber": {
                          "type": "string",
                          "description": "Últimos 4 dígitos do cartão utilizado",
                          "example": "8829",
                          "deprecated": false
                        },
                        "creditCardBrand": {
                          "type": "string",
                          "description": "Bandeira do cartão utilizado",
                          "example": "VISA",
                          "deprecated": false,
                          "enum": [
                            "VISA",
                            "MASTERCARD",
                            "ELO",
                            "DINERS",
                            "DISCOVER",
                            "AMEX",
                            "CABAL",
                            "BANESCARD",
                            "CREDZ",
                            "SOROCRED",
                            "CREDSYSTEM",
                            "JCB",
                            "UNKNOWN"
                          ],
                          "x-readme-ref-name": "PaymentSaveWithCreditCardCreditCardCreditCardBrand"
                        },
                        "creditCardToken": {
                          "type": "string",
                          "description": "Token do cartão de crédito caso a tokenização esteja ativa.",
                          "deprecated": false,
                          "example": null
                        }
                      },
                      "description": "Informações do cartão de crédito",
                      "deprecated": false,
                      "x-readme-ref-name": "PaymentSaveWithCreditCardCreditCardDTO"
                    },
                    "deleted": {
                      "type": "boolean",
                      "description": "Indica se o parcelamento foi removido",
                      "example": false,
                      "deprecated": false
                    },
                    "refunds": {
                      "type": "array",
                      "description": "Informações de estorno",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "dateCreated": {
                            "type": "string",
                            "description": "Data da criação do estorno",
                            "format": "date-time",
                            "example": "2024-10-18 10:19:06",
                            "deprecated": false
                          },
                          "status": {
                            "type": "string",
                            "description": "Status do estorno",
                            "example": "DONE",
                            "deprecated": false,
                            "enum": [
                              "PENDING",
                              "AWAITING_CRITICAL_ACTION_AUTHORIZATION",
                              "AWAITING_CUSTOMER_EXTERNAL_AUTHORIZATION",
                              "CANCELLED",
                              "DONE"
                            ],
                            "x-readme-ref-name": "InstallmentRefundResponsePaymentRefundStatus"
                          },
                          "value": {
                            "type": "number",
                            "description": "Valor do estorno",
                            "example": 40,
                            "deprecated": false
                          },
                          "endToEndIdentifier": {
                            "type": "string",
                            "description": "(Apenas pix) Identificador da transação Pix no Banco Central",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do estorno",
                            "deprecated": false,
                            "example": null
                          },
                          "effectiveDate": {
                            "type": "string",
                            "description": "(Apenas pix) Data de efetivação do estorno",
                            "format": "date-time",
                            "example": "2024-10-19 10:19:06",
                            "deprecated": false
                          },
                          "transactionReceiptUrl": {
                            "type": "string",
                            "description": "Link do recibo da transação",
                            "deprecated": false,
                            "example": null
                          },
                          "refundedSplits": {
                            "type": "array",
                            "description": "Lista de splits estornados, se houver",
                            "deprecated": false,
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "Identificador único do split",
                                  "example": "cff860dd-148e-48ca-ac8e-849684175158",
                                  "deprecated": false
                                },
                                "value": {
                                  "type": "number",
                                  "description": "Valor estornado",
                                  "example": 10,
                                  "deprecated": false
                                },
                                "done": {
                                  "type": "boolean",
                                  "description": "Indica se o split foi estornado",
                                  "example": true,
                                  "deprecated": false
                                }
                              },
                              "description": "Lista de splits estornados, se houver",
                              "deprecated": false,
                              "x-readme-ref-name": "PaymentRefundedSplitResponseDTO"
                            }
                          },
                          "paymentId": {
                            "type": "string",
                            "description": "Identificador único da cobrança no Asaas",
                            "example": "pay_080225913252",
                            "deprecated": false
                          }
                        },
                        "description": "Informações de estorno",
                        "deprecated": false,
                        "x-readme-ref-name": "InstallmentRefundResponseDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "InstallmentGetResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "invalid_object",
                      "description": "Informe o número de parcelas."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "invalid_access_token",
                      "description": "A chave de API fornecida é inválida"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "tags": [
          "Parcelamentos"
        ],
        "summary": "Listar parcelamentos",
        "description": "",
        "operationId": "listar-parcelamentos",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Elemento inicial da lista",
            "schema": {
              "type": "integer",
              "example": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Número de elementos da lista (max: 100)",
            "schema": {
              "maximum": 100,
              "type": "integer",
              "example": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "description": "Tipo de objeto",
                      "example": "list",
                      "deprecated": false
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Indica se há mais uma página a ser buscada",
                      "example": false,
                      "deprecated": false
                    },
                    "totalCount": {
                      "type": "integer",
                      "description": "Quantidade total de itens para os filtros informados",
                      "format": "int32",
                      "example": 2,
                      "deprecated": false
                    },
                    "limit": {
                      "type": "integer",
                      "description": "Quantidade de objetos por página",
                      "format": "int32",
                      "example": 10,
                      "deprecated": false
                    },
                    "offset": {
                      "type": "integer",
                      "description": "Posição do objeto a partir do qual a página deve ser carregada",
                      "format": "int32",
                      "example": 0,
                      "deprecated": false
                    },
                    "data": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "object": {
                            "type": "string",
                            "description": "Tipo do objeto",
                            "example": "installment",
                            "deprecated": false
                          },
                          "id": {
                            "type": "string",
                            "description": "Identificador único do parcelamento no Asaas",
                            "example": "2765d086-c7c5-5cca-898a-4262d212587c",
                            "deprecated": false
                          },
                          "value": {
                            "type": "number",
                            "description": "Valor do parcelamento",
                            "example": 360,
                            "deprecated": false
                          },
                          "netValue": {
                            "type": "number",
                            "description": "Valor líquido do parcelamento",
                            "example": 312.12,
                            "deprecated": false
                          },
                          "paymentValue": {
                            "type": "number",
                            "description": "Valor de cada parcela",
                            "example": 30,
                            "deprecated": false
                          },
                          "installmentCount": {
                            "type": "integer",
                            "description": "Número de parcelas",
                            "format": "int32",
                            "example": 12,
                            "deprecated": false
                          },
                          "billingType": {
                            "type": "string",
                            "description": "Forma de pagamento",
                            "example": "CREDIT_CARD",
                            "deprecated": false,
                            "enum": [
                              "UNDEFINED",
                              "BOLETO",
                              "CREDIT_CARD",
                              "DEBIT_CARD",
                              "TRANSFER",
                              "DEPOSIT",
                              "PIX"
                            ],
                            "x-readme-ref-name": "InstallmentGetResponseBillingType"
                          },
                          "paymentDate": {
                            "type": "string",
                            "description": "Data de liquidação da cobrança no Asaas",
                            "format": "date",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do parcelamento",
                            "example": "Pedido 056984",
                            "deprecated": false
                          },
                          "expirationDay": {
                            "type": "integer",
                            "description": "Data de vencimento de cada parcela",
                            "format": "int32",
                            "example": 31,
                            "deprecated": false
                          },
                          "dateCreated": {
                            "type": "string",
                            "description": "Data de criação do parcelamento",
                            "format": "date",
                            "example": "2021-01-19",
                            "deprecated": false
                          },
                          "customer": {
                            "type": "string",
                            "description": "Identificador único do cliente ao qual o parcelamento pertence",
                            "example": "cus_000000001645",
                            "deprecated": false
                          },
                          "paymentLink": {
                            "type": "string",
                            "description": "Identificador único do link de pagamentos ao qual o parcelamento pertence",
                            "example": "997152082166122",
                            "deprecated": false
                          },
                          "checkoutSession": {
                            "type": "string",
                            "description": "Identificador único do checkout",
                            "example": "5a3e564f-81cd-4f4e-9c8e-af43f9ac4287",
                            "deprecated": false
                          },
                          "transactionReceiptUrl": {
                            "type": "string",
                            "description": "URL do comprovante de confirmação, recebimento, estorno ou remoção.",
                            "deprecated": false,
                            "example": null
                          },
                          "chargeback": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Identificador único do chargeback.",
                                "example": "8e784c3e-afe8-4844-bb93-6b445763",
                                "deprecated": false
                              },
                              "payment": {
                                "type": "string",
                                "description": "Identificador único da cobrança no Asaas",
                                "example": "pay_pBtDdshgBD2Rt",
                                "deprecated": false
                              },
                              "installment": {
                                "type": "string",
                                "description": "Identificador único do parcelamento no Asaas",
                                "example": "b8dd74c-d078-40a0-9ae1-61a66c61a204",
                                "deprecated": false
                              },
                              "customerAccount": {
                                "type": "string",
                                "description": "Identificador único do cliente ao qual o chargeback está vinculado.",
                                "example": "cus_000000004085",
                                "deprecated": false
                              },
                              "status": {
                                "type": "string",
                                "description": "Status do chargeback",
                                "example": "DONE",
                                "deprecated": false,
                                "enum": [
                                  "REQUESTED",
                                  "IN_DISPUTE",
                                  "DISPUTE_LOST",
                                  "REVERSED",
                                  "DONE"
                                ],
                                "x-readme-ref-name": "PaymentChargebackResponseChargebackStatus"
                              },
                              "reason": {
                                "type": "string",
                                "description": "Razão do chargeback",
                                "example": "COMMERCIAL_DISAGREEMENT",
                                "deprecated": false,
                                "enum": [
                                  "ABSENCE_OF_PRINT",
                                  "ABSENT_CARD_FRAUD",
                                  "CARD_ACTIVATED_PHONE_TRANSACTION",
                                  "CARD_FRAUD",
                                  "CARD_RECOVERY_BULLETIN",
                                  "COMMERCIAL_DISAGREEMENT",
                                  "COPY_NOT_RECEIVED",
                                  "CREDIT_OR_DEBIT_PRESENTATION_ERROR",
                                  "DIFFERENT_PAY_METHOD",
                                  "FRAUD",
                                  "INCORRECT_TRANSACTION_VALUE",
                                  "INVALID_CURRENCY",
                                  "INVALID_DATA",
                                  "LATE_PRESENTATION",
                                  "LOCAL_REGULATORY_OR_LEGAL_DISPUTE",
                                  "MULTIPLE_ROCS",
                                  "ORIGINAL_CREDIT_TRANSACTION_NOT_ACCEPTED",
                                  "OTHER_ABSENT_CARD_FRAUD",
                                  "PROCESS_ERROR",
                                  "RECEIVED_COPY_ILLEGIBLE_OR_INCOMPLETE",
                                  "RECURRENCE_CANCELED",
                                  "REQUIRED_AUTHORIZATION_NOT_GRANTED",
                                  "RIGHT_OF_FULL_RECOURSE_FOR_FRAUD",
                                  "SALE_CANCELED",
                                  "SERVICE_DISAGREEMENT_OR_DEFECTIVE_PRODUCT",
                                  "SERVICE_NOT_RECEIVED",
                                  "SPLIT_SALE",
                                  "TRANSFERS_OF_DIVERSE_RESPONSIBILITIES",
                                  "UNQUALIFIED_CAR_RENTAL_DEBIT",
                                  "USA_CARDHOLDER_DISPUTE",
                                  "VISA_FRAUD_MONITORING_PROGRAM",
                                  "WARNING_BULLETIN_FILE"
                                ],
                                "x-readme-ref-name": "PaymentChargebackResponseChargebackReason"
                              },
                              "disputeStartDate": {
                                "type": "string",
                                "description": "Data de abertura do chargeback.",
                                "format": "date",
                                "example": "2024-11-10",
                                "deprecated": false
                              },
                              "value": {
                                "type": "number",
                                "description": "Valor do chargeback.",
                                "example": 2323.45,
                                "deprecated": false
                              },
                              "paymentDate": {
                                "type": "string",
                                "description": "Data de liquidação da cobrança no Asaas",
                                "format": "date",
                                "example": "2024-03-10",
                                "deprecated": false
                              },
                              "creditCard": {
                                "type": "object",
                                "properties": {
                                  "number": {
                                    "type": "string",
                                    "description": "Últimos 4 dígitos do cartão utilizado",
                                    "example": "8829",
                                    "deprecated": false
                                  },
                                  "brand": {
                                    "type": "string",
                                    "description": "Bandeira do cartão utilizado",
                                    "example": "VISA",
                                    "deprecated": false,
                                    "enum": [
                                      "VISA",
                                      "MASTERCARD",
                                      "ELO",
                                      "DINERS",
                                      "DISCOVER",
                                      "AMEX",
                                      "CABAL",
                                      "BANESCARD",
                                      "CREDZ",
                                      "SOROCRED",
                                      "CREDSYSTEM",
                                      "JCB",
                                      "UNKNOWN"
                                    ],
                                    "x-readme-ref-name": "ChargebackCreditCardResponseCreditCardBrand"
                                  }
                                },
                                "description": "Informações do cartão de crédito",
                                "deprecated": false,
                                "x-readme-ref-name": "ChargebackCreditCardResponseDTO"
                              },
                              "disputeStatus": {
                                "type": "string",
                                "description": "Status da disputa do chargeback.",
                                "example": "ACCEPTED",
                                "deprecated": false,
                                "enum": [
                                  "REQUESTED",
                                  "ACCEPTED",
                                  "REJECTED"
                                ],
                                "x-readme-ref-name": "PaymentChargebackResponseChargebackDisputeStatus"
                              },
                              "deadlineToSendDisputeDocuments": {
                                "type": "string",
                                "description": "Data limite para envio de documentos de disputa.",
                                "format": "date",
                                "example": "2024-12-10",
                                "deprecated": false
                              }
                            },
                            "x-readme-ref-name": "PaymentChargebackResponseDTO"
                          },
                          "creditCard": {
                            "type": "object",
                            "properties": {
                              "creditCardNumber": {
                                "type": "string",
                                "description": "Últimos 4 dígitos do cartão utilizado",
                                "example": "8829",
                                "deprecated": false
                              },
                              "creditCardBrand": {
                                "type": "string",
                                "description": "Bandeira do cartão utilizado",
                                "example": "VISA",
                                "deprecated": false,
                                "enum": [
                                  "VISA",
                                  "MASTERCARD",
                                  "ELO",
                                  "DINERS",
                                  "DISCOVER",
                                  "AMEX",
                                  "CABAL",
                                  "BANESCARD",
                                  "CREDZ",
                                  "SOROCRED",
                                  "CREDSYSTEM",
                                  "JCB",
                                  "UNKNOWN"
                                ],
                                "x-readme-ref-name": "PaymentSaveWithCreditCardCreditCardCreditCardBrand"
                              },
                              "creditCardToken": {
                                "type": "string",
                                "description": "Token do cartão de crédito caso a tokenização esteja ativa.",
                                "deprecated": false,
                                "example": null
                              }
                            },
                            "description": "Informações do cartão de crédito",
                            "deprecated": false,
                            "x-readme-ref-name": "PaymentSaveWithCreditCardCreditCardDTO"
                          },
                          "deleted": {
                            "type": "boolean",
                            "description": "Indica se o parcelamento foi removido",
                            "example": false,
                            "deprecated": false
                          },
                          "refunds": {
                            "type": "array",
                            "description": "Informações de estorno",
                            "deprecated": false,
                            "items": {
                              "type": "object",
                              "properties": {
                                "dateCreated": {
                                  "type": "string",
                                  "description": "Data da criação do estorno",
                                  "format": "date-time",
                                  "example": "2024-10-18 10:19:06",
                                  "deprecated": false
                                },
                                "status": {
                                  "type": "string",
                                  "description": "Status do estorno",
                                  "example": "DONE",
                                  "deprecated": false,
                                  "enum": [
                                    "PENDING",
                                    "AWAITING_CRITICAL_ACTION_AUTHORIZATION",
                                    "AWAITING_CUSTOMER_EXTERNAL_AUTHORIZATION",
                                    "CANCELLED",
                                    "DONE"
                                  ],
                                  "x-readme-ref-name": "InstallmentRefundResponsePaymentRefundStatus"
                                },
                                "value": {
                                  "type": "number",
                                  "description": "Valor do estorno",
                                  "example": 40,
                                  "deprecated": false
                                },
                                "endToEndIdentifier": {
                                  "type": "string",
                                  "description": "(Apenas pix) Identificador da transação Pix no Banco Central",
                                  "deprecated": false,
                                  "example": null
                                },
                                "description": {
                                  "type": "string",
                                  "description": "Descrição do estorno",
                                  "deprecated": false,
                                  "example": null
                                },
                                "effectiveDate": {
                                  "type": "string",
                                  "description": "(Apenas pix) Data de efetivação do estorno",
                                  "format": "date-time",
                                  "example": "2024-10-19 10:19:06",
                                  "deprecated": false
                                },
                                "transactionReceiptUrl": {
                                  "type": "string",
                                  "description": "Link do recibo da transação",
                                  "deprecated": false,
                                  "example": null
                                },
                                "refundedSplits": {
                                  "type": "array",
                                  "description": "Lista de splits estornados, se houver",
                                  "deprecated": false,
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "description": "Identificador único do split",
                                        "example": "cff860dd-148e-48ca-ac8e-849684175158",
                                        "deprecated": false
                                      },
                                      "value": {
                                        "type": "number",
                                        "description": "Valor estornado",
                                        "example": 10,
                                        "deprecated": false
                                      },
                                      "done": {
                                        "type": "boolean",
                                        "description": "Indica se o split foi estornado",
                                        "example": true,
                                        "deprecated": false
                                      }
                                    },
                                    "description": "Lista de splits estornados, se houver",
                                    "deprecated": false,
                                    "x-readme-ref-name": "PaymentRefundedSplitResponseDTO"
                                  }
                                },
                                "paymentId": {
                                  "type": "string",
                                  "description": "Identificador único da cobrança no Asaas",
                                  "example": "pay_080225913252",
                                  "deprecated": false
                                }
                              },
                              "description": "Informações de estorno",
                              "deprecated": false,
                              "x-readme-ref-name": "InstallmentRefundResponseDTO"
                            }
                          }
                        },
                        "x-readme-ref-name": "InstallmentGetResponseDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "InstallmentListResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "error_code",
                      "description": "Descrição do erro"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "invalid_access_token",
                      "description": "A chave de API fornecida é inválida"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."
          }
        },
        "deprecated": false
      }
    },
    "/v3/installments/": {
      "post": {
        "tags": [
          "Parcelamentos"
        ],
        "summary": "Criar parcelamento com cartão de crédito",
        "description": "",
        "operationId": "criar-parcelamento-com-cartão-de-crédito",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "installmentCount",
                  "customer",
                  "value",
                  "billingType",
                  "dueDate",
                  "creditCard",
                  "creditCardHolderInfo",
                  "remoteIp"
                ],
                "type": "object",
                "properties": {
                  "installmentCount": {
                    "type": "integer",
                    "description": "Número de parcelas",
                    "format": "int32",
                    "nullable": false,
                    "example": 3,
                    "deprecated": false
                  },
                  "customer": {
                    "type": "string",
                    "description": "Identificador único do cliente no Asaas",
                    "nullable": false,
                    "example": "cus_G7Dvo4iphUNk",
                    "deprecated": false
                  },
                  "value": {
                    "type": "number",
                    "description": "Valor de cada parcela",
                    "nullable": false,
                    "example": 100,
                    "deprecated": false
                  },
                  "totalValue": {
                    "type": "number",
                    "description": "Valor total do parcelamento",
                    "example": 150,
                    "deprecated": false
                  },
                  "billingType": {
                    "type": "string",
                    "description": "Forma de pagamento",
                    "nullable": false,
                    "example": "BOLETO",
                    "deprecated": false,
                    "enum": [
                      "UNDEFINED",
                      "BOLETO",
                      "CREDIT_CARD",
                      "PIX"
                    ],
                    "x-readme-ref-name": "InstallmentSaveWithCreditCardRequestBillingType"
                  },
                  "dueDate": {
                    "type": "string",
                    "description": "Data de vencimento da primeira parcela",
                    "format": "date",
                    "nullable": false,
                    "example": "2025-07-08",
                    "deprecated": false
                  },
                  "description": {
                    "type": "string",
                    "description": "Descrição do parcelamento (máx. 500 caracteres)",
                    "example": "Parcelamento 08652",
                    "deprecated": false
                  },
                  "postalService": {
                    "type": "boolean",
                    "description": "Define se a cobrança será enviada via Correios",
                    "example": false,
                    "deprecated": false
                  },
                  "daysAfterDueDateToRegistrationCancellation": {
                    "type": "integer",
                    "description": "Dias após o vencimento para cancelamento do registro (somente para boleto bancário)",
                    "format": "int32",
                    "example": 1,
                    "deprecated": false
                  },
                  "paymentExternalReference": {
                    "type": "string",
                    "description": "Campo livre para busca",
                    "example": "056984",
                    "deprecated": false
                  },
                  "discount": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "number",
                        "description": "Valor percentual ou fixo de desconto a ser aplicado sobre o valor da cobrança",
                        "example": 10,
                        "deprecated": false
                      },
                      "dueDateLimitDays": {
                        "type": "integer",
                        "description": "Dias antes do vencimento para aplicar desconto. Ex: 0 = até o vencimento, 1 = até um dia antes, 2 = até dois dias antes, e assim por diante",
                        "format": "int32",
                        "example": 0,
                        "deprecated": false
                      },
                      "type": {
                        "type": "string",
                        "description": "Tipo de desconto",
                        "example": "PERCENTAGE",
                        "deprecated": false,
                        "enum": [
                          "FIXED",
                          "PERCENTAGE"
                        ],
                        "x-readme-ref-name": "PaymentDiscountDiscountType"
                      }
                    },
                    "description": "Informações de desconto",
                    "deprecated": false,
                    "x-readme-ref-name": "PaymentDiscountDTO"
                  },
                  "interest": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "number",
                        "description": "Percentual de juros *ao mês* sobre o valor da cobrança para pagamento após o vencimento",
                        "deprecated": false,
                        "example": null
                      }
                    },
                    "description": "Informações de juros para pagamento após o vencimento",
                    "deprecated": false,
                    "x-readme-ref-name": "PaymentInterestRequestDTO"
                  },
                  "fine": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "number",
                        "description": "Percentual de multa sobre o valor da cobrança para pagamento após o vencimento",
                        "deprecated": false,
                        "example": null
                      },
                      "type": {
                        "type": "string",
                        "description": "Tipo de multa",
                        "example": "FIXED",
                        "deprecated": false,
                        "enum": [
                          "FIXED",
                          "PERCENTAGE"
                        ],
                        "x-readme-ref-name": "PaymentFineRequestFineType"
                      }
                    },
                    "description": "Informações de multa para pagamento após o vencimento",
                    "deprecated": false,
                    "x-readme-ref-name": "PaymentFineRequestDTO"
                  },
                  "splits": {
                    "type": "array",
                    "description": "Configurações do split",
                    "deprecated": false,
                    "items": {
                      "required": [
                        "walletId"
                      ],
                      "type": "object",
                      "properties": {
                        "walletId": {
                          "type": "string",
                          "description": "Identificador da carteira Asaas que será transferido",
                          "nullable": false,
                          "deprecated": false,
                          "example": null
                        },
                        "fixedValue": {
                          "type": "number",
                          "description": "Valor fixo a ser transferido para a conta quando a cobrança for recebida",
                          "deprecated": false,
                          "example": null
                        },
                        "percentualValue": {
                          "type": "number",
                          "description": "Percentual sobre o valor líquido da cobrança a ser transferido quando for recebida",
                          "deprecated": false,
                          "example": null
                        },
                        "totalFixedValue": {
                          "type": "number",
                          "description": "(Somente parcelamentos). Valor que será feito split referente ao valor total que será parcelado.",
                          "deprecated": false,
                          "example": null
                        },
                        "externalReference": {
                          "type": "string",
                          "description": "Identificador do split no seu sistema",
                          "deprecated": false,
                          "example": null
                        },
                        "description": {
                          "type": "string",
                          "description": "Descrição do split",
                          "deprecated": false,
                          "example": null
                        },
                        "installmentNumber": {
                          "type": "integer",
                          "description": "Número da parcela em que o split será vinculado. Não pode ser informado junto com o campo 'totalFixedValue'",
                          "format": "int32",
                          "deprecated": false,
                          "example": null
                        }
                      },
                      "description": "Configurações do split",
                      "deprecated": false,
                      "x-readme-ref-name": "InstallmentSplitRequestDTO"
                    }
                  },
                  "creditCard": {
                    "required": [
                      "holderName",
                      "number",
                      "expiryMonth",
                      "expiryYear",
                      "ccv"
                    ],
                    "type": "object",
                    "properties": {
                      "holderName": {
                        "type": "string",
                        "description": "Nome impresso no cartão",
                        "nullable": false,
                        "example": "John Doe",
                        "deprecated": false
                      },
                      "number": {
                        "type": "string",
                        "description": "Número do cartão",
                        "nullable": false,
                        "example": "1234567890123456",
                        "deprecated": false
                      },
                      "expiryMonth": {
                        "type": "string",
                        "description": "Mês de expiração com 2 dígitos",
                        "nullable": false,
                        "example": "2",
                        "deprecated": false
                      },
                      "expiryYear": {
                        "type": "string",
                        "description": "Ano de expiração com 4 dígitos",
                        "nullable": false,
                        "example": "2026",
                        "deprecated": false
                      },
                      "ccv": {
                        "type": "string",
                        "description": "Código de segurança",
                        "nullable": false,
                        "example": "123",
                        "deprecated": false
                      }
                    },
                    "description": "Informações do cartão de crédito",
                    "nullable": false,
                    "deprecated": false,
                    "x-readme-ref-name": "CreditCardRequestDTO"
                  },
                  "creditCardHolderInfo": {
                    "required": [
                      "name",
                      "email",
                      "cpfCnpj",
                      "postalCode",
                      "addressNumber",
                      "phone"
                    ],
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Nome do titular do cartão",
                        "nullable": false,
                        "example": "John Doe",
                        "deprecated": false
                      },
                      "email": {
                        "type": "string",
                        "description": "Email do titular do cartão",
                        "nullable": false,
                        "example": "john.doe@asaas.com",
                        "deprecated": false
                      },
                      "cpfCnpj": {
                        "type": "string",
                        "description": "CPF ou CNPJ do titular do cartão",
                        "nullable": false,
                        "example": "12345678901",
                        "deprecated": false
                      },
                      "postalCode": {
                        "type": "string",
                        "description": "CEP do titular do cartão",
                        "nullable": false,
                        "example": "12345678",
                        "deprecated": false
                      },
                      "addressNumber": {
                        "type": "string",
                        "description": "Número do endereço do titular do cartão",
                        "nullable": false,
                        "example": "123",
                        "deprecated": false
                      },
                      "addressComplement": {
                        "type": "string",
                        "description": "Complemento do endereço do titular do cartão",
                        "deprecated": false,
                        "example": null
                      },
                      "phone": {
                        "type": "string",
                        "description": "Telefone com DDD do titular do cartão",
                        "nullable": false,
                        "deprecated": false,
                        "example": null
                      },
                      "mobilePhone": {
                        "type": "string",
                        "description": "Celular do titular do cartão",
                        "deprecated": false,
                        "example": null
                      }
                    },
                    "description": "Informações do titular do cartão de crédito",
                    "nullable": false,
                    "deprecated": false,
                    "x-readme-ref-name": "CreditCardHolderInfoRequestDTO"
                  },
                  "creditCardToken": {
                    "type": "string",
                    "description": "Token do cartão de crédito para uso da funcionalidade de tokenização de cartão de crédito. Caso informado, os campos creditCard e creditCardHolderInfo não são obrigatórios.",
                    "example": "a75a1d98-c52d-4a6b-a413-71e00b193c99",
                    "deprecated": false
                  },
                  "authorizeOnly": {
                    "type": "boolean",
                    "description": "Realizar apenas a Pré-Autorização do parcelamento",
                    "deprecated": false,
                    "example": null
                  },
                  "remoteIp": {
                    "type": "string",
                    "description": "IP de onde o cliente está fazendo a compra. Não deve ser informado o IP do seu servidor.",
                    "nullable": false,
                    "deprecated": false,
                    "example": null
                  }
                },
                "x-readme-ref-name": "InstallmentSaveWithCreditCardRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "description": "Tipo do objeto",
                      "example": "installment",
                      "deprecated": false
                    },
                    "id": {
                      "type": "string",
                      "description": "Identificador único do parcelamento no Asaas",
                      "example": "2765d086-c7c5-5cca-898a-4262d212587c",
                      "deprecated": false
                    },
                    "value": {
                      "type": "number",
                      "description": "Valor do parcelamento",
                      "example": 360,
                      "deprecated": false
                    },
                    "netValue": {
                      "type": "number",
                      "description": "Valor líquido do parcelamento",
                      "example": 312.12,
                      "deprecated": false
                    },
                    "paymentValue": {
                      "type": "number",
                      "description": "Valor de cada parcela",
                      "example": 30,
                      "deprecated": false
                    },
                    "installmentCount": {
                      "type": "integer",
                      "description": "Número de parcelas",
                      "format": "int32",
                      "example": 12,
                      "deprecated": false
                    },
                    "billingType": {
                      "type": "string",
                      "description": "Forma de pagamento",
                      "example": "CREDIT_CARD",
                      "deprecated": false,
                      "enum": [
                        "UNDEFINED",
                        "BOLETO",
                        "CREDIT_CARD",
                        "DEBIT_CARD",
                        "TRANSFER",
                        "DEPOSIT",
                        "PIX"
                      ],
                      "x-readme-ref-name": "InstallmentGetResponseBillingType"
                    },
                    "paymentDate": {
                      "type": "string",
                      "description": "Data de liquidação da cobrança no Asaas",
                      "format": "date",
                      "deprecated": false,
                      "example": null
                    },
                    "description": {
                      "type": "string",
                      "description": "Descrição do parcelamento",
                      "example": "Pedido 056984",
                      "deprecated": false
                    },
                    "expirationDay": {
                      "type": "integer",
                      "description": "Data de vencimento de cada parcela",
                      "format": "int32",
                      "example": 31,
                      "deprecated": false
                    },
                    "dateCreated": {
                      "type": "string",
                      "description": "Data de criação do parcelamento",
                      "format": "date",
                      "example": "2021-01-19",
                      "deprecated": false
                    },
                    "customer": {
                      "type": "string",
                      "description": "Identificador único do cliente ao qual o parcelamento pertence",
                      "example": "cus_000000001645",
                      "deprecated": false
                    },
                    "paymentLink": {
                      "type": "string",
                      "description": "Identificador único do link de pagamentos ao qual o parcelamento pertence",
                      "example": "997152082166122",
                      "deprecated": false
                    },
                    "checkoutSession": {
                      "type": "string",
                      "description": "Identificador único do checkout",
                      "example": "5a3e564f-81cd-4f4e-9c8e-af43f9ac4287",
                      "deprecated": false
                    },
                    "transactionReceiptUrl": {
                      "type": "string",
                      "description": "URL do comprovante de confirmação, recebimento, estorno ou remoção.",
                      "deprecated": false,
                      "example": null
                    },
                    "chargeback": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Identificador único do chargeback.",
                          "example": "8e784c3e-afe8-4844-bb93-6b445763",
                          "deprecated": false
                        },
                        "payment": {
                          "type": "string",
                          "description": "Identificador único da cobrança no Asaas",
                          "example": "pay_pBtDdshgBD2Rt",
                          "deprecated": false
                        },
                        "installment": {
                          "type": "string",
                          "description": "Identificador único do parcelamento no Asaas",
                          "example": "b8dd74c-d078-40a0-9ae1-61a66c61a204",
                          "deprecated": false
                        },
                        "customerAccount": {
                          "type": "string",
                          "description": "Identificador único do cliente ao qual o chargeback está vinculado.",
                          "example": "cus_000000004085",
                          "deprecated": false
                        },
                        "status": {
                          "type": "string",
                          "description": "Status do chargeback",
                          "example": "DONE",
                          "deprecated": false,
                          "enum": [
                            "REQUESTED",
                            "IN_DISPUTE",
                            "DISPUTE_LOST",
                            "REVERSED",
                            "DONE"
                          ],
                          "x-readme-ref-name": "PaymentChargebackResponseChargebackStatus"
                        },
                        "reason": {
                          "type": "string",
                          "description": "Razão do chargeback",
                          "example": "COMMERCIAL_DISAGREEMENT",
                          "deprecated": false,
                          "enum": [
                            "ABSENCE_OF_PRINT",
                            "ABSENT_CARD_FRAUD",
                            "CARD_ACTIVATED_PHONE_TRANSACTION",
                            "CARD_FRAUD",
                            "CARD_RECOVERY_BULLETIN",
                            "COMMERCIAL_DISAGREEMENT",
                            "COPY_NOT_RECEIVED",
                            "CREDIT_OR_DEBIT_PRESENTATION_ERROR",
                            "DIFFERENT_PAY_METHOD",
                            "FRAUD",
                            "INCORRECT_TRANSACTION_VALUE",
                            "INVALID_CURRENCY",
                            "INVALID_DATA",
                            "LATE_PRESENTATION",
                            "LOCAL_REGULATORY_OR_LEGAL_DISPUTE",
                            "MULTIPLE_ROCS",
                            "ORIGINAL_CREDIT_TRANSACTION_NOT_ACCEPTED",
                            "OTHER_ABSENT_CARD_FRAUD",
                            "PROCESS_ERROR",
                            "RECEIVED_COPY_ILLEGIBLE_OR_INCOMPLETE",
                            "RECURRENCE_CANCELED",
                            "REQUIRED_AUTHORIZATION_NOT_GRANTED",
                            "RIGHT_OF_FULL_RECOURSE_FOR_FRAUD",
                            "SALE_CANCELED",
                            "SERVICE_DISAGREEMENT_OR_DEFECTIVE_PRODUCT",
                            "SERVICE_NOT_RECEIVED",
                            "SPLIT_SALE",
                            "TRANSFERS_OF_DIVERSE_RESPONSIBILITIES",
                            "UNQUALIFIED_CAR_RENTAL_DEBIT",
                            "USA_CARDHOLDER_DISPUTE",
                            "VISA_FRAUD_MONITORING_PROGRAM",
                            "WARNING_BULLETIN_FILE"
                          ],
                          "x-readme-ref-name": "PaymentChargebackResponseChargebackReason"
                        },
                        "disputeStartDate": {
                          "type": "string",
                          "description": "Data de abertura do chargeback.",
                          "format": "date",
                          "example": "2024-11-10",
                          "deprecated": false
                        },
                        "value": {
                          "type": "number",
                          "description": "Valor do chargeback.",
                          "example": 2323.45,
                          "deprecated": false
                        },
                        "paymentDate": {
                          "type": "string",
                          "description": "Data de liquidação da cobrança no Asaas",
                          "format": "date",
                          "example": "2024-03-10",
                          "deprecated": false
                        },
                        "creditCard": {
                          "type": "object",
                          "properties": {
                            "number": {
                              "type": "string",
                              "description": "Últimos 4 dígitos do cartão utilizado",
                              "example": "8829",
                              "deprecated": false
                            },
                            "brand": {
                              "type": "string",
                              "description": "Bandeira do cartão utilizado",
                              "example": "VISA",
                              "deprecated": false,
                              "enum": [
                                "VISA",
                                "MASTERCARD",
                                "ELO",
                                "DINERS",
                                "DISCOVER",
                                "AMEX",
                                "CABAL",
                                "BANESCARD",
                                "CREDZ",
                                "SOROCRED",
                                "CREDSYSTEM",
                                "JCB",
                                "UNKNOWN"
                              ],
                              "x-readme-ref-name": "ChargebackCreditCardResponseCreditCardBrand"
                            }
                          },
                          "description": "Informações do cartão de crédito",
                          "deprecated": false,
                          "x-readme-ref-name": "ChargebackCreditCardResponseDTO"
                        },
                        "disputeStatus": {
                          "type": "string",
                          "description": "Status da disputa do chargeback.",
                          "example": "ACCEPTED",
                          "deprecated": false,
                          "enum": [
                            "REQUESTED",
                            "ACCEPTED",
                            "REJECTED"
                          ],
                          "x-readme-ref-name": "PaymentChargebackResponseChargebackDisputeStatus"
                        },
                        "deadlineToSendDisputeDocuments": {
                          "type": "string",
                          "description": "Data limite para envio de documentos de disputa.",
                          "format": "date",
                          "example": "2024-12-10",
                          "deprecated": false
                        }
                      },
                      "x-readme-ref-name": "PaymentChargebackResponseDTO"
                    },
                    "creditCard": {
                      "type": "object",
                      "properties": {
                        "creditCardNumber": {
                          "type": "string",
                          "description": "Últimos 4 dígitos do cartão utilizado",
                          "example": "8829",
                          "deprecated": false
                        },
                        "creditCardBrand": {
                          "type": "string",
                          "description": "Bandeira do cartão utilizado",
                          "example": "VISA",
                          "deprecated": false,
                          "enum": [
                            "VISA",
                            "MASTERCARD",
                            "ELO",
                            "DINERS",
                            "DISCOVER",
                            "AMEX",
                            "CABAL",
                            "BANESCARD",
                            "CREDZ",
                            "SOROCRED",
                            "CREDSYSTEM",
                            "JCB",
                            "UNKNOWN"
                          ],
                          "x-readme-ref-name": "PaymentSaveWithCreditCardCreditCardCreditCardBrand"
                        },
                        "creditCardToken": {
                          "type": "string",
                          "description": "Token do cartão de crédito caso a tokenização esteja ativa.",
                          "deprecated": false,
                          "example": null
                        }
                      },
                      "description": "Informações do cartão de crédito",
                      "deprecated": false,
                      "x-readme-ref-name": "PaymentSaveWithCreditCardCreditCardDTO"
                    },
                    "deleted": {
                      "type": "boolean",
                      "description": "Indica se o parcelamento foi removido",
                      "example": false,
                      "deprecated": false
                    },
                    "refunds": {
                      "type": "array",
                      "description": "Informações de estorno",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "dateCreated": {
                            "type": "string",
                            "description": "Data da criação do estorno",
                            "format": "date-time",
                            "example": "2024-10-18 10:19:06",
                            "deprecated": false
                          },
                          "status": {
                            "type": "string",
                            "description": "Status do estorno",
                            "example": "DONE",
                            "deprecated": false,
                            "enum": [
                              "PENDING",
                              "AWAITING_CRITICAL_ACTION_AUTHORIZATION",
                              "AWAITING_CUSTOMER_EXTERNAL_AUTHORIZATION",
                              "CANCELLED",
                              "DONE"
                            ],
                            "x-readme-ref-name": "InstallmentRefundResponsePaymentRefundStatus"
                          },
                          "value": {
                            "type": "number",
                            "description": "Valor do estorno",
                            "example": 40,
                            "deprecated": false
                          },
                          "endToEndIdentifier": {
                            "type": "string",
                            "description": "(Apenas pix) Identificador da transação Pix no Banco Central",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do estorno",
                            "deprecated": false,
                            "example": null
                          },
                          "effectiveDate": {
                            "type": "string",
                            "description": "(Apenas pix) Data de efetivação do estorno",
                            "format": "date-time",
                            "example": "2024-10-19 10:19:06",
                            "deprecated": false
                          },
                          "transactionReceiptUrl": {
                            "type": "string",
                            "description": "Link do recibo da transação",
                            "deprecated": false,
                            "example": null
                          },
                          "refundedSplits": {
                            "type": "array",
                            "description": "Lista de splits estornados, se houver",
                            "deprecated": false,
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "Identificador único do split",
                                  "example": "cff860dd-148e-48ca-ac8e-849684175158",
                                  "deprecated": false
                                },
                                "value": {
                                  "type": "number",
                                  "description": "Valor estornado",
                                  "example": 10,
                                  "deprecated": false
                                },
                                "done": {
                                  "type": "boolean",
                                  "description": "Indica se o split foi estornado",
                                  "example": true,
                                  "deprecated": false
                                }
                              },
                              "description": "Lista de splits estornados, se houver",
                              "deprecated": false,
                              "x-readme-ref-name": "PaymentRefundedSplitResponseDTO"
                            }
                          },
                          "paymentId": {
                            "type": "string",
                            "description": "Identificador único da cobrança no Asaas",
                            "example": "pay_080225913252",
                            "deprecated": false
                          }
                        },
                        "description": "Informações de estorno",
                        "deprecated": false,
                        "x-readme-ref-name": "InstallmentRefundResponseDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "InstallmentGetResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
[...]
