{
  "openapi": "3.0.1",
  "info": {
    "title": "Asaas",
    "description": "API pública de integração com a plataforma Asaas.",
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.asaas.com",
      "description": "Sandbox"
    }
  ],
  "tags": [
    {
      "name": "Cobranças com dados resumidos"
    }
  ],
  "security": [
    {
      "Authorization": []
    }
  ],
  "paths": {
    "/v3/lean/payments": {
      "post": {
        "tags": [
          "Cobranças com dados resumidos"
        ],
        "summary": "Criar nova cobrança com dados resumidos na resposta",
        "description": "",
        "operationId": "criar-nova-cobranca-com-dados-resumidos-na-resposta",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "customer",
                  "billingType",
                  "value",
                  "dueDate"
                ],
                "type": "object",
                "properties": {
                  "customer": {
                    "type": "string",
                    "description": "Identificador único do cliente no Asaas",
                    "nullable": false,
                    "example": "cus_G7Dvo4iphUNk",
                    "deprecated": false
                  },
                  "billingType": {
                    "type": "string",
                    "description": "Forma de pagamento",
                    "nullable": false,
                    "example": "BOLETO",
                    "deprecated": false,
                    "enum": [
                      "UNDEFINED",
                      "BOLETO",
                      "CREDIT_CARD",
                      "PIX"
                    ],
                    "x-readme-ref-name": "PaymentSaveRequestBillingType"
                  },
                  "value": {
                    "type": "number",
                    "description": "Valor da cobrança",
                    "nullable": false,
                    "example": 129.9,
                    "deprecated": false
                  },
                  "dueDate": {
                    "type": "string",
                    "description": "Data de vencimento da cobrança",
                    "format": "date",
                    "nullable": false,
                    "example": "2017-06-10",
                    "deprecated": false
                  },
                  "description": {
                    "type": "string",
                    "description": "Descrição da cobrança (máx. 500 caracteres)",
                    "example": "Pedido 056984",
                    "deprecated": false
                  },
                  "daysAfterDueDateToRegistrationCancellation": {
                    "type": "integer",
                    "description": "Dias após o vencimento para cancelamento do registro (somente para boleto bancário)",
                    "format": "int32",
                    "example": 1,
                    "deprecated": false
                  },
                  "externalReference": {
                    "type": "string",
                    "description": "Campo livre para busca",
                    "example": "056984",
                    "deprecated": false
                  },
                  "installmentCount": {
                    "type": "integer",
                    "description": "Número de parcelas (somente no caso de cobrança parcelada)",
                    "format": "int32",
                    "deprecated": false,
                    "example": null
                  },
                  "totalValue": {
                    "type": "number",
                    "description": "Informe o valor total de uma cobrança que será parcelada (somente no caso de cobrança parcelada). Caso enviado este campo o installmentValue não é necessário, o cálculo por parcela será automático.",
                    "deprecated": false,
                    "example": null
                  },
                  "installmentValue": {
                    "type": "number",
                    "description": "Valor de cada parcela (somente no caso de cobrança parcelada). Envie este campo em caso de querer definir o valor de cada parcela.",
                    "deprecated": false,
                    "example": null
                  },
                  "discount": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "number",
                        "description": "Valor percentual ou fixo de desconto a ser aplicado sobre o valor da cobrança",
                        "example": 10,
                        "deprecated": false
                      },
                      "dueDateLimitDays": {
                        "type": "integer",
                        "description": "Dias antes do vencimento para aplicar desconto. Ex: 0 = até o vencimento, 1 = até um dia antes, 2 = até dois dias antes, e assim por diante",
                        "format": "int32",
                        "example": 0,
                        "deprecated": false
                      },
                      "type": {
                        "type": "string",
                        "description": "Tipo de desconto",
                        "example": "PERCENTAGE",
                        "deprecated": false,
                        "enum": [
                          "FIXED",
                          "PERCENTAGE"
                        ],
                        "x-readme-ref-name": "PaymentDiscountDiscountType"
                      }
                    },
                    "description": "Informações de desconto",
                    "deprecated": false,
                    "x-readme-ref-name": "PaymentDiscountDTO"
                  },
                  "interest": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "number",
                        "description": "Percentual de juros *ao mês* sobre o valor da cobrança para pagamento após o vencimento",
                        "deprecated": false,
                        "example": null
                      }
                    },
                    "description": "Informações de juros para pagamento após o vencimento",
                    "deprecated": false,
                    "x-readme-ref-name": "PaymentInterestRequestDTO"
                  },
                  "fine": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "number",
                        "description": "Percentual de multa sobre o valor da cobrança para pagamento após o vencimento",
                        "deprecated": false,
                        "example": null
                      },
                      "type": {
                        "type": "string",
                        "description": "Tipo de multa",
                        "example": "FIXED",
                        "deprecated": false,
                        "enum": [
                          "FIXED",
                          "PERCENTAGE"
                        ],
                        "x-readme-ref-name": "PaymentFineRequestFineType"
                      }
                    },
                    "description": "Informações de multa para pagamento após o vencimento",
                    "deprecated": false,
                    "x-readme-ref-name": "PaymentFineRequestDTO"
                  },
                  "postalService": {
                    "type": "boolean",
                    "description": "Define se a cobrança será enviada via Correios",
                    "example": false,
                    "deprecated": false
                  },
                  "split": {
                    "type": "array",
                    "description": "Configurações do split",
                    "deprecated": false,
                    "items": {
                      "required": [
                        "walletId"
                      ],
                      "type": "object",
                      "properties": {
                        "walletId": {
                          "type": "string",
                          "description": "Identificador da carteira Asaas que será transferido",
                          "nullable": false,
                          "deprecated": false,
                          "example": null
                        },
                        "fixedValue": {
                          "type": "number",
                          "description": "Valor fixo a ser transferido para a conta quando a cobrança for recebida",
                          "deprecated": false,
                          "example": null
                        },
                        "percentualValue": {
                          "type": "number",
                          "description": "Percentual sobre o valor líquido da cobrança a ser transferido quando for recebida",
                          "deprecated": false,
                          "example": null
                        },
                        "totalFixedValue": {
                          "type": "number",
                          "description": "(Somente parcelamentos). Valor que será feito split referente ao valor total que será parcelado.",
                          "deprecated": false,
                          "example": null
                        },
                        "externalReference": {
                          "type": "string",
                          "description": "Identificador do split no seu sistema",
                          "deprecated": false,
                          "example": null
                        },
                        "description": {
                          "type": "string",
                          "description": "Descrição do split",
                          "deprecated": false,
                          "example": null
                        }
                      },
                      "description": "Configurações do split",
                      "deprecated": false,
                      "x-readme-ref-name": "PaymentSplitRequestDTO"
                    }
                  },
                  "callback": {
                    "required": [
                      "successUrl"
                    ],
                    "type": "object",
                    "properties": {
                      "successUrl": {
                        "maxLength": 255,
                        "type": "string",
                        "description": "URL que o cliente será redirecionado após o pagamento com sucesso da fatura ou link de pagamento",
                        "nullable": false,
                        "deprecated": false,
                        "example": null
                      },
                      "autoRedirect": {
                        "type": "boolean",
                        "description": "Definir se o cliente será redirecionado automaticamente ou será apenas informado com um botão para retornar ao site. O padrão é true, caso queira desativar informar false",
                        "deprecated": false,
                        "example": null
                      }
                    },
                    "description": "Informações de redirecionamento automático após pagamento do link de pagamento",
                    "deprecated": false,
                    "x-readme-ref-name": "PaymentCallbackRequestDTO"
                  },
                  "pixAutomaticAuthorizationId": {
                    "type": "string",
                    "description": "Identificador único da autorização do Pix Automático no Asaas",
                    "example": "89060430-aceb-447c-a981-07ee15daf00c",
                    "deprecated": false
                  }
                },
                "x-readme-ref-name": "PaymentSaveRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "description": "Tipo do objeto",
                      "example": "payment",
                      "deprecated": false
                    },
                    "id": {
                      "type": "string",
                      "description": "Identificador único da cobrança no Asaas",
                      "example": "pay_080225913252",
                      "deprecated": false
                    },
                    "dateCreated": {
                      "type": "string",
                      "description": "Data de criação da cobrança",
                      "format": "date",
                      "example": "2017-03-10",
                      "deprecated": false
                    },
                    "customerId": {
                      "type": "string",
                      "description": "Identificador único do cliente ao qual a cobrança pertence",
                      "example": "cus_G7Dvo4iphUNk",
                      "deprecated": false
                    },
                    "subscriptionId": {
                      "type": "string",
                      "description": "Identificador único da assinatura (quando cobrança recorrente)",
                      "deprecated": false,
                      "example": null
                    },
                    "installmentId": {
                      "type": "string",
                      "description": "Identificador único do parcelamento (quando cobrança parcelada)",
                      "deprecated": false,
                      "example": null
                    },
                    "paymentLinkId": {
                      "type": "string",
                      "description": "Identificador único do link de pagamentos ao qual a cobrança pertence",
                      "deprecated": false,
                      "example": null
                    },
                    "value": {
                      "type": "number",
                      "description": "Valor da cobrança",
                      "example": 129.9,
                      "deprecated": false
                    },
                    "netValue": {
                      "type": "number",
                      "description": "Valor líquido da cobrança após desconto da tarifa do Asaas",
                      "example": 124.9,
                      "deprecated": false
                    },
                    "originalValue": {
                      "type": "number",
                      "description": "Valor original da cobrança (preenchido quando paga com juros e multa)",
                      "deprecated": false,
                      "example": null
                    },
                    "interestValue": {
                      "type": "number",
                      "description": "Valor calculado de juros e multa que deve ser pago após o vencimento da cobrança",
                      "deprecated": false,
                      "example": null
                    },
                    "description": {
                      "type": "string",
                      "description": "Descrição da cobrança",
                      "example": "Pedido 056984",
                      "deprecated": false
                    },
                    "billingType": {
                      "type": "string",
                      "description": "Forma de pagamento",
                      "example": "BOLETO",
                      "deprecated": false,
                      "enum": [
                        "UNDEFINED",
                        "BOLETO",
                        "CREDIT_CARD",
                        "DEBIT_CARD",
                        "TRANSFER",
                        "DEPOSIT",
                        "PIX"
                      ],
                      "x-readme-ref-name": "PaymentLeanGetResponseBillingType"
                    },
                    "canBePaidAfterDueDate": {
                      "type": "boolean",
                      "description": "Informa se a cobrança pode ser paga após o vencimento (Somente para boleto)",
                      "example": true,
                      "deprecated": false
                    },
                    "confirmedDate": {
                      "type": "string",
                      "description": "Data de confirmação da cobrança",
                      "format": "date",
                      "example": "2017-03-10",
                      "deprecated": false
                    },
                    "pixTransactionId": {
                      "type": "string",
                      "description": "Identificador único da transação Pix à qual a cobrança pertence",
                      "deprecated": false,
                      "example": null
                    },
                    "status": {
                      "type": "string",
                      "description": "Status da cobrança",
                      "example": "PENDING",
                      "deprecated": false,
                      "enum": [
                        "PENDING",
                        "RECEIVED",
                        "CONFIRMED",
                        "OVERDUE",
                        "REFUNDED",
                        "RECEIVED_IN_CASH",
                        "REFUND_REQUESTED",
                        "REFUND_IN_PROGRESS",
                        "CHARGEBACK_REQUESTED",
                        "CHARGEBACK_DISPUTE",
                        "AWAITING_CHARGEBACK_REVERSAL",
                        "DUNNING_REQUESTED",
                        "DUNNING_RECEIVED",
                        "AWAITING_RISK_ANALYSIS"
                      ],
                      "x-readme-ref-name": "PaymentLeanGetResponsePaymentStatus"
                    },
                    "dueDate": {
                      "type": "string",
                      "description": "Data de vencimento da cobrança",
                      "format": "date",
                      "example": "2017-06-10",
                      "deprecated": false
                    },
                    "originalDueDate": {
                      "type": "string",
                      "description": "Vencimento original no ato da criação da cobrança",
                      "format": "date",
                      "example": "2017-06-10",
                      "deprecated": false
                    },
                    "paymentDate": {
                      "type": "string",
                      "description": "Data de liquidação da cobrança no Asaas",
                      "format": "date",
                      "deprecated": false,
                      "example": null
                    },
                    "customerPaymentDate": {
                      "type": "string",
                      "description": "Data em que o cliente efetuou o pagamento do boleto",
                      "format": "date",
                      "deprecated": false,
                      "example": null
                    },
                    "installmentNumber": {
                      "type": "integer",
                      "description": "Número da parcela",
                      "format": "int32",
                      "deprecated": false,
                      "example": null
                    },
                    "externalReference": {
                      "type": "string",
                      "description": "Campo livre para busca",
                      "example": "056984",
                      "deprecated": false
                    },
                    "deleted": {
                      "type": "boolean",
                      "description": "Determina se a cobrança foi removida",
                      "example": false,
                      "deprecated": false
                    },
                    "anticipated": {
                      "type": "boolean",
                      "description": "Define se a cobrança foi antecipada ou está em processo de antecipação",
                      "example": false,
                      "deprecated": false
                    },
                    "anticipable": {
                      "type": "boolean",
                      "description": "Determina se a cobrança é antecipável",
                      "example": false,
                      "deprecated": false
                    },
                    "creditDate": {
                      "type": "string",
                      "description": "Data de crédito da cobrança",
                      "example": "2017-03-10",
                      "deprecated": false
                    },
                    "transactionReceiptUrl": {
                      "type": "string",
                      "description": "URL do comprovante de confirmação, recebimento, estorno ou remoção.",
                      "deprecated": false,
                      "example": null
                    },
                    "duplicatedPaymentId": {
                      "type": "string",
                      "description": "Identificador de cobrança duplicada (caso verdadeiro)",
                      "deprecated": false,
                      "example": null
                    },
                    "discount": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "number",
                          "description": "Valor percentual ou fixo de desconto a ser aplicado sobre o valor da cobrança",
                          "example": 10,
                          "deprecated": false
                        },
                        "dueDateLimitDays": {
                          "type": "integer",
                          "description": "Dias antes do vencimento para aplicar desconto. Ex: 0 = até o vencimento, 1 = até um dia antes, 2 = até dois dias antes, e assim por diante",
                          "format": "int32",
                          "example": 0,
                          "deprecated": false
                        },
                        "type": {
                          "type": "string",
                          "description": "Tipo de desconto",
                          "example": "PERCENTAGE",
                          "deprecated": false,
                          "enum": [
                            "FIXED",
                            "PERCENTAGE"
                          ],
                          "x-readme-ref-name": "PaymentDiscountDiscountType"
                        }
                      },
                      "description": "Informações de desconto",
                      "deprecated": false,
                      "x-readme-ref-name": "PaymentDiscountDTO"
                    },
                    "fine": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "number",
                          "description": "Valor da multa em porcentagem",
                          "example": 1,
                          "deprecated": false
                        }
                      },
                      "description": "Informações de multa para pagamento após o vencimento",
                      "deprecated": false,
                      "x-readme-ref-name": "PaymentFineResponseDTO"
                    },
                    "interest": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "number",
                          "description": "Valor dos juros em porcentagem",
                          "example": 2,
                          "deprecated": false
                        }
                      },
                      "description": "Informações de juros para pagamento após o vencimento",
                      "deprecated": false,
                      "x-readme-ref-name": "PaymentInterestResponseDTO"
                    },
                    "postalService": {
                      "type": "boolean",
                      "description": "Define se a cobrança será enviada via Correios",
                      "example": false,
                      "deprecated": false
                    }
                  },
                  "x-readme-ref-name": "PaymentLeanGetResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "invalid_customer",
                      "description": "Customer Inválido ou não informado"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "invalid_access_token",
                      "description": "A chave de API fornecida é inválida"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "tags": [
          "Cobranças com dados resumidos"
        ],
        "summary": "Listar cobranças com dados resumidos",
        "description": "",
        "operationId": "listar-cobrancas-com-dados-resumidos",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Elemento inicial da lista",
            "schema": {
              "type": "integer",
              "example": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Número de elementos da lista (max: 100)",
            "schema": {
              "maximum": 100,
              "type": "integer",
              "example": 10
            }
          },
          {
            "name": "customer",
            "in": "query",
            "description": "Filtrar pelo Identificador único do cliente",
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "customerGroupName",
            "in": "query",
            "description": "Filtrar pelo nome do grupo de cliente",
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "billingType",
            "in": "query",
            "description": "Filtrar por forma de pagamento",
            "schema": {
              "type": "string",
              "description": "Filtrar por forma de pagamento",
              "example": "UNDEFINED",
              "deprecated": false,
              "enum": [
                "UNDEFINED",
                "BOLETO",
                "CREDIT_CARD",
                "PIX"
              ],
              "x-readme-ref-name": "PaymentListRequestBillingType"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filtrar por status",
            "schema": {
              "type": "string",
              "description": "Filtrar por status",
              "example": "PENDING",
              "deprecated": false,
              "enum": [
                "PENDING",
                "RECEIVED",
                "CONFIRMED",
                "OVERDUE",
                "REFUNDED",
                "RECEIVED_IN_CASH",
                "REFUND_REQUESTED",
                "REFUND_IN_PROGRESS",
                "CHARGEBACK_REQUESTED",
                "CHARGEBACK_DISPUTE",
                "AWAITING_CHARGEBACK_REVERSAL",
                "DUNNING_REQUESTED",
                "DUNNING_RECEIVED",
                "AWAITING_RISK_ANALYSIS"
              ],
              "x-readme-ref-name": "PaymentListRequestPaymentStatus"
            }
          },
          {
            "name": "subscription",
            "in": "query",
            "description": "Filtrar pelo Identificador único da assinatura",
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "installment",
            "in": "query",
            "description": "Filtrar pelo Identificador único do parcelamento",
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "externalReference",
            "in": "query",
            "description": "Filtrar pelo Identificador do seu sistema",
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "paymentDate",
            "in": "query",
            "description": "Filtrar pela data de pagamento",
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "invoiceStatus",
            "in": "query",
            "description": "Filtro para retornar cobranças que possuem ou não nota fiscal",
            "schema": {
              "type": "string",
              "description": "Filtro para retornar cobranças que possuem ou não nota fiscal",
              "example": "SCHEDULED",
              "deprecated": false,
              "enum": [
                "SCHEDULED",
                "AUTHORIZED",
                "PROCESSING_CANCELLATION",
                "CANCELED",
                "CANCELLATION_DENIED",
                "ERROR"
              ],
              "x-readme-ref-name": "PaymentListRequestInvoiceStatus"
            }
          },
          {
            "name": "estimatedCreditDate",
            "in": "query",
            "description": "Filtrar pela data estimada de crédito",
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "pixQrCodeId",
            "in": "query",
            "description": "Filtrar recebimentos originados de um QrCode estático utilizando o id gerado na hora da criação do QrCode",
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "anticipated",
            "in": "query",
            "description": "Filtrar registros antecipados ou não",
            "schema": {
              "type": "boolean",
              "example": null
            }
          },
          {
            "name": "anticipable",
            "in": "query",
            "description": "Filtrar registros antecipaveis ou não",
            "schema": {
              "type": "boolean",
              "example": null
            }
          },
          {
            "name": "dateCreated[ge]",
            "in": "query",
            "description": "Filtrar a partir da data de criação inicial",
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "dateCreated[le]",
            "in": "query",
            "description": "Filtrar até a data de criação final",
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "paymentDate[ge]",
            "in": "query",
            "description": "Filtrar a partir da data de recebimento inicial",
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "paymentDate[le]",
            "in": "query",
            "description": "Filtrar até a data de recebimento final",
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "estimatedCreditDate[ge]",
            "in": "query",
            "description": "Filtrar a partir da data estimada de crédito inicial",
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "estimatedCreditDate[le]",
            "in": "query",
            "description": "Filtrar até a data estimada de crédito final",
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "dueDate[ge]",
            "in": "query",
            "description": "Filtrar a partir da data de vencimento inicial",
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "dueDate[le]",
            "in": "query",
            "description": "Filtrar até a data de vencimento final",
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "Filtrar pelo endereço de e-mail do usuário que criou a cobrança",
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "checkoutSession",
            "in": "query",
            "description": "Filtrar pelo identificador único da checkout",
            "schema": {
              "type": "string",
              "example": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "description": "Tipo de objeto",
                      "example": "list",
                      "deprecated": false
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Indica se há mais uma página a ser buscada",
                      "example": false,
                      "deprecated": false
                    },
                    "totalCount": {
                      "type": "integer",
                      "description": "Quantidade total de itens para os filtros informados",
                      "format": "int32",
                      "example": 2,
                      "deprecated": false
                    },
                    "limit": {
                      "type": "integer",
                      "description": "Quantidade de objetos por página",
                      "format": "int32",
                      "example": 10,
                      "deprecated": false
                    },
                    "offset": {
                      "type": "integer",
                      "description": "Posição do objeto a partir do qual a página deve ser carregada",
                      "format": "int32",
                      "example": 0,
                      "deprecated": false
                    },
                    "data": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "object": {
                            "type": "string",
                            "description": "Tipo do objeto",
                            "example": "payment",
                            "deprecated": false
                          },
                          "id": {
                            "type": "string",
                            "description": "Identificador único da cobrança no Asaas",
                            "example": "pay_080225913252",
                            "deprecated": false
                          },
                          "dateCreated": {
                            "type": "string",
                            "description": "Data de criação da cobrança",
                            "format": "date",
                            "example": "2017-03-10",
                            "deprecated": false
                          },
                          "customerId": {
                            "type": "string",
                            "description": "Identificador único do cliente ao qual a cobrança pertence",
                            "example": "cus_G7Dvo4iphUNk",
                            "deprecated": false
                          },
                          "subscriptionId": {
                            "type": "string",
                            "description": "Identificador único da assinatura (quando cobrança recorrente)",
                            "deprecated": false,
                            "example": null
                          },
                          "installmentId": {
                            "type": "string",
                            "description": "Identificador único do parcelamento (quando cobrança parcelada)",
                            "deprecated": false,
                            "example": null
                          },
                          "paymentLinkId": {
                            "type": "string",
                            "description": "Identificador único do link de pagamentos ao qual a cobrança pertence",
                            "deprecated": false,
                            "example": null
                          },
                          "value": {
                            "type": "number",
                            "description": "Valor da cobrança",
                            "example": 129.9,
                            "deprecated": false
                          },
                          "netValue": {
                            "type": "number",
                            "description": "Valor líquido da cobrança após desconto da tarifa do Asaas",
                            "example": 124.9,
                            "deprecated": false
                          },
                          "originalValue": {
                            "type": "number",
                            "description": "Valor original da cobrança (preenchido quando paga com juros e multa)",
                            "deprecated": false,
                            "example": null
                          },
                          "interestValue": {
                            "type": "number",
                            "description": "Valor calculado de juros e multa que deve ser pago após o vencimento da cobrança",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição da cobrança",
                            "example": "Pedido 056984",
                            "deprecated": false
                          },
                          "billingType": {
                            "type": "string",
                            "description": "Forma de pagamento",
                            "example": "BOLETO",
                            "deprecated": false,
                            "enum": [
                              "UNDEFINED",
                              "BOLETO",
                              "CREDIT_CARD",
                              "DEBIT_CARD",
                              "TRANSFER",
                              "DEPOSIT",
                              "PIX"
                            ],
                            "x-readme-ref-name": "PaymentLeanGetResponseBillingType"
                          },
                          "canBePaidAfterDueDate": {
                            "type": "boolean",
                            "description": "Informa se a cobrança pode ser paga após o vencimento (Somente para boleto)",
                            "example": true,
                            "deprecated": false
                          },
                          "confirmedDate": {
                            "type": "string",
                            "description": "Data de confirmação da cobrança",
                            "format": "date",
                            "example": "2017-03-10",
                            "deprecated": false
                          },
                          "pixTransactionId": {
                            "type": "string",
                            "description": "Identificador único da transação Pix à qual a cobrança pertence",
                            "deprecated": false,
                            "example": null
                          },
                          "status": {
                            "type": "string",
                            "description": "Status da cobrança",
                            "example": "PENDING",
                            "deprecated": false,
                            "enum": [
                              "PENDING",
                              "RECEIVED",
                              "CONFIRMED",
                              "OVERDUE",
                              "REFUNDED",
                              "RECEIVED_IN_CASH",
                              "REFUND_REQUESTED",
                              "REFUND_IN_PROGRESS",
                              "CHARGEBACK_REQUESTED",
                              "CHARGEBACK_DISPUTE",
                              "AWAITING_CHARGEBACK_REVERSAL",
                              "DUNNING_REQUESTED",
                              "DUNNING_RECEIVED",
                              "AWAITING_RISK_ANALYSIS"
                            ],
                            "x-readme-ref-name": "PaymentLeanGetResponsePaymentStatus"
                          },
                          "dueDate": {
                            "type": "string",
                            "description": "Data de vencimento da cobrança",
                            "format": "date",
                            "example": "2017-06-10",
                            "deprecated": false
                          },
                          "originalDueDate": {
                            "type": "string",
                            "description": "Vencimento original no ato da criação da cobrança",
                            "format": "date",
                            "example": "2017-06-10",
                            "deprecated": false
                          },
                          "paymentDate": {
                            "type": "string",
                            "description": "Data de liquidação da cobrança no Asaas",
                            "format": "date",
                            "deprecated": false,
                            "example": null
                          },
                          "customerPaymentDate": {
                            "type": "string",
                            "description": "Data em que o cliente efetuou o pagamento do boleto",
                            "format": "date",
                            "deprecated": false,
                            "example": null
                          },
                          "installmentNumber": {
                            "type": "integer",
                            "description": "Número da parcela",
                            "format": "int32",
                            "deprecated": false,
                            "example": null
                          },
                          "externalReference": {
                            "type": "string",
                            "description": "Campo livre para busca",
                            "example": "056984",
                            "deprecated": false
                          },
                          "deleted": {
                            "type": "boolean",
                            "description": "Determina se a cobrança foi removida",
                            "example": false,
                            "deprecated": false
                          },
                          "anticipated": {
                            "type": "boolean",
                            "description": "Define se a cobrança foi antecipada ou está em processo de antecipação",
                            "example": false,
                            "deprecated": false
                          },
                          "anticipable": {
                            "type": "boolean",
                            "description": "Determina se a cobrança é antecipável",
                            "example": false,
                            "deprecated": false
                          },
                          "creditDate": {
                            "type": "string",
                            "description": "Data de crédito da cobrança",
                            "example": "2017-03-10",
                            "deprecated": false
                          },
                          "transactionReceiptUrl": {
                            "type": "string",
                            "description": "URL do comprovante de confirmação, recebimento, estorno ou remoção.",
                            "deprecated": false,
                            "example": null
                          },
                          "duplicatedPaymentId": {
                            "type": "string",
                            "description": "Identificador de cobrança duplicada (caso verdadeiro)",
                            "deprecated": false,
                            "example": null
                          },
                          "discount": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "number",
                                "description": "Valor percentual ou fixo de desconto a ser aplicado sobre o valor da cobrança",
                                "example": 10,
                                "deprecated": false
                              },
                              "dueDateLimitDays": {
                                "type": "integer",
                                "description": "Dias antes do vencimento para aplicar desconto. Ex: 0 = até o vencimento, 1 = até um dia antes, 2 = até dois dias antes, e assim por diante",
                                "format": "int32",
                                "example": 0,
                                "deprecated": false
                              },
                              "type": {
                                "type": "string",
                                "description": "Tipo de desconto",
                                "example": "PERCENTAGE",
                                "deprecated": false,
                                "enum": [
                                  "FIXED",
                                  "PERCENTAGE"
                                ],
                                "x-readme-ref-name": "PaymentDiscountDiscountType"
                              }
                            },
                            "description": "Informações de desconto",
                            "deprecated": false,
                            "x-readme-ref-name": "PaymentDiscountDTO"
                          },
                          "fine": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "number",
                                "description": "Valor da multa em porcentagem",
                                "example": 1,
                                "deprecated": false
                              }
                            },
                            "description": "Informações de multa para pagamento após o vencimento",
                            "deprecated": false,
                            "x-readme-ref-name": "PaymentFineResponseDTO"
                          },
                          "interest": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "number",
                                "description": "Valor dos juros em porcentagem",
                                "example": 2,
                                "deprecated": false
                              }
                            },
                            "description": "Informações de juros para pagamento após o vencimento",
                            "deprecated": false,
                            "x-readme-ref-name": "PaymentInterestResponseDTO"
                          },
                          "postalService": {
                            "type": "boolean",
                            "description": "Define se a cobrança será enviada via Correios",
                            "example": false,
                            "deprecated": false
                          }
                        },
                        "x-readme-ref-name": "PaymentLeanGetResponseDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "PaymentLeanListResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "error_code",
                      "description": "Descrição do erro"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "invalid_access_token",
                      "description": "A chave de API fornecida é inválida"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."
          }
        },
        "deprecated": false
      }
    },
    "/v3/lean/payments/": {
      "post": {
        "tags": [
          "Cobranças com dados resumidos"
        ],
        "summary": "Criar cobrança com cartão de crédito com dados resumidos na resposta",
        "description": "",
        "operationId": "criar-cobranca-com-cartao-de-credito-com-dados-resumidos-na-resposta",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "customer",
                  "billingType",
                  "value",
                  "dueDate",
                  "remoteIp"
                ],
                "type": "object",
                "properties": {
                  "customer": {
                    "type": "string",
                    "description": "Identificador único do cliente no Asaas",
                    "nullable": false,
                    "example": "cus_G7Dvo4iphUNk",
                    "deprecated": false
                  },
                  "billingType": {
                    "type": "string",
                    "description": "Forma de pagamento",
                    "nullable": false,
                    "example": "BOLETO",
                    "deprecated": false,
                    "enum": [
                      "UNDEFINED",
                      "BOLETO",
                      "CREDIT_CARD",
                      "PIX"
                    ],
                    "x-readme-ref-name": "PaymentSaveWithCreditCardRequestBillingType"
                  },
                  "value": {
                    "type": "number",
                    "description": "Valor da cobrança",
                    "nullable": false,
                    "example": 129.9,
                    "deprecated": false
                  },
                  "dueDate": {
                    "type": "string",
                    "description": "Data de vencimento da cobrança",
                    "format": "date",
                    "nullable": false,
                    "example": "2017-06-10",
                    "deprecated": false
                  },
                  "description": {
                    "type": "string",
                    "description": "Descrição da cobrança (máx. 500 caracteres)",
                    "example": "Pedido 056984",
                    "deprecated": false
                  },
                  "daysAfterDueDateToRegistrationCancellation": {
                    "type": "integer",
                    "description": "Dias após o vencimento para cancelamento do registro (somente para boleto bancário)",
                    "format": "int32",
                    "example": 1,
                    "deprecated": false
                  },
                  "externalReference": {
                    "type": "string",
                    "description": "Campo livre para busca",
                    "example": "056984",
                    "deprecated": false
                  },
                  "installmentCount": {
                    "type": "integer",
                    "description": "Número de parcelas (somente no caso de cobrança parcelada)",
                    "format": "int32",
                    "deprecated": false,
                    "example": null
                  },
                  "totalValue": {
                    "type": "number",
                    "description": "Informe o valor total de uma cobrança que será parcelada (somente no caso de cobrança parcelada). Caso enviado este campo o installmentValue não é necessário, o cálculo por parcela será automático.",
                    "deprecated": false,
                    "example": null
                  },
                  "installmentValue": {
                    "type": "number",
                    "description": "Valor de cada parcela (somente no caso de cobrança parcelada). Envie este campo em caso de querer definir o valor de cada parcela.",
                    "deprecated": false,
                    "example": null
                  },
                  "discount": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "number",
                        "description": "Valor percentual ou fixo de desconto a ser aplicado sobre o valor da cobrança",
                        "example": 10,
                        "deprecated": false
                      },
                      "dueDateLimitDays": {
                        "type": "integer",
                        "description": "Dias antes do vencimento para aplicar desconto. Ex: 0 = até o vencimento, 1 = até um dia antes, 2 = até dois dias antes, e assim por diante",
                        "format": "int32",
                        "example": 0,
                        "deprecated": false
                      },
                      "type": {
                        "type": "string",
                        "description": "Tipo de desconto",
                        "example": "PERCENTAGE",
                        "deprecated": false,
                        "enum": [
                          "FIXED",
                          "PERCENTAGE"
                        ],
                        "x-readme-ref-name": "PaymentDiscountDiscountType"
                      }
                    },
                    "description": "Informações de desconto",
                    "deprecated": false,
                    "x-readme-ref-name": "PaymentDiscountDTO"
                  },
                  "interest": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "number",
                        "description": "Percentual de juros *ao mês* sobre o valor da cobrança para pagamento após o vencimento",
                        "deprecated": false,
                        "example": null
                      }
                    },
                    "description": "Informações de juros para pagamento após o vencimento",
                    "deprecated": false,
                    "x-readme-ref-name": "PaymentInterestRequestDTO"
                  },
                  "fine": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "number",
                        "description": "Percentual de multa sobre o valor da cobrança para pagamento após o vencimento",
                        "deprecated": false,
                        "example": null
                      },
                      "type": {
                        "type": "string",
                        "description": "Tipo de multa",
                        "example": "FIXED",
                        "deprecated": false,
                        "enum": [
                          "FIXED",
                          "PERCENTAGE"
                        ],
                        "x-readme-ref-name": "PaymentFineRequestFineType"
                      }
                    },
                    "description": "Informações de multa para pagamento após o vencimento",
                    "deprecated": false,
                    "x-readme-ref-name": "PaymentFineRequestDTO"
                  },
                  "postalService": {
                    "type": "boolean",
                    "description": "Define se a cobrança será enviada via Correios",
                    "example": false,
                    "deprecated": false
                  },
                  "split": {
                    "type": "array",
                    "description": "Configurações do split",
                    "deprecated": false,
                    "items": {
                      "required": [
                        "walletId"
                      ],
                      "type": "object",
                      "properties": {
                        "walletId": {
                          "type": "string",
                          "description": "Identificador da carteira Asaas que será transferido",
                          "nullable": false,
                          "deprecated": false,
                          "example": null
                        },
                        "fixedValue": {
                          "type": "number",
                          "description": "Valor fixo a ser transferido para a conta quando a cobrança for recebida",
                          "deprecated": false,
                          "example": null
                        },
                        "percentualValue": {
                          "type": "number",
                          "description": "Percentual sobre o valor líquido da cobrança a ser transferido quando for recebida",
                          "deprecated": false,
                          "example": null
                        },
                        "totalFixedValue": {
                          "type": "number",
                          "description": "(Somente parcelamentos). Valor que será feito split referente ao valor total que será parcelado.",
                          "deprecated": false,
                          "example": null
                        },
                        "externalReference": {
                          "type": "string",
                          "description": "Identificador do split no seu sistema",
                          "deprecated": false,
                          "example": null
                        },
                        "description": {
                          "type": "string",
                          "description": "Descrição do split",
                          "deprecated": false,
                          "example": null
                        }
                      },
                      "description": "Configurações do split",
                      "deprecated": false,
                      "x-readme-ref-name": "PaymentSplitRequestDTO"
                    }
                  },
                  "callback": {
                    "required": [
                      "successUrl"
                    ],
                    "type": "object",
                    "properties": {
                      "successUrl": {
                        "maxLength": 255,
                        "type": "string",
                        "description": "URL que o cliente será redirecionado após o pagamento com sucesso da fatura ou link de pagamento",
                        "nullable": false,
                        "deprecated": false,
                        "example": null
                      },
                      "autoRedirect": {
                        "type": "boolean",
                        "description": "Definir se o cliente será redirecionado automaticamente ou será apenas informado com um botão para retornar ao site. O padrão é true, caso queira desativar informar false",
                        "deprecated": false,
                        "example": null
                      }
                    },
                    "description": "Informações de redirecionamento automático após pagamento do link de pagamento",
                    "deprecated": false,
                    "x-readme-ref-name": "PaymentCallbackRequestDTO"
                  },
                  "pixAutomaticAuthorizationId": {
                    "type": "string",
                    "description": "Identificador único da autorização do Pix Automático no Asaas",
                    "example": "89060430-aceb-447c-a981-07ee15daf00c",
                    "deprecated": false
                  },
                  "creditCard": {
                    "required": [
                      "holderName",
                      "number",
                      "expiryMonth",
                      "expiryYear",
                      "ccv"
                    ],
                    "type": "object",
                    "properties": {
                      "holderName": {
                        "type": "string",
                        "description": "Nome impresso no cartão",
                        "nullable": false,
                        "example": "John Doe",
                        "deprecated": false
                      },
                      "number": {
                        "type": "string",
                        "description": "Número do cartão",
                        "nullable": false,
                        "example": "1234567890123456",
                        "deprecated": false
                      },
                      "expiryMonth": {
                        "type": "string",
                        "description": "Mês de expiração com 2 dígitos",
                        "nullable": false,
                        "example": "2",
                        "deprecated": false
                      },
                      "expiryYear": {
                        "type": "string",
                        "description": "Ano de expiração com 4 dígitos",
                        "nullable": false,
                        "example": "2026",
                        "deprecated": false
                      },
                      "ccv": {
                        "type": "string",
                        "description": "Código de segurança",
                        "nullable": false,
                        "example": "123",
                        "deprecated": false
                      }
                    },
                    "description": "Informações do cartão de crédito",
                    "nullable": false,
                    "deprecated": false,
                    "x-readme-ref-name": "CreditCardRequestDTO"
                  },
                  "creditCardHolderInfo": {
                    "required": [
                      "name",
                      "email",
                      "cpfCnpj",
                      "postalCode",
                      "addressNumber",
                      "phone"
                    ],
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Nome do titular do cartão",
                        "nullable": false,
                        "example": "John Doe",
                        "deprecated": false
                      },
                      "email": {
                        "type": "string",
                        "description": "Email do titular do cartão",
                        "nullable": false,
                        "example": "john.doe@asaas.com",
                        "deprecated": false
                      },
                      "cpfCnpj": {
                        "type": "string",
                        "description": "CPF ou CNPJ do titular do cartão",
                        "nullable": false,
                        "example": "12345678901",
                        "deprecated": false
                      },
                      "postalCode": {
                        "type": "string",
                        "description": "CEP do titular do cartão",
                        "nullable": false,
                        "example": "12345678",
                        "deprecated": false
                      },
                      "addressNumber": {
                        "type": "string",
                        "description": "Número do endereço do titular do cartão",
                        "nullable": false,
                        "example": "123",
                        "deprecated": false
                      },
                      "addressComplement": {
                        "type": "string",
                        "description": "Complemento do endereço do titular do cartão",
                        "deprecated": false,
                        "example": null
                      },
                      "phone": {
                        "type": "string",
                        "description": "Telefone com DDD do titular do cartão",
                        "nullable": false,
                        "deprecated": false,
                        "example": null
                      },
                      "mobilePhone": {
                        "type": "string",
                        "description": "Celular do titular do cartão",
                        "deprecated": false,
                        "example": null
                      }
                    },
                    "description": "Informações do titular do cartão de crédito",
                    "nullable": false,
                    "deprecated": false,
                    "x-readme-ref-name": "CreditCardHolderInfoRequestDTO"
                  },
                  "creditCardToken": {
                    "type": "string",
                    "description": "Token do cartão de crédito para uso da funcionalidade de tokenização de cartão de crédito",
                    "deprecated": false,
                    "example": null
                  },
                  "authorizeOnly": {
                    "type": "boolean",
                    "description": "Realizar apenas a Pré-Autorização da cobrança",
                    "deprecated": false,
                    "example": null
                  },
                  "remoteIp": {
                    "type": "string",
                    "description": "IP de onde o cliente está fazendo a compra. Não deve ser informado o IP do seu servidor.",
                    "nullable": false,
                    "deprecated": false,
                    "example": null
                  }
                },
                "x-readme-ref-name": "PaymentSaveWithCreditCardRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "description": "Tipo do objeto",
                      "example": "payment",
                      "deprecated": false
                    },
                    "id": {
                      "type": "string",
                      "description": "Identificador único da cobrança no Asaas",
                      "example": "pay_080225913252",
                      "deprecated": false
                    },
                    "dateCreated": {
                      "type": "string",
                      "description": "Data de criação da cobrança",
                      "format": "date",
                      "example": "2017-03-10",
                      "deprecated": false
                    },
                    "customerId": {
                      "type": "string",
                      "description": "Identificador único do cliente ao qual a cobrança pertence",
                      "example": "cus_G7Dvo4iphUNk",
                      "deprecated": false
                    },
                    "subscriptionId": {
                      "type": "string",
                      "description": "Identificador único da assinatura (quando cobrança recorrente)",
                      "deprecated": false,
                      "example": null
                    },
                    "installmentId": {
                      "type": "string",
                      "description": "Identificador único do parcelamento (quando cobrança parcelada)",
                      "deprecated": false,
                      "example": null
                    },
                    "paymentLinkId": {
                      "type": "string",
                      "description": "Identificador único do link de pagamentos ao qual a cobrança pertence",
                      "deprecated": false,
                      "example": null
                    },
                    "value": {
                      "type": "number",
                      "description": "Valor da cobrança",
                      "example": 129.9,
                      "deprecated": false
                    },
                    "netValue": {
                      "type": "number",
                      "description": "Valor líquido da cobrança após desconto da tarifa do Asaas",
                      "example": 124.9,
                      "deprecated": false
                    },
                    "originalValue": {
                      "type": "number",
                      "description": "Valor original da cobrança (preenchido quando paga com juros e multa)",
                      "deprecated": false,
                      "example": null
                    },
                    "interestValue": {
                      "type": "number",
                      "description": "Valor calculado de juros e multa que deve ser pago após o vencimento da cobrança",
                      "deprecated": false,
                      "example": null
                    },
                    "description": {
                      "type": "string",
                      "description": "Descrição da cobrança",
                      "example": "Pedido 056984",
                      "deprecated": false
                    },
                    "billingType": {
                      "type": "string",
                      "description": "Forma de pagamento",
                      "example": "BOLETO",
                      "deprecated": false,
                      "enum": [
                        "UNDEFINED",
                        "BOLETO",
                        "CREDIT_CARD",
                        "DEBIT_CARD",
                        "TRANSFER",
                        "DEPOSIT",
                        "PIX"
                      ],
                      "x-readme-ref-name": "PaymentLeanSaveWithCreditCardResponseBillingType"
                    },
                    "canBePaidAfterDueDate": {
                      "type": "boolean",
                      "description": "Informa se a cobrança pode ser paga após o vencimento (Somente para boleto)",
                      "example": true,
                      "deprecated": false
                    },
                    "confirmedDate": {
                      "type": "string",
                      "description": "Data de confirmação da cobrança",
                      "format": "date",
                      "example": "2017-03-10",
                      "deprecated": false
                    },
                    "pixTransactionId": {
                      "type": "string",
                      "description": "Identificador único da transação Pix à qual a cobrança pertence",
                      "deprecated": false,
                      "example": null
                    },
                    "status": {
                      "type": "string",
                      "description": "Status da cobrança",
                      "example": "PENDING",
                      "deprecated": false,
                      "enum": [
                        "PENDING",
                        "RECEIVED",
                        "CONFIRMED",
                        "OVERDUE",
                        "REFUNDED",
                        "RECEIVED_IN_CASH",
                        "REFUND_REQUESTED",
                        "REFUND_IN_PROGRESS",
                        "CHARGEBACK_REQUESTED",
                        "CHARGEBACK_DISPUTE",
                        "AWAITING_CHARGEBACK_REVERSAL",
                        "DUNNING_REQUESTED",
                        "DUNNING_RECEIVED",
                        "AWAITING_RISK_ANALYSIS"
                      ],
                      "x-readme-ref-name": "PaymentLeanSaveWithCreditCardResponsePaymentStatus"
                    },
                    "dueDate": {
                      "type": "string",
                      "description": "Data de vencimento da cobrança",
                      "format": "date",
                      "example": "2017-06-10",
                      "deprecated": false
                    },
                    "originalDueDate": {
                      "type": "string",
                      "description": "Vencimento original no ato da criação da cobrança",
                      "format": "date",
                      "example": "2017-06-10",
                      "deprecated": false
                    },
                    "paymentDate": {
                      "type": "string",
                      "description": "Data de liquidação da cobrança no Asaas",
                      "format": "date",
                      "deprecated": false,
                      "example": null
                    },
                    "customerPaymentDate": {
                      "type": "string",
                      "description": "Data em que o cliente efetuou o pagamento do boleto",
                      "format": "date",
                      "deprecated": false,
                      "example": null
                    },
                    "installmentNumber": {
                      "type": "integer",
                      "description": "Número da parcela",
                      "format": "int32",
                      "deprecated": false,
                      "example": null
                    },
                    "externalReference": {
                      "type": "string",
                      "description": "Campo livre para busca",
                      "example": "056984",
                      "deprecated": false
                    },
                    "deleted": {
                      "type": "boolean",
                      "description": "Determina se a cobrança foi removida",
                      "example": false,
                      "deprecated": false
                    },
                    "anticipated": {
                      "type": "boolean",
                      "description": "Define se a cobrança foi antecipada ou está em processo de antecipação",
                      "example": false,
                      "deprecated": false
                    },
                    "anticipable": {
                      "type": "boolean",
                      "description": "Determina se a cobrança é antecipável",
                      "example": false,
                      "deprecated": false
                    },
                    "creditDate": {
                      "type": "string",
                      "description": "Data de crédito da cobrança",
                      "example": "2017-03-10",
                      "deprecated": false
                    },
                    "transactionReceiptUrl": {
                      "type": "string",
                      "description": "URL do comprovante de confirmação, recebimento, estorno ou remoção.",
                      "deprecated": false,
                      "example": null
                    },
                    "duplicatedPaymentId": {
                      "type": "string",
                      "description": "Identificador de cobrança duplicada (caso verdadeiro)",
                      "deprecated": false,
                      "example": null
                    },
                    "discount": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "number",
                          "description": "Valor percentual ou fixo de desconto a ser aplicado sobre o valor da cobrança",
                          "example": 10,
                          "deprecated": false
                        },
                        "dueDateLimitDays": {
                          "type": "integer",
                          "description": "Dias antes do vencimento para aplicar desconto. Ex: 0 = até o vencimento, 1 = até um dia antes, 2 = até dois dias antes, e assim por diante",
                          "format": "int32",
                          "example": 0,
                          "deprecated": false
                        },
                        "type": {
                          "type": "string",
                          "description": "Tipo de desconto",
                          "example": "PERCENTAGE",
                          "deprecated": false,
                          "enum": [
                            "FIXED",
                            "PERCENTAGE"
                          ],
                          "x-readme-ref-name": "PaymentDiscountDiscountType"
                        }
                      },
                      "description": "Informações de desconto",
                      "deprecated": false,
                      "x-readme-ref-name": "PaymentDiscountDTO"
                    },
                    "fine": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "number",
                          "description": "Valor da multa em porcentagem",
                          "example": 1,
                          "deprecated": false
                        }
                      },
                      "description": "Informações de multa para pagamento após o vencimento",
                      "deprecated": false,
                      "x-readme-ref-name": "PaymentFineResponseDTO"
                    },
                    "interest": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "number",
                          "description": "Valor dos juros em porcentagem",
                          "example": 2,
                          "deprecated": false
                        }
                      },
                      "description": "Informações de juros para pagamento após o vencimento",
                      "deprecated": false,
                      "x-readme-ref-name": "PaymentInterestResponseDTO"
                    },
                    "postalService": {
                      "type": "boolean",
                      "description": "Define se a cobrança será enviada via Correios",
                      "example": false,
                      "deprecated": false
                    },
                    "creditCard": {
                      "type": "object",
                      "properties": {
                        "creditCardNumber": {
                          "type": "string",
                          "description": "Últimos 4 dígitos do cartão utilizado",
                          "example": "8829",
                          "deprecated": false
                        },
                        "creditCardBrand": {
                          "type": "string",
                          "description": "Bandeira do cartão utilizado",
                          "example": "VISA",
                          "deprecated": false,
                          "enum": [
                            "VISA",
                            "MASTERCARD",
                            "ELO",
                            "DINERS",
                            "DISCOVER",
                            "AMEX",
                            "CABAL",
                            "BANESCARD",
                            "CREDZ",
                            "SOROCRED",
                            "CREDSYSTEM",
                            "JCB",
                            "UNKNOWN"
                          ],
                          "x-readme-ref-name": "PaymentSaveWithCreditCardCreditCardCreditCardBrand"
                        },
                        "creditCardToken": {
                          "type": "string",
                          "description": "Token do cartão de crédito caso a tokenização esteja ativa.",
                          "deprecated": false,
                          "example": null
                        }
                      },
                      "description": "Informações do cartão de crédito",
                      "deprecated": false,
                      "x-readme-ref-name": "PaymentSaveWithCreditCardCreditCardDTO"
                    }
                  },
                  "x-readme-ref-name": "PaymentLeanSaveWithCreditCardResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "invalid_customer",
                      "description": "Customer Inválido ou não informado"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "invalid_access_token",
                      "description": "A chave de API fornecida é inválida"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v3/lean/payments/{id}/captureAuthorizedPayment": {
      "post": {
        "tags": [
          "Cobranças com dados resumidos"
        ],
        "summary": "Capturar cobrança com Pré-Autorização com dados resumidos na resposta",
        "description": "",
        "operationId": "capturar-cobranca-com-pre-autorizacao-com-dados-resumidos-na-resposta",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identificador único da cobrança no Asaas",
            "required": true,
            "schema": {
              "type": "string",
              "example": null
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "x-readme-ref-name": "PaymentPathIdRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "description": "Tipo do objeto",
                      "example": "payment",
                      "deprecated": false
                    },
                    "id": {
                      "type": "string",
                      "description": "Identificador único da cobrança no Asaas",
                      "example": "pay_080225913252",
                      "deprecated": false
                    },
                    "dateCreated": {
                      "type": "string",
                      "description": "Data de criação da cobrança",
                      "format": "date",
                      "example": "2017-03-10",
                      "deprecated": false
                    },
                    "customerId": {
                      "type": "string",
                      "description": "Identificador único do cliente ao qual a cobrança pertence",
                      "example": "cus_G7Dvo4iphUNk",
                      "deprecated": false
                    },
                    "subscriptionId": {
                      "type": "string",
                      "description": "Identificador único da assinatura (quando cobrança recorrente)",
                      "deprecated": false,
                      "example": null
                    },
                    "installmentId": {
                      "type": "string",
                      "description": "Identificador único do parcelamento (quando cobrança parcelada)",
                      "deprecated": false,
                      "example": null
                    },
                    "paymentLinkId": {
                      "type": "string",
                      "description": "Identificador único do link de pagamentos ao qual a cobrança pertence",
                      "deprecated": false,
                      "example": null
                    },
                    "value": {
                      "type": "number",
                      "description": "Valor da cobrança",
                      "example": 129.9,
                      "deprecated": false
                    },
                    "netValue": {
                      "type": "number",
                      "description": "Valor líquido da cobrança após desconto da tarifa do Asaas",
                      "example": 124.9,
                      "deprecated": false
                    },
                    "originalValue": {
                      "type": "number",
                      "description": "Valor original da cobrança (preenchido quando paga com juros e multa)",
                      "deprecated": false,
                      "example": null
                    },
                    "interestValue": {
                      "type": "number",
                      "description": "Valor calculado de juros e multa que deve ser pago após o vencimento da cobrança",
                      "deprecated": false,
                      "example": null
                    },
                    "description": {
                      "type": "string",
                      "description": "Descrição da cobrança",
                      "example": "Pedido 056984",
                      "deprecated": false
                    },
                    "billingType": {
                      "type": "string",
                      "description": "Forma de pagamento",
                      "example": "BOLETO",
                      "deprecated": false,
                      "enum": [
                        "UNDEFINED",
                        "BOLETO",
                        "CREDIT_CARD",
                        "DEBIT_CARD",
                        "TRANSFER",
                        "DEPOSIT",
                        "PIX"
                      ],
                      "x-readme-ref-name": "PaymentLeanGetResponseBillingType"
                    },
                    "canBePaidAfterDueDate": {
                      "type": "boolean",
                      "description": "Informa se a cobrança pode ser paga após o vencimento (Somente para boleto)",
                      "example": true,
                      "deprecated": false
                    },
                    "confirmedDate": {
                      "type": "string",
                      "description": "Data de confirmação da cobrança",
                      "format": "date",
                      "example": "2017-03-10",
                      "deprecated": false
                    },
                    "pixTransactionId": {
                      "type": "string",
                      "description": "Identificador único da transação Pix à qual a cobrança pertence",
                      "deprecated": false,
                      "example": null
                    },
                    "status": {
                      "type": "string",
                      "description": "Status da cobrança",
                      "example": "PENDING",
                      "deprecated": false,
                      "enum": [
                        "PENDING",
                        "RECEIVED",
                        "CONFIRMED",
                        "OVERDUE",
                        "REFUNDED",
                        "RECEIVED_IN_CASH",
                        "REFUND_REQUESTED",
                        "REFUND_IN_PROGRESS",
                        "CHARGEBACK_REQUESTED",
                        "CHARGEBACK_DISPUTE",
                        "AWAITING_CHARGEBACK_REVERSAL",
                        "DUNNING_REQUESTED",
                        "DUNNING_RECEIVED",
                        "AWAITING_RISK_ANALYSIS"
                      ],
                      "x-readme-ref-name": "PaymentLeanGetResponsePaymentStatus"
                    },
                    "dueDate": {
                      "type": "string",
                      "description": "Data de vencimento da cobrança",
                      "format": "date",
                      "example": "2017-06-10",
                      "deprecated": false
                    },
                    "originalDueDate": {
[...]
