{
  "openapi": "3.0.1",
  "info": {
    "title": "Asaas",
    "description": "API pública de integração com a plataforma Asaas.",
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.asaas.com",
      "description": "Sandbox"
    }
  ],
  "tags": [
    {
      "name": "Recargas de celular"
    }
  ],
  "security": [
    {
      "Authorization": []
    }
  ],
  "paths": {
    "/v3/mobilePhoneRecharges": {
      "post": {
        "tags": [
          "Recargas de celular"
        ],
        "summary": "Solicitar recarga",
        "description": "",
        "operationId": "solicitar-recarga",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "value",
                  "phoneNumber"
                ],
                "type": "object",
                "properties": {
                  "value": {
                    "type": "number",
                    "description": "Valor da recarga",
                    "nullable": false,
                    "example": 15,
                    "deprecated": false
                  },
                  "phoneNumber": {
                    "type": "string",
                    "description": "Número do celular",
                    "nullable": false,
                    "example": "63997365512",
                    "deprecated": false
                  }
                },
                "x-readme-ref-name": "MobilePhoneRechargeSaveRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Identificador único da recarga de celular no Asaas",
                      "example": "37c22147-4194-11ec-8061-0242ac120002",
                      "deprecated": false
                    },
                    "value": {
                      "type": "number",
                      "description": "Valor da recarga",
                      "example": 15,
                      "deprecated": false
                    },
                    "phoneNumber": {
                      "type": "string",
                      "description": "Número do celular que foi solicitado a recarga",
                      "example": "63997365512",
                      "deprecated": false
                    },
                    "status": {
                      "type": "string",
                      "description": "Status da recarga",
                      "example": "PENDING",
                      "deprecated": false,
                      "enum": [
                        "PENDING",
                        "CONFIRMED",
                        "CANCELLED",
                        "REFUNDED",
                        "WAITING_CRITICAL_ACTION"
                      ],
                      "x-readme-ref-name": "MobilePhoneRechargeGetResponseMobilePhoneRechargeStatus"
                    },
                    "canBeCancelled": {
                      "type": "boolean",
                      "description": "Se a recarga pode ser cancelada",
                      "deprecated": false,
                      "default": true,
                      "example": null
                    },
                    "operatorName": {
                      "type": "string",
                      "description": "Nome da operadora do celular",
                      "example": "Vivo",
                      "deprecated": false
                    }
                  },
                  "x-readme-ref-name": "MobilePhoneRechargeGetResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "error_code",
                      "description": "Descrição do erro"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "invalid_access_token",
                      "description": "A chave de API fornecida é inválida"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "tags": [
          "Recargas de celular"
        ],
        "summary": "Listar recargas de celular",
        "description": "",
        "operationId": "listar-recargas-de-celular",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Elemento inicial da lista",
            "schema": {
              "type": "integer",
              "example": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Número de elementos da lista (max: 100)",
            "schema": {
              "maximum": 100,
              "type": "integer",
              "example": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "description": "Tipo de objeto",
                      "example": "list",
                      "deprecated": false
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Indica se há mais uma página a ser buscada",
                      "example": false,
                      "deprecated": false
                    },
                    "totalCount": {
                      "type": "integer",
                      "description": "Quantidade total de itens para os filtros informados",
                      "format": "int32",
                      "example": 2,
                      "deprecated": false
                    },
                    "limit": {
                      "type": "integer",
                      "description": "Quantidade de objetos por página",
                      "format": "int32",
                      "example": 10,
                      "deprecated": false
                    },
                    "offset": {
                      "type": "integer",
                      "description": "Posição do objeto a partir do qual a página deve ser carregada",
                      "format": "int32",
                      "example": 0,
                      "deprecated": false
                    },
                    "data": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Identificador único da recarga de celular no Asaas",
                            "example": "37c22147-4194-11ec-8061-0242ac120002",
                            "deprecated": false
                          },
                          "value": {
                            "type": "number",
                            "description": "Valor da recarga",
                            "example": 15,
                            "deprecated": false
                          },
                          "phoneNumber": {
                            "type": "string",
                            "description": "Número do celular que foi solicitado a recarga",
                            "example": "63997365512",
                            "deprecated": false
                          },
                          "status": {
                            "type": "string",
                            "description": "Status da recarga",
                            "example": "PENDING",
                            "deprecated": false,
                            "enum": [
                              "PENDING",
                              "CONFIRMED",
                              "CANCELLED",
                              "REFUNDED",
                              "WAITING_CRITICAL_ACTION"
                            ],
                            "x-readme-ref-name": "MobilePhoneRechargeGetResponseMobilePhoneRechargeStatus"
                          },
                          "canBeCancelled": {
                            "type": "boolean",
                            "description": "Se a recarga pode ser cancelada",
                            "deprecated": false,
                            "default": true,
                            "example": null
                          },
                          "operatorName": {
                            "type": "string",
                            "description": "Nome da operadora do celular",
                            "example": "Vivo",
                            "deprecated": false
                          }
                        },
                        "x-readme-ref-name": "MobilePhoneRechargeGetResponseDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "MobilePhoneRechargeListResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "error_code",
                      "description": "Descrição do erro"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "invalid_access_token",
                      "description": "A chave de API fornecida é inválida"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."
          }
        },
        "deprecated": false
      }
    },
    "/v3/mobilePhoneRecharges/{id}": {
      "get": {
        "tags": [
          "Recargas de celular"
        ],
        "summary": "Recuperar uma única recarga de celular",
        "description": "",
        "operationId": "recuperar-uma-unica-recarga-de-celular",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identificador único da recarga de celular no Asaas",
            "required": true,
            "schema": {
              "type": "string",
              "example": "37c22147-4194-11ec-8061-0242ac120002"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Identificador único da recarga de celular no Asaas",
                      "example": "37c22147-4194-11ec-8061-0242ac120002",
                      "deprecated": false
                    },
                    "value": {
                      "type": "number",
                      "description": "Valor da recarga",
                      "example": 15,
                      "deprecated": false
                    },
                    "phoneNumber": {
                      "type": "string",
                      "description": "Número do celular que foi solicitado a recarga",
                      "example": "63997365512",
                      "deprecated": false
                    },
                    "status": {
                      "type": "string",
                      "description": "Status da recarga",
                      "example": "PENDING",
                      "deprecated": false,
                      "enum": [
                        "PENDING",
                        "CONFIRMED",
                        "CANCELLED",
                        "REFUNDED",
                        "WAITING_CRITICAL_ACTION"
                      ],
                      "x-readme-ref-name": "MobilePhoneRechargeGetResponseMobilePhoneRechargeStatus"
                    },
                    "canBeCancelled": {
                      "type": "boolean",
                      "description": "Se a recarga pode ser cancelada",
                      "deprecated": false,
                      "default": true,
                      "example": null
                    },
                    "operatorName": {
                      "type": "string",
                      "description": "Nome da operadora do celular",
                      "example": "Vivo",
                      "deprecated": false
                    }
                  },
                  "x-readme-ref-name": "MobilePhoneRechargeGetResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "error_code",
                      "description": "Descrição do erro"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "invalid_access_token",
                      "description": "A chave de API fornecida é inválida"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."
          },
          "404": {
            "description": "Not found"
          }
        },
        "deprecated": false
      }
    },
    "/v3/mobilePhoneRecharges/{id}/cancel": {
      "post": {
        "tags": [
          "Recargas de celular"
        ],
        "summary": "Cancelar uma recarga de celular",
        "description": "Permite o cancelamento da recarga de celular. Utilize a propriedade `canBeCancelled` para verificar se a recarga pode ser cancelada. Ao ser cancelado a recarga não será realizada.",
        "operationId": "cancelar-uma-recarga-de-celular",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identificador único da recarga de celular no Asaas",
            "required": true,
            "schema": {
              "type": "string",
              "example": "37c22147-4194-11ec-8061-0242ac120002"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "x-readme-ref-name": "MobilePhoneRechargeGetRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Identificador único da recarga de celular no Asaas",
                      "example": "37c22147-4194-11ec-8061-0242ac120002",
                      "deprecated": false
                    },
                    "value": {
                      "type": "number",
                      "description": "Valor da recarga",
                      "example": 15,
                      "deprecated": false
                    },
                    "phoneNumber": {
                      "type": "string",
                      "description": "Número do celular que foi solicitado a recarga",
                      "example": "63997365512",
                      "deprecated": false
                    },
                    "status": {
                      "type": "string",
                      "description": "Status da recarga",
                      "example": "PENDING",
                      "deprecated": false,
                      "enum": [
                        "PENDING",
                        "CONFIRMED",
                        "CANCELLED",
                        "REFUNDED",
                        "WAITING_CRITICAL_ACTION"
                      ],
                      "x-readme-ref-name": "MobilePhoneRechargeGetResponseMobilePhoneRechargeStatus"
                    },
                    "canBeCancelled": {
                      "type": "boolean",
                      "description": "Se a recarga pode ser cancelada",
                      "deprecated": false,
                      "default": true,
                      "example": null
                    },
                    "operatorName": {
                      "type": "string",
                      "description": "Nome da operadora do celular",
                      "example": "Vivo",
                      "deprecated": false
                    }
                  },
                  "x-readme-ref-name": "MobilePhoneRechargeGetResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "error_code",
                      "description": "Descrição do erro"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "invalid_access_token",
                      "description": "A chave de API fornecida é inválida"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        },
        "deprecated": false
      }
    },
    "/v3/mobilePhoneRecharges/{phoneNumber}/provider": {
      "get": {
        "tags": [
          "Recargas de celular"
        ],
        "summary": "Buscar qual provedor o número pertence e os valores disponíveis para recarga",
        "description": "",
        "operationId": "buscar-qual-provedor-o-numero-pertence-e-os-valores-disponiveis-para-recarga",
        "parameters": [
          {
            "name": "phoneNumber",
            "in": "path",
            "description": "Número do celular que será consultado.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "63997365512"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Nome da operadora do celular",
                      "example": "Vivo",
                      "deprecated": false
                    },
                    "values": {
                      "type": "array",
                      "description": "Valores disponíveis para recarga",
                      "example": [
                        {
                          "name": "R$ 12,00",
                          "bonus": "5.0",
                          "minValue": 1,
                          "maxValue": 5
                        },
                        {
                          "name": "R$ 30,00",
                          "bonus": "3.0",
                          "minValue": 20,
                          "maxValue": 50
                        }
                      ],
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Nome do pacote",
                            "example": "R$ 12,00",
                            "deprecated": false
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do pacote",
                            "deprecated": false,
                            "example": null
                          },
                          "bonus": {
                            "type": "string",
                            "description": "Bônus do pacote",
                            "example": "0.0",
                            "deprecated": false
                          },
                          "minValue": {
                            "type": "number",
                            "description": "Valor mínimo de recarga",
                            "example": 12,
                            "deprecated": false
                          },
                          "maxValue": {
                            "type": "number",
                            "description": "Valor máximo de recarga",
                            "example": 12,
                            "deprecated": false
                          }
                        },
                        "description": "Valores disponíveis para recarga",
                        "example": [
                          {
                            "name": "R$ 12,00",
                            "bonus": "5.0",
                            "minValue": 1,
                            "maxValue": 5
                          },
                          {
                            "name": "R$ 30,00",
                            "bonus": "3.0",
                            "minValue": 20,
                            "maxValue": 50
                          }
                        ],
                        "deprecated": false,
                        "x-readme-ref-name": "MobilePhoneRechargeFindProviderResponseValuesDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "MobilePhoneRechargeFindProviderResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "error_code",
                      "description": "Descrição do erro"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "invalid_access_token",
                      "description": "A chave de API fornecida é inválida"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."
          },
          "404": {
            "description": "Not found"
          }
        },
        "deprecated": false
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Authorization": {
        "type": "apiKey",
        "name": "access_token",
        "in": "header"
      }
    }
  }
}