{
  "openapi": "3.0.1",
  "info": {
    "title": "Asaas",
    "description": "API pública de integração com a plataforma Asaas.",
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.asaas.com",
      "description": "Sandbox"
    }
  ],
  "tags": [
    {
      "name": "Pix Recorrente"
    }
  ],
  "security": [
    {
      "Authorization": []
    }
  ],
  "paths": {
    "/v3/pix/transactions/recurrings": {
      "get": {
        "tags": [
          "Pix Recorrente"
        ],
        "summary": "Listar recorrências",
        "description": "",
        "operationId": "listar-recorrencias",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Elemento inicial da lista",
            "schema": {
              "type": "integer",
              "example": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Número de elementos da lista (max: 100)",
            "schema": {
              "maximum": 100,
              "type": "integer",
              "example": 10
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filtrar pelo status da recorrência",
            "schema": {
              "type": "string",
              "description": "Filtrar pelo status da recorrência",
              "example": "AWAITING_CRITICAL_ACTION_AUTHORIZATION",
              "deprecated": false,
              "enum": [
                "AWAITING_CRITICAL_ACTION_AUTHORIZATION",
                "PENDING",
                "SCHEDULED",
                "CANCELLED",
                "DONE"
              ],
              "x-readme-ref-name": "RecurringPixTransactionListRequestPixRecurringTransactionStatus"
            }
          },
          {
            "name": "value",
            "in": "query",
            "description": "Filtrar pelo valor da recorrência",
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "searchText",
            "in": "query",
            "description": "Filtrar pelo nome do recebedor",
            "schema": {
              "type": "string",
              "example": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "description": "Tipo de objeto",
                      "example": "list",
                      "deprecated": false
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Indica se há mais uma página a ser buscada",
                      "example": false,
                      "deprecated": false
                    },
                    "totalCount": {
                      "type": "integer",
                      "description": "Quantidade total de itens para os filtros informados",
                      "format": "int32",
                      "example": 2,
                      "deprecated": false
                    },
                    "limit": {
                      "type": "integer",
                      "description": "Quantidade de objetos por página",
                      "format": "int32",
                      "example": 10,
                      "deprecated": false
                    },
                    "offset": {
                      "type": "integer",
                      "description": "Posição do objeto a partir do qual a página deve ser carregada",
                      "format": "int32",
                      "example": 0,
                      "deprecated": false
                    },
                    "data": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Identificador único da recorrência no Asaas",
                            "example": "35363f6e-93e2-11ec-b9d9-96f4053b1bd4",
                            "deprecated": false
                          },
                          "status": {
                            "type": "string",
                            "description": "Status da recorrência",
                            "example": "PENDING",
                            "deprecated": false,
                            "enum": [
                              "AWAITING_CRITICAL_ACTION_AUTHORIZATION",
                              "PENDING",
                              "SCHEDULED",
                              "CANCELLED",
                              "DONE"
                            ],
                            "x-readme-ref-name": "PixRecurringTransactionGetResponsePixRecurringTransactionStatus"
                          },
                          "origin": {
                            "type": "string",
                            "description": "Indica qual foi a origem da recorrência",
                            "example": "PIX",
                            "deprecated": false,
                            "enum": [
                              "PIX"
                            ],
                            "x-readme-ref-name": "PixRecurringTransactionGetResponsePixRecurringTransactionOrigin"
                          },
                          "value": {
                            "type": "number",
                            "description": "Valor da recorrência",
                            "example": 0.02,
                            "deprecated": false
                          },
                          "frequency": {
                            "type": "string",
                            "description": "Frequência da recorrência",
                            "example": "WEEKLY",
                            "deprecated": false,
                            "enum": [
                              "WEEKLY",
                              "MONTHLY"
                            ],
                            "x-readme-ref-name": "PixRecurringTransactionGetResponsePixRecurringTransactionFrequency"
                          },
                          "quantity": {
                            "type": "integer",
                            "description": "Quantidade de repetições",
                            "format": "int32",
                            "example": 2,
                            "deprecated": false
                          },
                          "startDate": {
                            "type": "string",
                            "description": "Data inicial da recorrência",
                            "format": "date",
                            "example": "2024-09-18",
                            "deprecated": false
                          },
                          "finishDate": {
                            "type": "string",
                            "description": "Data final da recorrência",
                            "format": "date",
                            "example": "2024-09-25",
                            "deprecated": false
                          },
                          "canBeCancelled": {
                            "type": "boolean",
                            "description": "Indica se a recorrência pode ser cancelada",
                            "example": true,
                            "deprecated": false
                          },
                          "externalAccount": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "Nome do recebedor",
                                "example": "John Doe",
                                "deprecated": false
                              },
                              "financialInstitutionName": {
                                "type": "string",
                                "description": "Nome da instituição de pagamento",
                                "example": "Banco exemplo S.A",
                                "deprecated": false
                              },
                              "cpfCnpj": {
                                "type": "string",
                                "description": "CPF ou CNPJ do recebedor",
                                "example": "***.456.789-**",
                                "deprecated": false
                              },
                              "pixKey": {
                                "type": "string",
                                "description": "Chave Pix do recebedor",
                                "example": "***.456.789-**",
                                "deprecated": false
                              }
                            },
                            "description": "Informações sobre o recebedor",
                            "deprecated": false,
                            "x-readme-ref-name": "PixRecurringTransactionExternalAccountDTO"
                          }
                        },
                        "x-readme-ref-name": "PixRecurringTransactionGetResponseDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "PixRecurringTransactionListResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "error_code",
                      "description": "Descrição do erro"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "invalid_access_token",
                      "description": "A chave de API fornecida é inválida"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."
          }
        },
        "deprecated": false
      }
    },
    "/v3/pix/transactions/recurrings/{id}": {
      "get": {
        "tags": [
          "Pix Recorrente"
        ],
        "summary": "Recuperar uma única recorrência",
        "description": "",
        "operationId": "recuperar-uma-unica-recorrencia",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identificador único da recorrência no Asaas",
            "required": true,
            "schema": {
              "type": "string",
              "example": "35363f6e-93e2-11ec-b9d9-96f4053b1bd4"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Identificador único da recorrência no Asaas",
                      "example": "35363f6e-93e2-11ec-b9d9-96f4053b1bd4",
                      "deprecated": false
                    },
                    "status": {
                      "type": "string",
                      "description": "Status da recorrência",
                      "example": "PENDING",
                      "deprecated": false,
                      "enum": [
                        "AWAITING_CRITICAL_ACTION_AUTHORIZATION",
                        "PENDING",
                        "SCHEDULED",
                        "CANCELLED",
                        "DONE"
                      ],
                      "x-readme-ref-name": "PixRecurringTransactionGetResponsePixRecurringTransactionStatus"
                    },
                    "origin": {
                      "type": "string",
                      "description": "Indica qual foi a origem da recorrência",
                      "example": "PIX",
                      "deprecated": false,
                      "enum": [
                        "PIX"
                      ],
                      "x-readme-ref-name": "PixRecurringTransactionGetResponsePixRecurringTransactionOrigin"
                    },
                    "value": {
                      "type": "number",
                      "description": "Valor da recorrência",
                      "example": 0.02,
                      "deprecated": false
                    },
                    "frequency": {
                      "type": "string",
                      "description": "Frequência da recorrência",
                      "example": "WEEKLY",
                      "deprecated": false,
                      "enum": [
                        "WEEKLY",
                        "MONTHLY"
                      ],
                      "x-readme-ref-name": "PixRecurringTransactionGetResponsePixRecurringTransactionFrequency"
                    },
                    "quantity": {
                      "type": "integer",
                      "description": "Quantidade de repetições",
                      "format": "int32",
                      "example": 2,
                      "deprecated": false
                    },
                    "startDate": {
                      "type": "string",
                      "description": "Data inicial da recorrência",
                      "format": "date",
                      "example": "2024-09-18",
                      "deprecated": false
                    },
                    "finishDate": {
                      "type": "string",
                      "description": "Data final da recorrência",
                      "format": "date",
                      "example": "2024-09-25",
                      "deprecated": false
                    },
                    "canBeCancelled": {
                      "type": "boolean",
                      "description": "Indica se a recorrência pode ser cancelada",
                      "example": true,
                      "deprecated": false
                    },
                    "externalAccount": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Nome do recebedor",
                          "example": "John Doe",
                          "deprecated": false
                        },
                        "financialInstitutionName": {
                          "type": "string",
                          "description": "Nome da instituição de pagamento",
                          "example": "Banco exemplo S.A",
                          "deprecated": false
                        },
                        "cpfCnpj": {
                          "type": "string",
                          "description": "CPF ou CNPJ do recebedor",
                          "example": "***.456.789-**",
                          "deprecated": false
                        },
                        "pixKey": {
                          "type": "string",
                          "description": "Chave Pix do recebedor",
                          "example": "***.456.789-**",
                          "deprecated": false
                        }
                      },
                      "description": "Informações sobre o recebedor",
                      "deprecated": false,
                      "x-readme-ref-name": "PixRecurringTransactionExternalAccountDTO"
                    }
                  },
                  "x-readme-ref-name": "PixRecurringTransactionGetResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "error_code",
                      "description": "Descrição do erro"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "invalid_access_token",
                      "description": "A chave de API fornecida é inválida"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."
          },
          "404": {
            "description": "Not found"
          }
        },
        "deprecated": false
      }
    },
    "/v3/pix/transactions/recurrings/{id}/cancel": {
      "post": {
        "tags": [
          "Pix Recorrente"
        ],
        "summary": "Cancelar uma recorrência",
        "description": "",
        "operationId": "cancelar-uma-recorrencia",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identificador único da recorrência no Asaas",
            "required": true,
            "schema": {
              "type": "string",
              "example": "35363f6e-93e2-11ec-b9d9-96f4053b1bd4"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "x-readme-ref-name": "RecurringPixTransactionPathIdRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Identificador único da recorrência no Asaas",
                      "example": "35363f6e-93e2-11ec-b9d9-96f4053b1bd4",
                      "deprecated": false
                    },
                    "status": {
                      "type": "string",
                      "description": "Status da recorrência",
                      "example": "PENDING",
                      "deprecated": false,
                      "enum": [
                        "AWAITING_CRITICAL_ACTION_AUTHORIZATION",
                        "PENDING",
                        "SCHEDULED",
                        "CANCELLED",
                        "DONE"
                      ],
                      "x-readme-ref-name": "PixRecurringTransactionGetResponsePixRecurringTransactionStatus"
                    },
                    "origin": {
                      "type": "string",
                      "description": "Indica qual foi a origem da recorrência",
                      "example": "PIX",
                      "deprecated": false,
                      "enum": [
                        "PIX"
                      ],
                      "x-readme-ref-name": "PixRecurringTransactionGetResponsePixRecurringTransactionOrigin"
                    },
                    "value": {
                      "type": "number",
                      "description": "Valor da recorrência",
                      "example": 0.02,
                      "deprecated": false
                    },
                    "frequency": {
                      "type": "string",
                      "description": "Frequência da recorrência",
                      "example": "WEEKLY",
                      "deprecated": false,
                      "enum": [
                        "WEEKLY",
                        "MONTHLY"
                      ],
                      "x-readme-ref-name": "PixRecurringTransactionGetResponsePixRecurringTransactionFrequency"
                    },
                    "quantity": {
                      "type": "integer",
                      "description": "Quantidade de repetições",
                      "format": "int32",
                      "example": 2,
                      "deprecated": false
                    },
                    "startDate": {
                      "type": "string",
                      "description": "Data inicial da recorrência",
                      "format": "date",
                      "example": "2024-09-18",
                      "deprecated": false
                    },
                    "finishDate": {
                      "type": "string",
                      "description": "Data final da recorrência",
                      "format": "date",
                      "example": "2024-09-25",
                      "deprecated": false
                    },
                    "canBeCancelled": {
                      "type": "boolean",
                      "description": "Indica se a recorrência pode ser cancelada",
                      "example": true,
                      "deprecated": false
                    },
                    "externalAccount": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Nome do recebedor",
                          "example": "John Doe",
                          "deprecated": false
                        },
                        "financialInstitutionName": {
                          "type": "string",
                          "description": "Nome da instituição de pagamento",
                          "example": "Banco exemplo S.A",
                          "deprecated": false
                        },
                        "cpfCnpj": {
                          "type": "string",
                          "description": "CPF ou CNPJ do recebedor",
                          "example": "***.456.789-**",
                          "deprecated": false
                        },
                        "pixKey": {
                          "type": "string",
                          "description": "Chave Pix do recebedor",
                          "example": "***.456.789-**",
                          "deprecated": false
                        }
                      },
                      "description": "Informações sobre o recebedor",
                      "deprecated": false,
                      "x-readme-ref-name": "PixRecurringTransactionExternalAccountDTO"
                    }
                  },
                  "x-readme-ref-name": "PixRecurringTransactionGetResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "error_code",
                      "description": "Descrição do erro"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "invalid_access_token",
                      "description": "A chave de API fornecida é inválida"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        },
        "deprecated": false
      }
    },
    "/v3/pix/transactions/recurrings/{id}/items": {
      "get": {
        "tags": [
          "Pix Recorrente"
        ],
        "summary": "Listar itens de uma recorrência",
        "description": "",
        "operationId": "listar-itens-de-uma-recorrencia",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identificador único da recorrência no Asaas",
            "required": true,
            "schema": {
              "type": "string",
              "example": "35363f6e-93e2-11ec-b9d9-96f4053b1bd4"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Elemento inicial da lista",
            "schema": {
              "type": "integer",
              "example": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Número de elementos da lista (max: 100)",
            "schema": {
              "maximum": 100,
              "type": "integer",
              "example": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Identificador único do item de uma recorrência no Asaas",
                            "example": "71ae9d73-468f-4d04-8b87-a541128f9c46",
                            "deprecated": false
                          },
                          "status": {
                            "type": "string",
                            "description": "Status do item de uma recorrência",
                            "example": "PENDING",
                            "deprecated": false,
                            "enum": [
                              "PENDING",
                              "CANCELLED",
                              "REFUSED",
                              "DONE"
                            ],
                            "x-readme-ref-name": "PixRecurringTransactionGetItemResponsePixRecurringTransactionItemStatus"
                          },
                          "scheduledDate": {
                            "type": "string",
                            "description": "Data de agendamento do item de uma recorrência",
                            "format": "date",
                            "example": "2024-10-23",
                            "deprecated": false
                          },
                          "canBeCancelled": {
                            "type": "boolean",
                            "description": "Indica se o item de uma recorrência pode ser cancelado",
                            "example": true,
                            "deprecated": false
                          },
                          "recurrenceNumber": {
                            "type": "integer",
                            "description": "Número da recorrência",
                            "format": "int32",
                            "example": 1,
                            "deprecated": false
                          },
                          "quantity": {
                            "type": "integer",
                            "description": "Quantidade de repetições",
                            "format": "int32",
                            "example": 2,
                            "deprecated": false
                          },
                          "value": {
                            "type": "number",
                            "description": "Valor da recorrência",
                            "example": 0.02,
                            "deprecated": false
                          },
                          "refusalReasonDescription": {
                            "type": "string",
                            "description": "Motivo pelo qual o item de uma recorrência foi recusado",
                            "deprecated": false,
                            "example": null
                          },
                          "externalAccount": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "Nome do recebedor",
                                "example": "John Doe",
                                "deprecated": false
                              },
                              "financialInstitutionName": {
                                "type": "string",
                                "description": "Nome da instituição de pagamento",
                                "example": "Banco exemplo S.A",
                                "deprecated": false
                              },
                              "cpfCnpj": {
                                "type": "string",
                                "description": "CPF ou CNPJ do recebedor",
                                "example": "***.456.789-**",
                                "deprecated": false
                              },
                              "pixKey": {
                                "type": "string",
                                "description": "Chave Pix do recebedor",
                                "example": "***.456.789-**",
                                "deprecated": false
                              }
                            },
                            "description": "Informações sobre o recebedor",
                            "deprecated": false,
                            "x-readme-ref-name": "PixRecurringTransactionExternalAccountDTO"
                          }
                        },
                        "x-readme-ref-name": "PixRecurringTransactionGetItemResponseDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "RecurringPixTransactionListItemsResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "error_code",
                      "description": "Descrição do erro"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "invalid_access_token",
                      "description": "A chave de API fornecida é inválida"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."
          },
          "404": {
            "description": "Not found"
          }
        },
        "deprecated": false
      }
    },
    "/v3/pix/transactions/recurrings/items/{id}/cancel": {
      "post": {
        "tags": [
          "Pix Recorrente"
        ],
        "summary": "Cancelar item de uma recorrência",
        "description": "",
        "operationId": "cancelar-item-de-uma-recorrencia",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identificador único do item de uma recorrência no Asaas",
            "required": true,
            "schema": {
              "type": "string",
              "example": "71ae9d73-468f-4d04-8b87-a541128f9c46"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "x-readme-ref-name": "PixRecurringTransactionCancelItemRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Identificador único do item de uma recorrência no Asaas",
                      "example": "71ae9d73-468f-4d04-8b87-a541128f9c46",
                      "deprecated": false
                    },
                    "status": {
                      "type": "string",
                      "description": "Status do item de uma recorrência",
                      "example": "PENDING",
                      "deprecated": false,
                      "enum": [
                        "PENDING",
                        "CANCELLED",
                        "REFUSED",
                        "DONE"
                      ],
                      "x-readme-ref-name": "PixRecurringTransactionGetItemResponsePixRecurringTransactionItemStatus"
                    },
                    "scheduledDate": {
                      "type": "string",
                      "description": "Data de agendamento do item de uma recorrência",
                      "format": "date",
                      "example": "2024-10-23",
                      "deprecated": false
                    },
                    "canBeCancelled": {
                      "type": "boolean",
                      "description": "Indica se o item de uma recorrência pode ser cancelado",
                      "example": true,
                      "deprecated": false
                    },
                    "recurrenceNumber": {
                      "type": "integer",
                      "description": "Número da recorrência",
                      "format": "int32",
                      "example": 1,
                      "deprecated": false
                    },
                    "quantity": {
                      "type": "integer",
                      "description": "Quantidade de repetições",
                      "format": "int32",
                      "example": 2,
                      "deprecated": false
                    },
                    "value": {
                      "type": "number",
                      "description": "Valor da recorrência",
                      "example": 0.02,
                      "deprecated": false
                    },
                    "refusalReasonDescription": {
                      "type": "string",
                      "description": "Motivo pelo qual o item de uma recorrência foi recusado",
                      "deprecated": false,
                      "example": null
                    },
                    "externalAccount": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Nome do recebedor",
                          "example": "John Doe",
                          "deprecated": false
                        },
                        "financialInstitutionName": {
                          "type": "string",
                          "description": "Nome da instituição de pagamento",
                          "example": "Banco exemplo S.A",
                          "deprecated": false
                        },
                        "cpfCnpj": {
                          "type": "string",
                          "description": "CPF ou CNPJ do recebedor",
                          "example": "***.456.789-**",
                          "deprecated": false
                        },
                        "pixKey": {
                          "type": "string",
                          "description": "Chave Pix do recebedor",
                          "example": "***.456.789-**",
                          "deprecated": false
                        }
                      },
                      "description": "Informações sobre o recebedor",
                      "deprecated": false,
                      "x-readme-ref-name": "PixRecurringTransactionExternalAccountDTO"
                    }
                  },
                  "x-readme-ref-name": "PixRecurringTransactionGetItemResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "error_code",
                      "description": "Descrição do erro"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "invalid_access_token",
                      "description": "A chave de API fornecida é inválida"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        },
        "deprecated": false
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Authorization": {
        "type": "apiKey",
        "name": "access_token",
        "in": "header"
      }
    }
  }
}