{
  "openapi": "3.0.1",
  "info": {
    "title": "Asaas",
    "description": "API pública de integração com a plataforma Asaas.",
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.asaas.com",
      "description": "Sandbox"
    }
  ],
  "tags": [
    {
      "name": "Transações Pix"
    }
  ],
  "security": [
    {
      "Authorization": []
    }
  ],
  "paths": {
    "/v3/pix/qrCodes/pay": {
      "post": {
        "tags": [
          "Transações Pix"
        ],
        "summary": "Pagar um QRCode",
        "description": "",
        "operationId": "pagar-um-qrcode",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "qrCode",
                  "value"
                ],
                "type": "object",
                "properties": {
                  "qrCode": {
                    "required": [
                      "payload"
                    ],
                    "type": "object",
                    "properties": {
                      "payload": {
                        "type": "string",
                        "description": "Payload do QRCode",
                        "nullable": false,
                        "deprecated": false,
                        "example": null
                      },
                      "changeValue": {
                        "type": "number",
                        "description": "Valor do troco (para QRCode Troco)",
                        "deprecated": false,
                        "example": null
                      }
                    },
                    "description": "Payload do QRCode para pagamento",
                    "nullable": false,
                    "deprecated": false,
                    "x-readme-ref-name": "PixTransactionQrCodeSaveRequestDTO"
                  },
                  "value": {
                    "type": "number",
                    "description": "Valor a ser pago",
                    "nullable": false,
                    "example": 100,
                    "deprecated": false
                  },
                  "description": {
                    "type": "string",
                    "description": "Descrição do pagamento",
                    "example": "Churrasco",
                    "deprecated": false
                  },
                  "scheduleDate": {
                    "type": "string",
                    "description": "Utilizada para realizar agendamento do pagamento",
                    "format": "date",
                    "example": "2022-03-15",
                    "deprecated": false
                  }
                },
                "x-readme-ref-name": "PixTransactionSaveRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Identificador único da transação Pix no Asaas",
                      "example": "35363f6e-93e2-11ec-b9d9-96f4053b1bd4",
                      "deprecated": false
                    },
                    "endToEndIdentifier": {
                      "type": "string",
                      "description": "Identificador da transação Pix no Banco Central",
                      "example": "E00416968202111161635q5bk0brYk2C",
                      "deprecated": false
                    },
                    "finality": {
                      "type": "string",
                      "description": "Usado para indicar se é um Saque ou Troco",
                      "example": "WITHDRAWAL",
                      "deprecated": false,
                      "enum": [
                        "WITHDRAWAL",
                        "CHANGE"
                      ],
                      "x-readme-ref-name": "PixTransactionGetResponsePixTransactionCashValueFinality"
                    },
                    "value": {
                      "type": "number",
                      "description": "Valor da transação ou de um Saque",
                      "example": 10,
                      "deprecated": false
                    },
                    "changeValue": {
                      "type": "number",
                      "description": "Valor do troco",
                      "deprecated": false,
                      "example": null
                    },
                    "refundedValue": {
                      "type": "number",
                      "description": "Valor estornado",
                      "example": 0,
                      "deprecated": false
                    },
                    "effectiveDate": {
                      "type": "string",
                      "description": "Data da transação",
                      "format": "date-time",
                      "example": "2022-01-13 10:49:59",
                      "deprecated": false
                    },
                    "scheduledDate": {
                      "type": "string",
                      "description": "Data do agendamento",
                      "format": "date",
                      "example": "2022-10-18",
                      "deprecated": false
                    },
                    "status": {
                      "type": "string",
                      "description": "Status da transação",
                      "example": "SCHEDULED",
                      "deprecated": false,
                      "enum": [
                        "AWAITING_BALANCE_VALIDATION",
                        "AWAITING_INSTANT_PAYMENT_ACCOUNT_BALANCE",
                        "AWAITING_CRITICAL_ACTION_AUTHORIZATION",
                        "AWAITING_CHECKOUT_RISK_ANALYSIS_REQUEST",
                        "AWAITING_CASH_IN_RISK_ANALYSIS_REQUEST",
                        "SCHEDULED",
                        "AWAITING_REQUEST",
                        "REQUESTED",
                        "DONE",
                        "REFUSED",
                        "CANCELLED"
                      ],
                      "x-readme-ref-name": "PixTransactionGetResponsePixTransactionStatus"
                    },
                    "type": {
                      "type": "string",
                      "description": "Tipos da transação",
                      "example": "DEBIT",
                      "deprecated": false,
                      "enum": [
                        "DEBIT",
                        "CREDIT",
                        "CREDIT_REFUND",
                        "DEBIT_REFUND",
                        "DEBIT_REFUND_CANCELLATION"
                      ],
                      "x-readme-ref-name": "PixTransactionGetResponsePixTransactionType"
                    },
                    "originType": {
                      "type": "string",
                      "description": "Indica qual foi a origem da transação",
                      "example": "DYNAMIC_QRCODE",
                      "deprecated": false,
                      "enum": [
                        "MANUAL",
                        "ADDRESS_KEY",
                        "STATIC_QRCODE",
                        "DYNAMIC_QRCODE",
                        "PAYMENT_INITIATION_SERVICE",
                        "AUTOMATIC_RECURRING"
                      ],
                      "x-readme-ref-name": "PixTransactionGetResponsePixTransactionOriginType"
                    },
                    "conciliationIdentifier": {
                      "type": "string",
                      "description": "Identificador do QrCode vinculado a transação",
                      "example": "dcabae5bbfb6nffbb87c693883656483",
                      "deprecated": false
                    },
                    "description": {
                      "type": "string",
                      "description": "Descrição sobre a transação",
                      "deprecated": false,
                      "example": null
                    },
                    "transactionReceiptUrl": {
                      "type": "string",
                      "description": "Comprovante de transação, estará disponível após a transação ser confirmada.",
                      "deprecated": false,
                      "example": null
                    },
                    "refusalReason": {
                      "type": "string",
                      "description": "Motivo pelo qual a transação foi recusada",
                      "deprecated": false,
                      "example": null
                    },
                    "canBeCanceled": {
                      "type": "boolean",
                      "description": "Indica se a transação pode ser cancelada",
                      "example": true,
                      "deprecated": false
                    },
                    "originalTransaction": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Identificador único da transação",
                          "deprecated": false,
                          "example": null
                        },
                        "endToEndIdentifier": {
                          "type": "string",
                          "description": "Identificador único da transação Pix no Banco Central",
                          "deprecated": false,
                          "example": null
                        },
                        "value": {
                          "type": "number",
                          "description": "Valor original da transação",
                          "deprecated": false,
                          "example": null
                        },
                        "effectiveDate": {
                          "type": "string",
                          "description": "Data da transação",
                          "format": "date",
                          "deprecated": false,
                          "example": null
                        }
                      },
                      "description": "Informações originais da transação caso tenha ocorrido um estorno",
                      "deprecated": false,
                      "x-readme-ref-name": "PixOriginalTransactionResponseDTO"
                    },
                    "externalAccount": {
                      "type": "object",
                      "properties": {
                        "ispb": {
                          "type": "string",
                          "description": "Identificador da Instituição de Pagamento",
                          "example": "416968",
                          "deprecated": false
                        },
                        "ispbName": {
                          "type": "string",
                          "description": "Nome da Instituição de pagamento",
                          "example": "Banco exemplo S.A",
                          "deprecated": false
                        },
                        "name": {
                          "type": "string",
                          "description": "Nome do recebedor",
                          "example": "John Doe",
                          "deprecated": false
                        },
                        "cpfCnpj": {
                          "type": "string",
                          "description": "Cpf ou Cnpj do recebedor",
                          "example": "***.456.789-**",
                          "deprecated": false
                        },
                        "addressKey": {
                          "type": "string",
                          "description": "Chave Pix",
                          "example": "12345678910",
                          "deprecated": false
                        },
                        "addressKeyType": {
                          "type": "string",
                          "description": "Tipo da chave Pix",
                          "example": "CPF",
                          "deprecated": false,
                          "enum": [
                            "CPF",
                            "CNPJ",
                            "EMAIL",
                            "PHONE",
                            "EVP"
                          ],
                          "x-readme-ref-name": "PixTransactionExternalAccountResponsePixAddressKeyType"
                        }
                      },
                      "description": "Informações sobre o recebedor",
                      "deprecated": false,
                      "x-readme-ref-name": "PixTransactionExternalAccountResponseDTO"
                    },
                    "qrCode": {
                      "type": "object",
                      "properties": {
                        "payer": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Nome do pagador",
                              "example": "Elon Musk",
                              "deprecated": false
                            },
                            "cpfCnpj": {
                              "type": "string",
                              "description": "CPF ou CNPJ do pagador",
                              "example": "***.456.789-**",
                              "deprecated": false
                            }
                          },
                          "description": "Informações sobre o pagador",
                          "deprecated": false,
                          "x-readme-ref-name": "PixTransactionQrCodePayerResponseDTO"
                        },
                        "conciliationIdentifier": {
                          "type": "string",
                          "description": "Identificador único de conciliação Pix com o Asaas",
                          "example": "dcabae5bbfb6nffbb87c693883656483",
                          "deprecated": false
                        },
                        "originalValue": {
                          "type": "number",
                          "description": "Valor original da transação",
                          "example": 99,
                          "deprecated": false
                        },
                        "dueDate": {
                          "type": "string",
                          "description": "Data de vencimento",
                          "format": "date",
                          "example": "2030-02-05",
                          "deprecated": false
                        },
                        "interest": {
                          "type": "number",
                          "description": "Valor dos juros",
                          "example": 1,
                          "deprecated": false
                        },
                        "fine": {
                          "type": "number",
                          "description": "Valor da multa",
                          "example": 3,
                          "deprecated": false
                        },
                        "discount": {
                          "type": "number",
                          "description": "Valor do desconto",
                          "example": 5,
                          "deprecated": false
                        },
                        "expirationDate": {
                          "type": "string",
                          "description": "Data de expiração",
                          "format": "date-time",
                          "example": "2030-02-10 11:00:00",
                          "deprecated": false
                        },
                        "description": {
                          "type": "string",
                          "description": "Descrição do QrCode",
                          "example": "Churrasco",
                          "deprecated": false
                        }
                      },
                      "description": "Informações sobre o QrCode",
                      "deprecated": false,
                      "x-readme-ref-name": "PixTransactionQrCodeResponseDTO"
                    },
                    "payment": {
                      "type": "string",
                      "description": "Identificador único da cobrança",
                      "example": "pay_0491859546906926",
                      "deprecated": false
                    },
                    "canBeRefunded": {
                      "type": "boolean",
                      "description": "Indica se a transação pode ser estornada",
                      "example": true,
                      "deprecated": false
                    },
                    "refundDisabledReason": {
                      "type": "string",
                      "description": "Motivo pelo qual o estorno foi desabilitado",
                      "deprecated": false,
                      "example": null
                    },
                    "chargedFeeValue": {
                      "type": "number",
                      "description": "Taxa de débito ou crédito referente a transação",
                      "example": 0.99,
                      "deprecated": false
                    },
                    "dateCreated": {
                      "type": "string",
                      "description": "Data de criação da transação",
                      "format": "date-time",
                      "example": "023-02-14 10:42:55",
                      "deprecated": false
                    },
                    "addressKey": {
                      "type": "string",
                      "description": "Chave Pix quando a transação é um crédito",
                      "deprecated": false,
                      "example": null
                    },
                    "addressKeyType": {
                      "type": "string",
                      "description": "Tipo da chave Pix",
                      "example": "CPF",
                      "deprecated": false,
                      "enum": [
                        "CPF",
                        "CNPJ",
                        "EMAIL",
                        "PHONE",
                        "EVP"
                      ],
                      "x-readme-ref-name": "PixTransactionGetResponsePixAddressKeyType"
                    },
                    "transferId": {
                      "type": "string",
                      "description": "Identificador da transferência",
                      "deprecated": false,
                      "example": null
                    },
                    "externalReference": {
                      "type": "string",
                      "description": "Campo livre para busca",
                      "deprecated": false,
                      "example": null
                    }
                  },
                  "x-readme-ref-name": "PixTransactionGetResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "error_code",
                      "description": "Descrição do erro"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "invalid_access_token",
                      "description": "A chave de API fornecida é inválida"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v3/pix/qrCodes/decode": {
      "post": {
        "tags": [
          "Transações Pix"
        ],
        "summary": "Decodificar um QRCode para pagamento",
        "description": "",
        "operationId": "decodificar-um-qrcode-para-pagamento",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "payload"
                ],
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "Payload do QRCode",
                    "nullable": false,
                    "example": "00020101021226730014br.gov.bcb.pix2551pix-h.asaas.com/pixqrcode/cobv/pay_76575613967995145204000053039865802BR5905ASAAS6009Joinville61088922827162070503***63045E7A",
                    "deprecated": false
                  },
                  "changeValue": {
                    "type": "number",
                    "description": "Valor do troco (para QRCode Troco)",
                    "deprecated": false,
                    "example": null
                  },
                  "expectedPaymentDate": {
                    "type": "string",
                    "description": "Data prevista para realizar o pagamento",
                    "format": "date",
                    "example": "2026-01-01",
                    "deprecated": false
                  }
                },
                "x-readme-ref-name": "PixQrCodeDecodeRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "payload": {
                      "type": "string",
                      "description": "Copia e Cola do QrCode",
                      "example": "00020101021226730014br.gov.bcb.pix2551pix-h.asaas.com/pixqrcode/cobv/pay_76575613967995145204000053039865802BR5905ASAAS6009Joinville61088922827162070503***63045E7A",
                      "deprecated": false
                    },
                    "type": {
                      "type": "string",
                      "description": "Tipo do QR Code",
                      "example": "DYNAMIC",
                      "deprecated": false,
                      "enum": [
                        "STATIC",
                        "DYNAMIC",
                        "DYNAMIC_WITH_ASAAS_ADDRESS_KEY",
                        "COMPOSITE"
                      ],
                      "x-readme-ref-name": "PixQrCodeDecodeResponsePixQrCodeType"
                    },
                    "transactionOriginType": {
                      "type": "string",
                      "description": "Origem da transação",
                      "example": "DYNAMIC_QRCODE",
                      "deprecated": false,
                      "enum": [
                        "MANUAL",
                        "ADDRESS_KEY",
                        "STATIC_QRCODE",
                        "DYNAMIC_QRCODE",
                        "PAYMENT_INITIATION_SERVICE",
                        "AUTOMATIC_RECURRING"
                      ],
                      "x-readme-ref-name": "PixQrCodeDecodeResponsePixTransactionOriginType"
                    },
                    "pixKey": {
                      "type": "string",
                      "description": "Chave Pix utilizada",
                      "example": "f9560206-807f-4273-ad72-d9ba9ddd867b",
                      "deprecated": false
                    },
                    "conciliationIdentifier": {
                      "type": "string",
                      "description": "Identificador único de conciliação Pix com o Asaas",
                      "example": "dcabae5bbfb6nffbb87c69388365648",
                      "deprecated": false
                    },
                    "dueDate": {
                      "type": "string",
                      "description": "Data de vencimento",
                      "format": "date",
                      "example": "2030-02-05",
                      "deprecated": false
                    },
                    "expirationDate": {
                      "type": "string",
                      "description": "Data de expiração",
                      "format": "date-time",
                      "example": "030-02-10 11:00:00",
                      "deprecated": false
                    },
                    "finality": {
                      "type": "string",
                      "description": "Usado para indicar se é um Saque ou Troco",
                      "example": "CHANGE",
                      "deprecated": false,
                      "enum": [
                        "WITHDRAWAL",
                        "CHANGE"
                      ],
                      "x-readme-ref-name": "PixQrCodeDecodeResponsePixTransactionCashValueFinality"
                    },
                    "value": {
                      "type": "number",
                      "description": "Valor do QRCode",
                      "example": 100,
                      "deprecated": false
                    },
                    "changeValue": {
                      "type": "number",
                      "description": "Valor do troco",
                      "example": 2,
                      "deprecated": false
                    },
                    "interest": {
                      "type": "number",
                      "description": "Valor dos juros",
                      "example": 1,
                      "deprecated": false
                    },
                    "fine": {
                      "type": "number",
                      "description": "Valor das multas",
                      "example": 3,
                      "deprecated": false
                    },
                    "discount": {
                      "type": "number",
                      "description": "Valor do desconto",
                      "example": 5,
                      "deprecated": false
                    },
                    "totalValue": {
                      "type": "number",
                      "description": "Valor total com a multa, juros e desconto aplicados",
                      "example": 99,
                      "deprecated": false
                    },
                    "canBePaidWithDifferentValue": {
                      "type": "boolean",
                      "description": "Informa se o QRCode pode ser pago com outro valor",
                      "example": true,
                      "deprecated": false
                    },
                    "canBeModifyChangeValue": {
                      "type": "boolean",
                      "description": "Informa se o troco pode ser pago com outro valor",
                      "example": false,
                      "deprecated": false
                    },
                    "receiver": {
                      "type": "object",
                      "properties": {
                        "ispb": {
                          "type": "string",
                          "description": "Código da instituição financeira",
                          "deprecated": false,
                          "example": null
                        },
                        "ispbName": {
                          "type": "string",
                          "description": "Nome da instituição financeira",
                          "deprecated": false,
                          "example": null
                        },
                        "name": {
                          "type": "string",
                          "description": "Nome do Recebedor",
                          "deprecated": false,
                          "example": null
                        },
                        "tradingName": {
                          "type": "string",
                          "description": "Nome fantasia do recebedor",
                          "deprecated": false,
                          "example": null
                        },
                        "cpfCnpj": {
                          "type": "string",
                          "description": "CPF ou CNPJ do recebedor",
                          "deprecated": false,
                          "example": null
                        },
                        "personType": {
                          "type": "string",
                          "description": "Tipo de pessoa",
                          "example": "JURIDICA",
                          "deprecated": false,
                          "enum": [
                            "JURIDICA",
                            "FISICA"
                          ],
                          "x-readme-ref-name": "PixQrCodeDecodeReceiverPersonType"
                        },
                        "accountType": {
                          "type": "string",
                          "description": "Tipo da conta do recebedor",
                          "example": "CHECKING_ACCOUNT",
                          "deprecated": false,
                          "enum": [
                            "CHECKING_ACCOUNT",
                            "SALARY_ACCOUNT",
                            "INVESTIMENT_ACCOUNT",
                            "PAYMENT_ACCOUNT"
                          ],
                          "x-readme-ref-name": "PixQrCodeDecodeReceiverPixAccountType"
                        }
                      },
                      "description": "Informações sobre o recebedor",
                      "deprecated": false,
                      "x-readme-ref-name": "PixQrCodeDecodeReceiverDTO"
                    },
                    "payer": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Nome do pagador",
                          "example": "Elon Musk",
                          "deprecated": false
                        },
                        "cpfCnpj": {
                          "type": "string",
                          "description": "CPF ou CNPJ do pagador",
                          "example": "***.456.789-**",
                          "deprecated": false
                        }
                      },
                      "description": "Informações sobre o pagador",
                      "deprecated": false,
                      "x-readme-ref-name": "PixTransactionQrCodePayerResponseDTO"
                    },
                    "description": {
                      "type": "string",
                      "description": "Descrição informada durante a criação do QRCode",
                      "deprecated": false,
                      "example": null
                    },
                    "canBePaid": {
                      "type": "boolean",
                      "description": "Informa se o QRCode pode ser pago",
                      "example": true,
                      "deprecated": false
                    },
                    "cannotBePaidReason": {
                      "type": "string",
                      "description": "Informa o porquê do QRCode não pode ser pago",
                      "deprecated": false,
                      "example": null
                    }
                  },
                  "x-readme-ref-name": "PixQrCodeDecodeResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "error_code",
                      "description": "Descrição do erro"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "invalid_access_token",
                      "description": "A chave de API fornecida é inválida"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v3/pix/transactions/{id}": {
      "get": {
        "tags": [
          "Transações Pix"
        ],
        "summary": "Recuperar uma única transação",
        "description": "",
        "operationId": "recuperar-uma-unica-transacao",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identificador único da transação Pix no Asaas",
            "required": true,
            "schema": {
              "type": "string",
              "example": "35363f6e-93e2-11ec-b9d9-96f4053b1bd4"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Identificador único da transação Pix no Asaas",
                      "example": "35363f6e-93e2-11ec-b9d9-96f4053b1bd4",
                      "deprecated": false
                    },
                    "endToEndIdentifier": {
                      "type": "string",
                      "description": "Identificador da transação Pix no Banco Central",
                      "example": "E00416968202111161635q5bk0brYk2C",
                      "deprecated": false
                    },
                    "finality": {
                      "type": "string",
                      "description": "Usado para indicar se é um Saque ou Troco",
                      "example": "WITHDRAWAL",
                      "deprecated": false,
                      "enum": [
                        "WITHDRAWAL",
                        "CHANGE"
                      ],
                      "x-readme-ref-name": "PixTransactionGetResponsePixTransactionCashValueFinality"
                    },
                    "value": {
                      "type": "number",
                      "description": "Valor da transação ou de um Saque",
                      "example": 10,
                      "deprecated": false
                    },
                    "changeValue": {
                      "type": "number",
                      "description": "Valor do troco",
                      "deprecated": false,
                      "example": null
                    },
                    "refundedValue": {
                      "type": "number",
                      "description": "Valor estornado",
                      "example": 0,
                      "deprecated": false
                    },
                    "effectiveDate": {
                      "type": "string",
                      "description": "Data da transação",
                      "format": "date-time",
                      "example": "2022-01-13 10:49:59",
                      "deprecated": false
                    },
                    "scheduledDate": {
                      "type": "string",
                      "description": "Data do agendamento",
                      "format": "date",
                      "example": "2022-10-18",
                      "deprecated": false
                    },
                    "status": {
                      "type": "string",
                      "description": "Status da transação",
                      "example": "SCHEDULED",
                      "deprecated": false,
                      "enum": [
                        "AWAITING_BALANCE_VALIDATION",
                        "AWAITING_INSTANT_PAYMENT_ACCOUNT_BALANCE",
                        "AWAITING_CRITICAL_ACTION_AUTHORIZATION",
                        "AWAITING_CHECKOUT_RISK_ANALYSIS_REQUEST",
                        "AWAITING_CASH_IN_RISK_ANALYSIS_REQUEST",
                        "SCHEDULED",
                        "AWAITING_REQUEST",
                        "REQUESTED",
                        "DONE",
                        "REFUSED",
                        "CANCELLED"
                      ],
                      "x-readme-ref-name": "PixTransactionGetResponsePixTransactionStatus"
                    },
                    "type": {
                      "type": "string",
                      "description": "Tipos da transação",
                      "example": "DEBIT",
                      "deprecated": false,
                      "enum": [
                        "DEBIT",
                        "CREDIT",
                        "CREDIT_REFUND",
                        "DEBIT_REFUND",
                        "DEBIT_REFUND_CANCELLATION"
                      ],
                      "x-readme-ref-name": "PixTransactionGetResponsePixTransactionType"
                    },
                    "originType": {
                      "type": "string",
                      "description": "Indica qual foi a origem da transação",
                      "example": "DYNAMIC_QRCODE",
                      "deprecated": false,
                      "enum": [
                        "MANUAL",
                        "ADDRESS_KEY",
                        "STATIC_QRCODE",
                        "DYNAMIC_QRCODE",
                        "PAYMENT_INITIATION_SERVICE",
                        "AUTOMATIC_RECURRING"
                      ],
                      "x-readme-ref-name": "PixTransactionGetResponsePixTransactionOriginType"
                    },
                    "conciliationIdentifier": {
                      "type": "string",
                      "description": "Identificador do QrCode vinculado a transação",
                      "example": "dcabae5bbfb6nffbb87c693883656483",
                      "deprecated": false
                    },
                    "description": {
                      "type": "string",
                      "description": "Descrição sobre a transação",
                      "deprecated": false,
                      "example": null
                    },
                    "transactionReceiptUrl": {
                      "type": "string",
                      "description": "Comprovante de transação, estará disponível após a transação ser confirmada.",
                      "deprecated": false,
                      "example": null
                    },
                    "refusalReason": {
                      "type": "string",
                      "description": "Motivo pelo qual a transação foi recusada",
                      "deprecated": false,
                      "example": null
                    },
                    "canBeCanceled": {
                      "type": "boolean",
                      "description": "Indica se a transação pode ser cancelada",
                      "example": true,
                      "deprecated": false
                    },
                    "originalTransaction": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Identificador único da transação",
                          "deprecated": false,
                          "example": null
                        },
                        "endToEndIdentifier": {
                          "type": "string",
                          "description": "Identificador único da transação Pix no Banco Central",
                          "deprecated": false,
                          "example": null
                        },
                        "value": {
                          "type": "number",
                          "description": "Valor original da transação",
                          "deprecated": false,
                          "example": null
                        },
                        "effectiveDate": {
                          "type": "string",
                          "description": "Data da transação",
                          "format": "date",
                          "deprecated": false,
                          "example": null
                        }
                      },
                      "description": "Informações originais da transação caso tenha ocorrido um estorno",
                      "deprecated": false,
                      "x-readme-ref-name": "PixOriginalTransactionResponseDTO"
                    },
                    "externalAccount": {
                      "type": "object",
                      "properties": {
                        "ispb": {
                          "type": "string",
                          "description": "Identificador da Instituição de Pagamento",
                          "example": "416968",
                          "deprecated": false
                        },
                        "ispbName": {
                          "type": "string",
                          "description": "Nome da Instituição de pagamento",
                          "example": "Banco exemplo S.A",
                          "deprecated": false
                        },
                        "name": {
                          "type": "string",
                          "description": "Nome do recebedor",
                          "example": "John Doe",
                          "deprecated": false
                        },
                        "cpfCnpj": {
                          "type": "string",
                          "description": "Cpf ou Cnpj do recebedor",
                          "example": "***.456.789-**",
                          "deprecated": false
                        },
                        "addressKey": {
                          "type": "string",
                          "description": "Chave Pix",
                          "example": "12345678910",
                          "deprecated": false
                        },
                        "addressKeyType": {
                          "type": "string",
                          "description": "Tipo da chave Pix",
                          "example": "CPF",
                          "deprecated": false,
                          "enum": [
                            "CPF",
                            "CNPJ",
                            "EMAIL",
                            "PHONE",
                            "EVP"
                          ],
                          "x-readme-ref-name": "PixTransactionExternalAccountResponsePixAddressKeyType"
                        }
                      },
                      "description": "Informações sobre o recebedor",
                      "deprecated": false,
                      "x-readme-ref-name": "PixTransactionExternalAccountResponseDTO"
                    },
                    "qrCode": {
                      "type": "object",
                      "properties": {
                        "payer": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Nome do pagador",
                              "example": "Elon Musk",
                              "deprecated": false
                            },
                            "cpfCnpj": {
                              "type": "string",
                              "description": "CPF ou CNPJ do pagador",
                              "example": "***.456.789-**",
                              "deprecated": false
                            }
                          },
                          "description": "Informações sobre o pagador",
                          "deprecated": false,
                          "x-readme-ref-name": "PixTransactionQrCodePayerResponseDTO"
                        },
                        "conciliationIdentifier": {
                          "type": "string",
                          "description": "Identificador único de conciliação Pix com o Asaas",
                          "example": "dcabae5bbfb6nffbb87c693883656483",
                          "deprecated": false
                        },
                        "originalValue": {
                          "type": "number",
                          "description": "Valor original da transação",
                          "example": 99,
                          "deprecated": false
                        },
                        "dueDate": {
                          "type": "string",
                          "description": "Data de vencimento",
                          "format": "date",
                          "example": "2030-02-05",
                          "deprecated": false
                        },
                        "interest": {
                          "type": "number",
                          "description": "Valor dos juros",
                          "example": 1,
                          "deprecated": false
                        },
                        "fine": {
                          "type": "number",
                          "description": "Valor da multa",
                          "example": 3,
                          "deprecated": false
                        },
                        "discount": {
                          "type": "number",
                          "description": "Valor do desconto",
                          "example": 5,
                          "deprecated": false
                        },
                        "expirationDate": {
                          "type": "string",
                          "description": "Data de expiração",
                          "format": "date-time",
                          "example": "2030-02-10 11:00:00",
                          "deprecated": false
                        },
                        "description": {
                          "type": "string",
                          "description": "Descrição do QrCode",
                          "example": "Churrasco",
                          "deprecated": false
                        }
                      },
                      "description": "Informações sobre o QrCode",
                      "deprecated": false,
                      "x-readme-ref-name": "PixTransactionQrCodeResponseDTO"
                    },
                    "payment": {
                      "type": "string",
                      "description": "Identificador único da cobrança",
                      "example": "pay_0491859546906926",
                      "deprecated": false
                    },
                    "canBeRefunded": {
                      "type": "boolean",
                      "description": "Indica se a transação pode ser estornada",
                      "example": true,
                      "deprecated": false
                    },
                    "refundDisabledReason": {
                      "type": "string",
                      "description": "Motivo pelo qual o estorno foi desabilitado",
                      "deprecated": false,
                      "example": null
                    },
                    "chargedFeeValue": {
                      "type": "number",
                      "description": "Taxa de débito ou crédito referente a transação",
                      "example": 0.99,
                      "deprecated": false
                    },
                    "dateCreated": {
                      "type": "string",
                      "description": "Data de criação da transação",
                      "format": "date-time",
                      "example": "023-02-14 10:42:55",
                      "deprecated": false
                    },
                    "addressKey": {
                      "type": "string",
                      "description": "Chave Pix quando a transação é um crédito",
                      "deprecated": false,
                      "example": null
                    },
                    "addressKeyType": {
                      "type": "string",
                      "description": "Tipo da chave Pix",
                      "example": "CPF",
                      "deprecated": false,
                      "enum": [
                        "CPF",
                        "CNPJ",
                        "EMAIL",
                        "PHONE",
                        "EVP"
                      ],
                      "x-readme-ref-name": "PixTransactionGetResponsePixAddressKeyType"
                    },
                    "transferId": {
                      "type": "string",
                      "description": "Identificador da transferência",
                      "deprecated": false,
                      "example": null
                    },
                    "externalReference": {
                      "type": "string",
                      "description": "Campo livre para busca",
                      "deprecated": false,
                      "example": null
                    }
                  },
                  "x-readme-ref-name": "PixTransactionGetResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "error_code",
                      "description": "Descrição do erro"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "invalid_access_token",
                      "description": "A chave de API fornecida é inválida"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."
          },
          "404": {
            "description": "Not found"
          }
        },
        "deprecated": false
      }
    },
    "/v3/pix/transactions": {
      "get": {
        "tags": [
          "Transações Pix"
        ],
        "summary": "Listar transações",
        "description": "",
        "operationId": "listar-transacoes",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Elemento inicial da lista",
            "schema": {
              "type": "integer",
              "example": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Número de elementos da lista (max: 100)",
            "schema": {
              "maximum": 100,
              "type": "integer",
              "example": 10
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filtrar por status da transação",
            "schema": {
              "type": "string",
              "description": "Filtrar por status da transação",
              "example": "AWAITING_BALANCE_VALIDATION",
              "deprecated": false,
              "enum": [
                "AWAITING_BALANCE_VALIDATION",
                "AWAITING_INSTANT_PAYMENT_ACCOUNT_BALANCE",
                "AWAITING_CRITICAL_ACTION_AUTHORIZATION",
                "AWAITING_CHECKOUT_RISK_ANALYSIS_REQUEST",
                "AWAITING_CASH_IN_RISK_ANALYSIS_REQUEST",
                "SCHEDULED",
                "AWAITING_REQUEST",
                "REQUESTED",
                "DONE",
                "REFUSED",
                "CANCELLED"
              ],
              "x-readme-ref-name": "PixTransactionListRequestPixTransactionStatus"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filtrar por tipo da transação",
            "schema": {
              "type": "string",
              "description": "Filtrar por tipo da transação",
              "example": "DEBIT",
              "deprecated": false,
              "enum": [
                "DEBIT",
                "CREDIT",
                "CREDIT_REFUND",
                "DEBIT_REFUND",
                "DEBIT_REFUND_CANCELLATION"
              ],
              "x-readme-ref-name": "PixTransactionListRequestPixTransactionType"
            }
          },
          {
            "name": "endToEndIdentifier",
            "in": "query",
            "description": "Filtrar pelo identificador da transação Pix no Banco Central",
            "schema": {
              "type": "string",
              "example": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "description": "Tipo de objeto",
                      "example": "list",
                      "deprecated": false
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Indica se há mais uma página a ser buscada",
                      "example": false,
                      "deprecated": false
                    },
                    "totalCount": {
                      "type": "integer",
                      "description": "Quantidade total de itens para os filtros informados",
                      "format": "int32",
                      "example": 2,
                      "deprecated": false
                    },
                    "limit": {
                      "type": "integer",
                      "description": "Quantidade de objetos por página",
                      "format": "int32",
                      "example": 10,
                      "deprecated": false
                    },
                    "offset": {
                      "type": "integer",
                      "description": "Posição do objeto a partir do qual a página deve ser carregada",
                      "format": "int32",
                      "example": 0,
                      "deprecated": false
                    },
                    "data": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Identificador único da transação Pix no Asaas",
                            "example": "35363f6e-93e2-11ec-b9d9-96f4053b1bd4",
                            "deprecated": false
                          },
                          "endToEndIdentifier": {
                            "type": "string",
                            "description": "Identificador da transação Pix no Banco Central",
                            "example": "E00416968202111161635q5bk0brYk2C",
                            "deprecated": false
                          },
                          "finality": {
                            "type": "string",
                            "description": "Usado para indicar se é um Saque ou Troco",
                            "example": "WITHDRAWAL",
                            "deprecated": false,
                            "enum": [
                              "WITHDRAWAL",
                              "CHANGE"
                            ],
                            "x-readme-ref-name": "PixTransactionGetResponsePixTransactionCashValueFinality"
                          },
                          "value": {
                            "type": "number",
                            "description": "Valor da transação ou de um Saque",
                            "example": 10,
                            "deprecated": false
                          },
                          "changeValue": {
                            "type": "number",
                            "description": "Valor do troco",
                            "deprecated": false,
                            "example": null
                          },
                          "refundedValue": {
                            "type": "number",
                            "description": "Valor estornado",
                            "example": 0,
                            "deprecated": false
                          },
                          "effectiveDate": {
                            "type": "string",
                            "description": "Data da transação",
                            "format": "date-time",
                            "example": "2022-01-13 10:49:59",
                            "deprecated": false
                          },
                          "scheduledDate": {
                            "type": "string",
                            "description": "Data do agendamento",
                            "format": "date",
                            "example": "2022-10-18",
                            "deprecated": false
                          },
                          "status": {
                            "type": "string",
                            "description": "Status da transação",
                            "example": "SCHEDULED",
                            "deprecated": false,
                            "enum": [
                              "AWAITING_BALANCE_VALIDATION",
                              "AWAITING_INSTANT_PAYMENT_ACCOUNT_BALANCE",
                              "AWAITING_CRITICAL_ACTION_AUTHORIZATION",
                              "AWAITING_CHECKOUT_RISK_ANALYSIS_REQUEST",
                              "AWAITING_CASH_IN_RISK_ANALYSIS_REQUEST",
                              "SCHEDULED",
                              "AWAITING_REQUEST",
                              "REQUESTED",
                              "DONE",
                              "REFUSED",
                              "CANCELLED"
                            ],
                            "x-readme-ref-name": "PixTransactionGetResponsePixTransactionStatus"
                          },
                          "type": {
                            "type": "string",
                            "description": "Tipos da transação",
                            "example": "DEBIT",
                            "deprecated": false,
                            "enum": [
                              "DEBIT",
                              "CREDIT",
                              "CREDIT_REFUND",
                              "DEBIT_REFUND",
                              "DEBIT_REFUND_CANCELLATION"
                            ],
                            "x-readme-ref-name": "PixTransactionGetResponsePixTransactionType"
                          },
                          "originType": {
                            "type": "string",
                            "description": "Indica qual foi a origem da transação",
                            "example": "DYNAMIC_QRCODE",
                            "deprecated": false,
                            "enum": [
                              "MANUAL",
                              "ADDRESS_KEY",
                              "STATIC_QRCODE",
                              "DYNAMIC_QRCODE",
                              "PAYMENT_INITIATION_SERVICE",
                              "AUTOMATIC_RECURRING"
                            ],
                            "x-readme-ref-name": "PixTransactionGetResponsePixTransactionOriginType"
                          },
                          "conciliationIdentifier": {
                            "type": "string",
                            "description": "Identificador do QrCode vinculado a transação",
                            "example": "dcabae5bbfb6nffbb87c693883656483",
                            "deprecated": false
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição sobre a transação",
                            "deprecated": false,
                            "example": null
                          },
                          "transactionReceiptUrl": {
                            "type": "string",
                            "description": "Comprovante de transação, estará disponível após a transação ser confirmada.",
                            "deprecated": false,
                            "example": null
                          },
                          "refusalReason": {
                            "type": "string",
                            "description": "Motivo pelo qual a transação foi recusada",
                            "deprecated": false,
                            "example": null
                          },
                          "canBeCanceled": {
                            "type": "boolean",
                            "description": "Indica se a transação pode ser cancelada",
                            "example": true,
                            "deprecated": false
                          },
                          "originalTransaction": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Identificador único da transação",
                                "deprecated": false,
                                "example": null
                              },
                              "endToEndIdentifier": {
                                "type": "string",
                                "description": "Identificador único da transação Pix no Banco Central",
                                "deprecated": false,
                                "example": null
                              },
                              "value": {
                                "type": "number",
                                "description": "Valor original da transação",
                                "deprecated": false,
                                "example": null
                              },
                              "effectiveDate": {
                                "type": "string",
                                "description": "Data da transação",
                                "format": "date",
                                "deprecated": false,
                                "example": null
                              }
                            },
                            "description": "Informações originais da transação caso tenha ocorrido um estorno",
                            "deprecated": false,
                            "x-readme-ref-name": "PixOriginalTransactionResponseDTO"
                          },
                          "externalAccount": {
                            "type": "object",
                            "properties": {
                              "ispb": {
                                "type": "string",
                                "description": "Identificador da Instituição de Pagamento",
                                "example": "416968",
                                "deprecated": false
                              },
                              "ispbName": {
                                "type": "string",
                                "description": "Nome da Instituição de pagamento",
                                "example": "Banco exemplo S.A",
                                "deprecated": false
                              },
                              "name": {
                                "type": "string",
                                "description": "Nome do recebedor",
                                "example": "John Doe",
                                "deprecated": false
                              },
                              "cpfCnpj": {
                                "type": "string",
                                "description": "Cpf ou Cnpj do recebedor",
                                "example": "***.456.789-**",
                                "deprecated": false
                              },
                              "addressKey": {
                                "type": "string",
                                "description": "Chave Pix",
                                "example": "12345678910",
                                "deprecated": false
                              },
                              "addressKeyType": {
                                "type": "string",
                                "description": "Tipo da chave Pix",
                                "example": "CPF",
                                "deprecated": false,
                                "enum": [
                                  "CPF",
                                  "CNPJ",
                                  "EMAIL",
                                  "PHONE",
                                  "EVP"
                                ],
                                "x-readme-ref-name": "PixTransactionExternalAccountResponsePixAddressKeyType"
                              }
                            },
                            "description": "Informações sobre o recebedor",
                            "deprecated": false,
                            "x-readme-ref-name": "PixTransactionExternalAccountResponseDTO"
                          },
                          "qrCode": {
                            "type": "object",
                            "properties": {
                              "payer": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "description": "Nome do pagador",
                                    "example": "Elon Musk",
                                    "deprecated": false
                                  },
                                  "cpfCnpj": {
                                    "type": "string",
                                    "description": "CPF ou CNPJ do pagador",
                                    "example": "***.456.789-**",
                                    "deprecated": false
                                  }
                                },
                                "description": "Informações sobre o pagador",
                                "deprecated": false,
                                "x-readme-ref-name": "PixTransactionQrCodePayerResponseDTO"
                              },
                              "conciliationIdentifier": {
                                "type": "string",
                                "description": "Identificador único de conciliação Pix com o Asaas",
                                "example": "dcabae5bbfb6nffbb87c693883656483",
                                "deprecated": false
                              },
                              "originalValue": {
                                "type": "number",
                                "description": "Valor original da transação",
                                "example": 99,
                                "deprecated": false
                              },
                              "dueDate": {
                                "type": "string",
                                "description": "Data de vencimento",
                                "format": "date",
                                "example": "2030-02-05",
                                "deprecated": false
                              },
                              "interest": {
                                "type": "number",
                                "description": "Valor dos juros",
                                "example": 1,
                                "deprecated": false
                              },
                              "fine": {
                                "type": "number",
                                "description": "Valor da multa",
                                "example": 3,
                                "deprecated": false
                              },
                              "discount": {
                                "type": "number",
                                "description": "Valor do desconto",
                                "example": 5,
                                "deprecated": false
                              },
                              "expirationDate": {
                                "type": "string",
                                "description": "Data de expiração",
                                "format": "date-time",
                                "example": "2030-02-10 11:00:00",
                                "deprecated": false
                              },
                              "description": {
                                "type": "string",
                                "description": "Descrição do QrCode",
                                "example": "Churrasco",
                                "deprecated": false
                              }
                            },
                            "description": "Informações sobre o QrCode",
                            "deprecated": false,
                            "x-readme-ref-name": "PixTransactionQrCodeResponseDTO"
                          },
                          "payment": {
                            "type": "string",
                            "description": "Identificador único da cobrança",
                            "example": "pay_0491859546906926",
                            "deprecated": false
                          },
                          "canBeRefunded": {
                            "type": "boolean",
                            "description": "Indica se a transação pode ser estornada",
                            "example": true,
                            "deprecated": false
                          },
                          "refundDisabledReason": {
                            "type": "string",
                            "description": "Motivo pelo qual o estorno foi desabilitado",
                            "deprecated": false,
                            "example": null
                          },
                          "chargedFeeValue": {
                            "type": "number",
                            "description": "Taxa de débito ou crédito referente a transação",
                            "example": 0.99,
                            "deprecated": false
                          },
                          "dateCreated": {
                            "type": "string",
                            "description": "Data de criação da transação",
                            "format": "date-time",
                            "example": "023-02-14 10:42:55",
                            "deprecated": false
                          },
                          "addressKey": {
                            "type": "string",
                            "description": "Chave Pix quando a transação é um crédito",
                            "deprecated": false,
                            "example": null
                          },
                          "addressKeyType": {
                            "type": "string",
                            "description": "Tipo da chave Pix",
                            "example": "CPF",
                            "deprecated": false,
                            "enum": [
                              "CPF",
                              "CNPJ",
                              "EMAIL",
                              "PHONE",
                              "EVP"
                            ],
                            "x-readme-ref-name": "PixTransactionGetResponsePixAddressKeyType"
                          },
                          "transferId": {
                            "type": "string",
                            "description": "Identificador da transferência",
                            "deprecated": false,
                            "example": null
                          },
                          "externalReference": {
                            "type": "string",
                            "description": "Campo livre para busca",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "x-readme-ref-name": "PixTransactionGetResponseDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "PixTransactionListResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "error_code",
                      "description": "Descrição do erro"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "invalid_access_token",
                      "description": "A chave de API fornecida é inválida"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."
          }
        },
        "deprecated": false
      }
    },
    "/v3/pix/transactions/{id}/cancel": {
      "post": {
        "tags": [
          "Transações Pix"
        ],
        "summary": "Cancelar uma transação agendada",
        "description": "",
        "operationId": "cancelar-uma-transacao-agendada",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identificador único da transação Pix agendada a ser cancelada.",
            "required": true,
            "schema": {
              "type": "string",
              "example": null
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "x-readme-ref-name": "PixTransactionCancelRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Identificador único da transação Pix no Asaas",
                      "example": "35363f6e-93e2-11ec-b9d9-96f4053b1bd4",
                      "deprecated": false
                    },
                    "endToEndIdentifier": {
                      "type": "string",
                      "description": "Identificador da transação Pix no Banco Central",
                      "example": "E00416968202111161635q5bk0brYk2C",
                      "deprecated": false
                    },
                    "finality": {
                      "type": "string",
                      "description": "Usado para indicar se é um Saque ou Troco",
                      "example": "WITHDRAWAL",
                      "deprecated": false,
                      "enum": [
                        "WITHDRAWAL",
                        "CHANGE"
                      ],
                      "x-readme-ref-name": "PixTransactionGetResponsePixTransactionCashValueFinality"
                    },
                    "value": {
                      "type": "number",
                      "description": "Valor da transação ou de um Saque",
                      "example": 10,
                      "deprecated": false
                    },
                    "changeValue": {
                      "type": "number",
                      "description": "Valor do troco",
                      "deprecated": false,
                      "example": null
                    },
                    "refundedValue": {
                      "type": "number",
                      "description": "Valor estornado",
                      "example": 0,
                      "deprecated": false
                    },
                    "effectiveDate": {
                      "type": "string",
                      "description": "Data da transação",
                      "format": "date-time",
                      "example": "2022-01-13 10:49:59",
                      "deprecated": false
                    },
                    "scheduledDate": {
                      "type": "string",
                      "description": "Data do agendamento",
                      "format": "date",
                      "example": "2022-10-18",
                      "deprecated": false
                    },
                    "status": {
                      "type": "string",
                      "description": "Status da transação",
                      "example": "SCHEDULED",
                      "deprecated": false,
                      "enum": [
                        "AWAITING_BALANCE_VALIDATION",
                        "AWAITING_INSTANT_PAYMENT_ACCOUNT_BALANCE",
                        "AWAITING_CRITICAL_ACTION_AUTHORIZATION",
                        "AWAITING_CHECKOUT_RISK_ANALYSIS_REQUEST",
                        "AWAITING_CASH_IN_RISK_ANALYSIS_REQUEST",
                        "SCHEDULED",
                        "AWAITING_REQUEST",
                        "REQUESTED",
                        "DONE",
                        "REFUSED",
                        "CANCELLED"
                      ],
                      "x-readme-ref-name": "PixTransactionGetResponsePixTransactionStatus"
                    },
                    "type": {
                      "type": "string",
                      "description": "Tipos da transação",
                      "example": "DEBIT",
                      "deprecated": false,
                      "enum": [
                        "DEBIT",
                        "CREDIT",
                        "CREDIT_REFUND",
                        "DEBIT_REFUND",
                        "DEBIT_REFUND_CANCELLATION"
                      ],
                      "x-readme-ref-name": "PixTransactionGetResponsePixTransactionType"
                    },
                    "originType": {
                      "type": "string",
                      "description": "Indica qual foi a origem da transação",
                      "example": "DYNAMIC_QRCODE",
                      "deprecated": false,
                      "enum": [
                        "MANUAL",
                        "ADDRESS_KEY",
                        "STATIC_QRCODE",
                        "DYNAMIC_QRCODE",
                        "PAYMENT_INITIATION_SERVICE",
                        "AUTOMATIC_RECURRING"
                      ],
                      "x-readme-ref-name": "PixTransactionGetResponsePixTransactionOriginType"
                    },
                    "conciliationIdentifier": {
                      "type": "string",
                      "description": "Identificador do QrCode vinculado a transação",
                      "example": "dcabae5bbfb6nffbb87c693883656483",
                      "deprecated": false
                    },
                    "description": {
                      "type": "string",
                      "description": "Descrição sobre a transação",
                      "deprecated": false,
                      "example": null
                    },
                    "transactionReceiptUrl": {
                      "type": "string",
                      "description": "Comprovante de transação, estará disponível após a transação ser confirmada.",
                      "deprecated": false,
                      "example": null
                    },
                    "refusalReason": {
                      "type": "string",
                      "description": "Motivo pelo qual a transação foi recusada",
                      "deprecated": false,
                      "example": null
                    },
                    "canBeCanceled": {
                      "type": "boolean",
                      "description": "Indica se a transação pode ser cancelada",
                      "example": true,
                      "deprecated": false
                    },
                    "originalTransaction": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Identificador único da transação",
                          "deprecated": false,
                          "example": null
                        },
                        "endToEndIdentifier": {
                          "type": "string",
                          "description": "Identificador único da transação Pix no Banco Central",
                          "deprecated": false,
                          "example": null
                        },
                        "value": {
                          "type": "number",
                          "description": "Valor original da transação",
                          "deprecated": false,
                          "example": null
                        },
                        "effectiveDate": {
                          "type": "string",
                          "description": "Data da transação",
                          "format": "date",
                          "deprecated": false,
                          "example": null
                        }
                      },
                      "description": "Informações originais da transação caso tenha ocorrido um estorno",
                      "deprecated": false,
                      "x-readme-ref-name": "PixOriginalTransactionResponseDTO"
                    },
                    "externalAccount": {
                      "type": "object",
                      "properties": {
                        "ispb": {
                          "type": "string",
                          "description": "Identificador da Instituição de Pagamento",
                          "example": "416968",
                          "deprecated": false
                        },
                        "ispbName": {
                          "type": "string",
                          "description": "Nome da Instituição de pagamento",
                          "example": "Banco exemplo S.A",
                          "deprecated": false
                        },
                        "name": {
                          "type": "string",
                          "description": "Nome do recebedor",
                          "example": "John Doe",
                          "deprecated": false
                        },
                        "cpfCnpj": {
                          "type": "string",
                          "description": "Cpf ou Cnpj do recebedor",
                          "example": "***.456.789-**",
                          "deprecated": false
                        },
                        "addressKey": {
                          "type": "string",
                          "description": "Chave Pix",
                          "example": "12345678910",
                          "deprecated": false
                        },
                        "addressKeyType": {
                          "type": "string",
                          "description": "Tipo da chave Pix",
                          "example": "CPF",
                          "deprecated": false,
                          "enum": [
                            "CPF",
                            "CNPJ",
                            "EMAIL",
                            "PHONE",
                            "EVP"
                          ],
                          "x-readme-ref-name": "PixTransactionExternalAccountResponsePixAddressKeyType"
                        }
                      },
                      "description": "Informações sobre o recebedor",
                      "deprecated": false,
                      "x-readme-ref-name": "PixTransactionExternalAccountResponseDTO"
                    },
                    "qrCode": {
                      "type": "object",
                      "properties": {
                        "payer": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Nome do pagador",
                              "example": "Elon Musk",
                              "deprecated": false
                            },
                            "cpfCnpj": {
                              "type": "string",
                              "description": "CPF ou CNPJ do pagador",
                              "example": "***.456.789-**",
                              "deprecated": false
                            }
                          },
                          "description": "Informações sobre o pagador",
                          "deprecated": false,
                          "x-readme-ref-name": "PixTransactionQrCodePayerResponseDTO"
                        },
                        "conciliationIdentifier": {
                          "type": "string",
                          "description": "Identificador único de conciliação Pix com o Asaas",
                          "example": "dcabae5bbfb6nffbb87c693883656483",
                          "deprecated": false
                        },
                        "originalValue": {
                          "type": "number",
                          "description": "Valor original da transação",
                          "example": 99,
                          "deprecated": false
                        },
                        "dueDate": {
                          "type": "string",
                          "description": "Data de vencimento",
                          "format": "date",
                          "example": "2030-02-05",
                          "deprecated": false
                        },
                        "interest": {
                          "type": "number",
                          "description": "Valor dos juros",
                          "example": 1,
                          "deprecated": false
                        },
                        "fine": {
                          "type": "number",
                          "description": "Valor da multa",
                          "example": 3,
                          "deprecated": false
                        },
                        "discount": {
                          "type": "number",
                          "description": "Valor do desconto",
                          "example": 5,
                          "deprecated": false
                        },
                        "expirationDate": {
                          "type": "string",
                          "description": "Data de expiração",
                          "format": "date-time",
                          "example": "2030-02-10 11:00:00",
                          "deprecated": false
                        },
                        "description": {
                          "type": "string",
[...]
