{
  "openapi": "3.0.1",
  "info": {
    "title": "Asaas",
    "description": "API pública de integração com a plataforma Asaas.",
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.asaas.com",
      "description": "Sandbox"
    }
  ],
  "tags": [
    {
      "name": "Transferências"
    }
  ],
  "security": [
    {
      "Authorization": []
    }
  ],
  "paths": {
    "/v3/transfers": {
      "post": {
        "tags": [
          "Transferências"
        ],
        "summary": "Transferir para conta de outra Instituição ou chave Pix",
        "description": "",
        "operationId": "transferir-para-conta-de-outra-instituicao-ou-chave-pix",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "value"
                ],
                "type": "object",
                "properties": {
                  "value": {
                    "type": "number",
                    "description": "Valor a ser transferido",
                    "nullable": false,
                    "example": 1000,
                    "deprecated": false
                  },
                  "bankAccount": {
                    "required": [
                      "ownerName",
                      "cpfCnpj",
                      "agency",
                      "account",
                      "accountDigit"
                    ],
                    "type": "object",
                    "properties": {
                      "bank": {
                        "required": [
                          "code"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código de compensação do banco no sistema bancário",
                            "nullable": false,
                            "example": "237",
                            "deprecated": false
                          }
                        },
                        "description": "Dados do banco de destino",
                        "deprecated": false,
                        "x-readme-ref-name": "TransferBankSaveRequestDTO"
                      },
                      "accountName": {
                        "type": "string",
                        "description": "Nome da conta bancária",
                        "example": "Conta do Bradesco",
                        "deprecated": false
                      },
                      "ownerName": {
                        "type": "string",
                        "description": "Nome do proprietário da conta bancária",
                        "nullable": false,
                        "example": "John Doe",
                        "deprecated": false
                      },
                      "ownerBirthDate": {
                        "type": "string",
                        "description": "Data de nascimento do proprietário da conta. Somente quando a conta bancária não pertencer ao mesmo CPF ou CNPJ da conta Asaas.",
                        "format": "date",
                        "example": "1995-04-12",
                        "deprecated": false
                      },
                      "cpfCnpj": {
                        "type": "string",
                        "description": "CPF ou CNPJ do proprietário da conta bancária",
                        "nullable": false,
                        "example": "52233424611",
                        "deprecated": false
                      },
                      "agency": {
                        "type": "string",
                        "description": "Número da agência sem dígito",
                        "nullable": false,
                        "example": "1263",
                        "deprecated": false
                      },
                      "account": {
                        "type": "string",
                        "description": "Número da conta bancária sem dígito",
                        "nullable": false,
                        "example": "9999991",
                        "deprecated": false
                      },
                      "accountDigit": {
                        "type": "string",
                        "description": "Dígito da conta bancária",
                        "nullable": false,
                        "example": "1",
                        "deprecated": false
                      },
                      "bankAccountType": {
                        "type": "string",
                        "description": "Tipo da conta",
                        "example": "CONTA_CORRENTE",
                        "deprecated": false,
                        "enum": [
                          "CONTA_CORRENTE",
                          "CONTA_POUPANCA"
                        ],
                        "x-readme-ref-name": "TransferBankAccountSaveRequestBankAccountType"
                      },
                      "ispb": {
                        "type": "string",
                        "description": "Identificador no Sistema de Pagamentos Brasileiro",
                        "example": "60746948",
                        "deprecated": false
                      }
                    },
                    "description": "Informe os dados da conta caso seja uma transferência para conta bancária",
                    "deprecated": false,
                    "x-readme-ref-name": "TransferBankAccountSaveRequestDTO"
                  },
                  "operationType": {
                    "type": "string",
                    "description": "Modalidade da transferência. Caso não informado e a instituição recebedora seja participante do Pix, a transferência é via Pix. Do contrário via TED.",
                    "example": "PIX",
                    "deprecated": false,
                    "enum": [
                      "PIX",
                      "TED"
                    ],
                    "x-readme-ref-name": "TransferSaveRequestTransferType"
                  },
                  "pixAddressKey": {
                    "type": "string",
                    "description": "Informe a chave Pix caso seja uma transferência para chave Pix",
                    "deprecated": false,
                    "example": null
                  },
                  "pixAddressKeyType": {
                    "type": "string",
                    "description": "Informe o tipo de chave caso seja uma transferência para chave Pix",
                    "example": "EVP",
                    "deprecated": false,
                    "enum": [
                      "CPF",
                      "CNPJ",
                      "EMAIL",
                      "PHONE",
                      "EVP"
                    ],
                    "x-readme-ref-name": "TransferSaveRequestPixAddressKeyType"
                  },
                  "description": {
                    "type": "string",
                    "description": "Transferências via Pix permitem descrição",
                    "example": "Churrasco pago via Pix agendado",
                    "deprecated": false
                  },
                  "scheduleDate": {
                    "type": "string",
                    "description": "Para transferências agendadas, caso não informado o pagamento é instantâneo",
                    "format": "date",
                    "example": "2018-01-26",
                    "deprecated": false
                  },
                  "externalReference": {
                    "type": "string",
                    "description": "Identificador da transferência no seu sistema",
                    "deprecated": false,
                    "example": null
                  },
                  "recurring": {
                    "type": "object",
                    "properties": {
                      "frequency": {
                        "type": "string",
                        "description": "Frequência",
                        "example": "MONTHLY",
                        "deprecated": false,
                        "enum": [
                          "WEEKLY",
                          "MONTHLY"
                        ],
                        "x-readme-ref-name": "TransferRecurringSaveRequestRecurringCheckoutScheduleFrequency"
                      },
                      "quantity": {
                        "maximum": 51,
                        "minimum": 1,
                        "type": "integer",
                        "description": "Quantidade de repetições. Esta transferência será incluída como a primeira transação da recorrência.\n Para a frequência `WEEKLY` o máximo aceito é: `51`\n Para a frequência `MONTHLY` o máximo aceito é: `11`",
                        "format": "int32",
                        "example": 3,
                        "deprecated": false
                      }
                    },
                    "description": "Informações da recorrência. Somente para transferências Pix",
                    "deprecated": false,
                    "x-readme-ref-name": "TransferRecurringSaveRequestDTO"
                  }
                },
                "x-readme-ref-name": "TransferSaveRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "description": "Tipo de objeto",
                      "example": "transfer",
                      "deprecated": false
                    },
                    "id": {
                      "type": "string",
                      "description": "Identificador único da transferência no Asaas",
                      "example": "777eb7c8-b1a2-4356-8fd8-a1b0644b5282",
                      "deprecated": false
                    },
                    "type": {
                      "type": "string",
                      "description": "Tipo de transferência",
                      "example": "BANK_ACCOUNT",
                      "deprecated": false,
                      "enum": [
                        "PIX",
                        "TED",
                        "INTERNAL"
                      ]
                    },
                    "dateCreated": {
                      "type": "string",
                      "description": "Data de solicitação da transferência",
                      "format": "date",
                      "example": "2019-05-02",
                      "deprecated": false
                    },
                    "value": {
                      "type": "number",
                      "description": "Valor da transferência",
                      "example": 1000,
                      "deprecated": false
                    },
                    "netValue": {
                      "type": "number",
                      "description": "Valor líquido descontada a taxa de transferência",
                      "example": 0,
                      "deprecated": false
                    },
                    "status": {
                      "type": "string",
                      "description": "Situação da transferência",
                      "example": "PENDING",
                      "deprecated": false,
                      "enum": [
                        "PENDING",
                        "BANK_PROCESSING",
                        "DONE",
                        "CANCELLED",
                        "FAILED"
                      ],
                      "x-readme-ref-name": "TransferGetResponseTransferStatus"
                    },
                    "transferFee": {
                      "type": "number",
                      "description": "Taxa de transferência",
                      "example": 0,
                      "deprecated": false
                    },
                    "effectiveDate": {
                      "type": "string",
                      "description": "Data de efetivação",
                      "format": "date",
                      "example": "2019-05-02",
                      "deprecated": false
                    },
                    "scheduleDate": {
                      "type": "string",
                      "description": "Data de agendamento",
                      "format": "date",
                      "example": "2019-05-02",
                      "deprecated": false
                    },
                    "endToEndIdentifier": {
                      "type": "string",
                      "description": "Identificador único da transação Pix no Banco Central",
                      "deprecated": false,
                      "example": null
                    },
                    "authorized": {
                      "type": "boolean",
                      "description": "`false` quando aguarda autorização através do Token SMS",
                      "example": true,
                      "deprecated": false
                    },
                    "failReason": {
                      "type": "string",
                      "description": "Motivo da falha da transferência",
                      "deprecated": false,
                      "example": null
                    },
                    "externalReference": {
                      "type": "string",
                      "description": "Identificador da transferência no seu sistema",
                      "deprecated": false,
                      "example": null
                    },
                    "transactionReceiptUrl": {
                      "type": "string",
                      "description": "Comprovante de transferência, estará disponível após a transferência ser confirmada",
                      "deprecated": false,
                      "example": null
                    },
                    "operationType": {
                      "type": "string",
                      "description": "Modalidade da transferência",
                      "example": "TED",
                      "deprecated": false,
                      "enum": [
                        "PIX",
                        "TED",
                        "INTERNAL"
                      ],
                      "x-readme-ref-name": "TransferGetResponseTransferType"
                    },
                    "description": {
                      "type": "string",
                      "description": "Descrição da transferência",
                      "deprecated": false,
                      "example": null
                    },
                    "recurring": {
                      "type": "string",
                      "description": "Identificador único da recorrência no Asaas",
                      "deprecated": false,
                      "example": null
                    },
                    "bankAccount": {
                      "type": "object",
                      "properties": {
                        "bank": {
                          "type": "object",
                          "properties": {
                            "ispb": {
                              "type": "string",
                              "description": "Identificador no Sistema de Pagamentos Brasileiro",
                              "deprecated": false,
                              "example": null
                            },
                            "code": {
                              "type": "string",
                              "description": "Código de compensação do banco no sistema bancário",
                              "example": "001",
                              "deprecated": false
                            },
                            "name": {
                              "type": "string",
                              "description": "Nome do banco",
                              "example": "Banco do Brasil",
                              "deprecated": false
                            }
                          },
                          "description": "Dados do banco de destino",
                          "deprecated": false,
                          "x-readme-ref-name": "TransferBankGetResponseDTO"
                        },
                        "accountName": {
                          "type": "string",
                          "description": "Nome da conta bancária",
                          "example": "Conta Banco do Brasil",
                          "deprecated": false
                        },
                        "ownerName": {
                          "type": "string",
                          "description": "Nome do proprietário da conta bancária",
                          "example": "John Doe",
                          "deprecated": false
                        },
                        "cpfCnpj": {
                          "type": "string",
                          "description": "CPF ou CNPJ do proprietário da conta bancária",
                          "example": "***.143.689-**",
                          "deprecated": false
                        },
                        "agency": {
                          "type": "string",
                          "description": "Número da agência sem dígito",
                          "example": "1263",
                          "deprecated": false
                        },
                        "agencyDigit": {
                          "type": "string",
                          "description": "Dígito da agência",
                          "example": "3",
                          "deprecated": false
                        },
                        "account": {
                          "type": "string",
                          "description": "Número da conta bancária sem dígito",
                          "example": "9999991",
                          "deprecated": false
                        },
                        "accountDigit": {
                          "type": "string",
                          "description": "Dígito da conta bancária",
                          "example": "1",
                          "deprecated": false
                        },
                        "pixAddressKey": {
                          "type": "string",
                          "description": "Endereço da chave Pix",
                          "deprecated": false,
                          "example": null
                        }
                      },
                      "description": "Dados da conta bancária",
                      "deprecated": false,
                      "x-readme-ref-name": "TransferBankAccountGetResponseDTO"
                    }
                  },
                  "x-readme-ref-name": "TransferGetResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "error_code",
                      "description": "Descrição do erro"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "invalid_access_token",
                      "description": "A chave de API fornecida é inválida"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "tags": [
          "Transferências"
        ],
        "summary": "Listar transferências",
        "description": "Este método retorna uma lista paginada com todas as transferências para o filtro informado.",
        "operationId": "listar-transferencias",
        "parameters": [
          {
            "name": "dateCreated[ge]",
            "in": "query",
            "description": "Filtrar pela data de criação inicial",
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "dateCreated[le]",
            "in": "query",
            "description": "Filtrar pela data de criação final",
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "transferDate[ge]",
            "in": "query",
            "description": "Filtrar pela data inicial de efetivação de transferência",
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "transferDate[le]",
            "in": "query",
            "description": "Filtrar pela data final de efetivação de transferência",
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filtrar por tipo da transferência",
            "schema": {
              "type": "string",
              "example": "ASAAS_ACCOUNT"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "description": "Tipo de objeto",
                      "example": "list",
                      "deprecated": false
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Indica se há mais uma página a ser buscada",
                      "example": false,
                      "deprecated": false
                    },
                    "totalCount": {
                      "type": "integer",
                      "description": "Quantidade total de itens para os filtros informados",
                      "format": "int32",
                      "example": 2,
                      "deprecated": false
                    },
                    "limit": {
                      "type": "integer",
                      "description": "Quantidade de objetos por página",
                      "format": "int32",
                      "example": 10,
                      "deprecated": false
                    },
                    "offset": {
                      "type": "integer",
                      "description": "Posição do objeto a partir do qual a página deve ser carregada",
                      "format": "int32",
                      "example": 0,
                      "deprecated": false
                    },
                    "data": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "object": {
                            "type": "string",
                            "description": "Tipo de objeto",
                            "example": "transfer",
                            "deprecated": false
                          },
                          "id": {
                            "type": "string",
                            "description": "Identificador único da transferência no Asaas",
                            "example": "777eb7c8-b1a2-4356-8fd8-a1b0644b5282",
                            "deprecated": false
                          },
                          "type": {
                            "type": "string",
                            "description": "Tipo de transferência",
                            "example": "BANK_ACCOUNT",
                            "deprecated": false,
                            "enum": [
                              "PIX",
                              "TED",
                              "INTERNAL"
                            ]
                          },
                          "dateCreated": {
                            "type": "string",
                            "description": "Data de solicitação da transferência",
                            "format": "date",
                            "example": "2019-05-02",
                            "deprecated": false
                          },
                          "value": {
                            "type": "number",
                            "description": "Valor da transferência",
                            "example": 1000,
                            "deprecated": false
                          },
                          "netValue": {
                            "type": "number",
                            "description": "Valor líquido descontada a taxa de transferência",
                            "example": 0,
                            "deprecated": false
                          },
                          "status": {
                            "type": "string",
                            "description": "Situação da transferência",
                            "example": "PENDING",
                            "deprecated": false,
                            "enum": [
                              "PENDING",
                              "BANK_PROCESSING",
                              "DONE",
                              "CANCELLED",
                              "FAILED"
                            ],
                            "x-readme-ref-name": "TransferGetResponseTransferStatus"
                          },
                          "transferFee": {
                            "type": "number",
                            "description": "Taxa de transferência",
                            "example": 0,
                            "deprecated": false
                          },
                          "effectiveDate": {
                            "type": "string",
                            "description": "Data de efetivação",
                            "format": "date",
                            "example": "2019-05-02",
                            "deprecated": false
                          },
                          "scheduleDate": {
                            "type": "string",
                            "description": "Data de agendamento",
                            "format": "date",
                            "example": "2019-05-02",
                            "deprecated": false
                          },
                          "endToEndIdentifier": {
                            "type": "string",
                            "description": "Identificador único da transação Pix no Banco Central",
                            "deprecated": false,
                            "example": null
                          },
                          "authorized": {
                            "type": "boolean",
                            "description": "`false` quando aguarda autorização através do Token SMS",
                            "example": true,
                            "deprecated": false
                          },
                          "failReason": {
                            "type": "string",
                            "description": "Motivo da falha da transferência",
                            "deprecated": false,
                            "example": null
                          },
                          "externalReference": {
                            "type": "string",
                            "description": "Identificador da transferência no seu sistema",
                            "deprecated": false,
                            "example": null
                          },
                          "transactionReceiptUrl": {
                            "type": "string",
                            "description": "Comprovante de transferência, estará disponível após a transferência ser confirmada",
                            "deprecated": false,
                            "example": null
                          },
                          "operationType": {
                            "type": "string",
                            "description": "Modalidade da transferência",
                            "example": "TED",
                            "deprecated": false,
                            "enum": [
                              "PIX",
                              "TED",
                              "INTERNAL"
                            ],
                            "x-readme-ref-name": "TransferGetResponseTransferType"
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição da transferência",
                            "deprecated": false,
                            "example": null
                          },
                          "recurring": {
                            "type": "string",
                            "description": "Identificador único da recorrência no Asaas",
                            "deprecated": false,
                            "example": null
                          },
                          "bankAccount": {
                            "type": "object",
                            "properties": {
                              "bank": {
                                "type": "object",
                                "properties": {
                                  "ispb": {
                                    "type": "string",
                                    "description": "Identificador no Sistema de Pagamentos Brasileiro",
                                    "deprecated": false,
                                    "example": null
                                  },
                                  "code": {
                                    "type": "string",
                                    "description": "Código de compensação do banco no sistema bancário",
                                    "example": "001",
                                    "deprecated": false
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Nome do banco",
                                    "example": "Banco do Brasil",
                                    "deprecated": false
                                  }
                                },
                                "description": "Dados do banco de destino",
                                "deprecated": false,
                                "x-readme-ref-name": "TransferBankGetResponseDTO"
                              },
                              "accountName": {
                                "type": "string",
                                "description": "Nome da conta bancária",
                                "example": "Conta Banco do Brasil",
                                "deprecated": false
                              },
                              "ownerName": {
                                "type": "string",
                                "description": "Nome do proprietário da conta bancária",
                                "example": "John Doe",
                                "deprecated": false
                              },
                              "cpfCnpj": {
                                "type": "string",
                                "description": "CPF ou CNPJ do proprietário da conta bancária",
                                "example": "***.143.689-**",
                                "deprecated": false
                              },
                              "agency": {
                                "type": "string",
                                "description": "Número da agência sem dígito",
                                "example": "1263",
                                "deprecated": false
                              },
                              "agencyDigit": {
                                "type": "string",
                                "description": "Dígito da agência",
                                "example": "3",
                                "deprecated": false
                              },
                              "account": {
                                "type": "string",
                                "description": "Número da conta bancária sem dígito",
                                "example": "9999991",
                                "deprecated": false
                              },
                              "accountDigit": {
                                "type": "string",
                                "description": "Dígito da conta bancária",
                                "example": "1",
                                "deprecated": false
                              },
                              "pixAddressKey": {
                                "type": "string",
                                "description": "Endereço da chave Pix",
                                "deprecated": false,
                                "example": null
                              }
                            },
                            "description": "Dados da conta bancária",
                            "deprecated": false,
                            "x-readme-ref-name": "TransferBankAccountGetResponseDTO"
                          }
                        },
                        "x-readme-ref-name": "TransferGetResponseDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "TransferListResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "error_code",
                      "description": "Descrição do erro"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "invalid_access_token",
                      "description": "A chave de API fornecida é inválida"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."
          }
        },
        "deprecated": false
      }
    },
    "/v3/transfers/": {
      "post": {
        "tags": [
          "Transferências"
        ],
        "summary": "Transferir para conta Asaas",
        "description": "",
        "operationId": "transferir-para-conta-asaas",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "value",
                  "walletId"
                ],
                "type": "object",
                "properties": {
                  "value": {
                    "type": "number",
                    "description": "Valor a ser transferido",
                    "nullable": false,
                    "example": 1000,
                    "deprecated": false
                  },
                  "walletId": {
                    "type": "string",
                    "description": "WalletId da conta destino",
                    "nullable": false,
                    "example": "021c712-d963-4d86-a59d-031e7ac51a2e",
                    "deprecated": false
                  },
                  "externalReference": {
                    "type": "string",
                    "description": "Identificador da transferência no seu sistema",
                    "deprecated": false,
                    "example": null
                  }
                },
                "x-readme-ref-name": "TransferSaveInternalTransferRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "description": "Tipo de objeto",
                      "example": "transfer",
                      "deprecated": false
                    },
                    "id": {
                      "type": "string",
                      "description": "Identificador único da transferência no Asaas",
                      "example": "777eb7c8-b1a2-4356-8fd8-a1b0644b5282",
                      "deprecated": false
                    },
                    "type": {
                      "type": "string",
                      "description": "Tipo de transferência",
                      "example": "BANK_ACCOUNT",
                      "deprecated": false,
                      "enum": [
                        "PIX",
                        "TED",
                        "INTERNAL"
                      ]
                    },
                    "dateCreated": {
                      "type": "string",
                      "description": "Data de solicitação da transferência",
                      "format": "date",
                      "example": "2019-05-02",
                      "deprecated": false
                    },
                    "value": {
                      "type": "number",
                      "description": "Valor da transferência",
                      "example": 1000,
                      "deprecated": false
                    },
                    "netValue": {
                      "type": "number",
                      "description": "Valor líquido descontada a taxa de transferência",
                      "example": 0,
                      "deprecated": false
                    },
                    "status": {
                      "type": "string",
                      "description": "Situação da transferência",
                      "example": "PENDING",
                      "deprecated": false,
                      "enum": [
                        "PENDING",
                        "BANK_PROCESSING",
                        "DONE",
                        "CANCELLED",
                        "FAILED"
                      ],
                      "x-readme-ref-name": "TransferSaveInternalTransferResponseTransferStatus"
                    },
                    "transferFee": {
                      "type": "number",
                      "description": "Taxa de transferência",
                      "example": 0,
                      "deprecated": false
                    },
                    "effectiveDate": {
                      "type": "string",
                      "description": "Data de efetivação",
                      "format": "date",
                      "example": "2019-05-02",
                      "deprecated": false
                    },
                    "scheduleDate": {
                      "type": "string",
                      "description": "Data de agendamento",
                      "format": "date",
                      "example": "2019-05-02",
                      "deprecated": false
                    },
                    "endToEndIdentifier": {
                      "type": "string",
                      "description": "Identificador único da transação Pix no Banco Central",
                      "deprecated": false,
                      "example": null
                    },
                    "authorized": {
                      "type": "boolean",
                      "description": "`false` quando aguarda autorização através do Token SMS",
                      "example": true,
                      "deprecated": false
                    },
                    "failReason": {
                      "type": "string",
                      "description": "Motivo da falha da transferência",
                      "deprecated": false,
                      "example": null
                    },
                    "externalReference": {
                      "type": "string",
                      "description": "Identificador da transferência no seu sistema",
                      "deprecated": false,
                      "example": null
                    },
                    "transactionReceiptUrl": {
                      "type": "string",
                      "description": "Comprovante de transferência, estará disponível após a transferência ser confirmada",
                      "deprecated": false,
                      "example": null
                    },
                    "operationType": {
                      "type": "string",
                      "description": "Modalidade da transferência",
                      "example": "TED",
                      "deprecated": false,
                      "enum": [
                        "PIX",
                        "TED",
                        "INTERNAL"
                      ],
                      "x-readme-ref-name": "TransferSaveInternalTransferResponseTransferType"
                    },
                    "description": {
                      "type": "string",
                      "description": "Descrição da transferência",
                      "deprecated": false,
                      "example": null
                    },
                    "recurring": {
                      "type": "string",
                      "description": "Identificador único da recorrência no Asaas",
                      "deprecated": false,
                      "example": null
                    },
                    "walletId": {
                      "type": "string",
                      "description": "Identificador único da carteira para fazer split de cobranças ou transferência entre contas Asaas",
                      "deprecated": false,
                      "example": null
                    },
                    "account": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Nome da conta de destino",
                          "example": "John Doe",
                          "deprecated": false
                        },
                        "cpfCnpj": {
                          "type": "string",
                          "description": "CPF ou CNPJ da conta de destino",
                          "example": "***.143.689-**",
                          "deprecated": false
                        },
                        "agency": {
                          "type": "string",
                          "description": "Código da agência da conta de destino",
                          "example": "0001",
                          "deprecated": false
                        },
                        "account": {
                          "type": "string",
                          "description": "Número da conta de destino",
                          "example": "2087",
                          "deprecated": false
                        },
                        "accountDigit": {
                          "type": "string",
                          "description": "Dígito da conta de destino",
                          "example": "2",
                          "deprecated": false
                        }
                      },
                      "description": "Informações básicas da conta de destino",
                      "deprecated": false,
                      "x-readme-ref-name": "TransferSaveInternalTransferAccountDTO"
                    }
                  },
                  "x-readme-ref-name": "TransferSaveInternalTransferResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "error_code",
                      "description": "Descrição do erro"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "invalid_access_token",
                      "description": "A chave de API fornecida é inválida"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v3/transfers/{id}": {
      "get": {
        "tags": [
          "Transferências"
        ],
        "summary": "Recuperar uma única transferência",
        "description": "",
        "operationId": "recuperar-uma-unica-transferencia",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identificador único da transferência no Asaas",
            "required": true,
            "schema": {
              "type": "string",
              "example": "777eb7c8-b1a2-4356-8fd8-a1b0644b528"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "description": "Tipo de objeto",
                      "example": "transfer",
                      "deprecated": false
                    },
                    "id": {
                      "type": "string",
                      "description": "Identificador único da transferência no Asaas",
                      "example": "777eb7c8-b1a2-4356-8fd8-a1b0644b5282",
                      "deprecated": false
                    },
                    "type": {
                      "type": "string",
                      "description": "Tipo de transferência",
                      "example": "BANK_ACCOUNT",
                      "deprecated": false,
                      "enum": [
                        "PIX",
                        "TED",
                        "INTERNAL"
                      ]
                    },
                    "dateCreated": {
                      "type": "string",
                      "description": "Data de solicitação da transferência",
                      "format": "date",
                      "example": "2019-05-02",
                      "deprecated": false
                    },
                    "value": {
                      "type": "number",
                      "description": "Valor da transferência",
                      "example": 1000,
                      "deprecated": false
                    },
                    "netValue": {
                      "type": "number",
                      "description": "Valor líquido descontada a taxa de transferência",
                      "example": 0,
                      "deprecated": false
                    },
                    "status": {
                      "type": "string",
                      "description": "Situação da transferência",
                      "example": "PENDING",
                      "deprecated": false,
                      "enum": [
                        "PENDING",
                        "BANK_PROCESSING",
                        "DONE",
                        "CANCELLED",
                        "FAILED"
                      ],
                      "x-readme-ref-name": "TransferGetResponseTransferStatus"
                    },
                    "transferFee": {
                      "type": "number",
                      "description": "Taxa de transferência",
                      "example": 0,
                      "deprecated": false
                    },
                    "effectiveDate": {
                      "type": "string",
                      "description": "Data de efetivação",
                      "format": "date",
                      "example": "2019-05-02",
                      "deprecated": false
                    },
                    "scheduleDate": {
                      "type": "string",
                      "description": "Data de agendamento",
                      "format": "date",
                      "example": "2019-05-02",
                      "deprecated": false
                    },
                    "endToEndIdentifier": {
                      "type": "string",
                      "description": "Identificador único da transação Pix no Banco Central",
                      "deprecated": false,
                      "example": null
                    },
                    "authorized": {
                      "type": "boolean",
                      "description": "`false` quando aguarda autorização através do Token SMS",
                      "example": true,
                      "deprecated": false
                    },
                    "failReason": {
                      "type": "string",
                      "description": "Motivo da falha da transferência",
                      "deprecated": false,
                      "example": null
                    },
                    "externalReference": {
                      "type": "string",
                      "description": "Identificador da transferência no seu sistema",
                      "deprecated": false,
                      "example": null
                    },
                    "transactionReceiptUrl": {
                      "type": "string",
                      "description": "Comprovante de transferência, estará disponível após a transferência ser confirmada",
                      "deprecated": false,
                      "example": null
                    },
                    "operationType": {
                      "type": "string",
                      "description": "Modalidade da transferência",
                      "example": "TED",
                      "deprecated": false,
                      "enum": [
                        "PIX",
                        "TED",
                        "INTERNAL"
                      ],
                      "x-readme-ref-name": "TransferGetResponseTransferType"
                    },
                    "description": {
                      "type": "string",
                      "description": "Descrição da transferência",
                      "deprecated": false,
                      "example": null
                    },
                    "recurring": {
                      "type": "string",
                      "description": "Identificador único da recorrência no Asaas",
                      "deprecated": false,
                      "example": null
                    },
                    "bankAccount": {
                      "type": "object",
                      "properties": {
                        "bank": {
                          "type": "object",
                          "properties": {
                            "ispb": {
                              "type": "string",
                              "description": "Identificador no Sistema de Pagamentos Brasileiro",
                              "deprecated": false,
                              "example": null
                            },
                            "code": {
                              "type": "string",
                              "description": "Código de compensação do banco no sistema bancário",
                              "example": "001",
                              "deprecated": false
                            },
                            "name": {
                              "type": "string",
                              "description": "Nome do banco",
                              "example": "Banco do Brasil",
                              "deprecated": false
                            }
                          },
                          "description": "Dados do banco de destino",
                          "deprecated": false,
                          "x-readme-ref-name": "TransferBankGetResponseDTO"
                        },
                        "accountName": {
                          "type": "string",
                          "description": "Nome da conta bancária",
                          "example": "Conta Banco do Brasil",
                          "deprecated": false
                        },
                        "ownerName": {
                          "type": "string",
                          "description": "Nome do proprietário da conta bancária",
                          "example": "John Doe",
                          "deprecated": false
                        },
                        "cpfCnpj": {
                          "type": "string",
                          "description": "CPF ou CNPJ do proprietário da conta bancária",
                          "example": "***.143.689-**",
                          "deprecated": false
                        },
                        "agency": {
                          "type": "string",
                          "description": "Número da agência sem dígito",
                          "example": "1263",
                          "deprecated": false
                        },
                        "agencyDigit": {
                          "type": "string",
                          "description": "Dígito da agência",
                          "example": "3",
                          "deprecated": false
                        },
                        "account": {
                          "type": "string",
                          "description": "Número da conta bancária sem dígito",
                          "example": "9999991",
                          "deprecated": false
                        },
                        "accountDigit": {
                          "type": "string",
                          "description": "Dígito da conta bancária",
                          "example": "1",
                          "deprecated": false
                        },
                        "pixAddressKey": {
                          "type": "string",
                          "description": "Endereço da chave Pix",
                          "deprecated": false,
                          "example": null
                        }
                      },
                      "description": "Dados da conta bancária",
                      "deprecated": false,
                      "x-readme-ref-name": "TransferBankAccountGetResponseDTO"
                    }
                  },
                  "x-readme-ref-name": "TransferGetResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "error_code",
                      "description": "Descrição do erro"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "invalid_access_token",
                      "description": "A chave de API fornecida é inválida"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."
          },
          "404": {
            "description": "Not found"
          }
        },
        "deprecated": false
      }
    },
    "/v3/transfers/{id}/cancel": {
      "delete": {
        "tags": [
          "Transferências"
        ],
        "summary": "Cancelar uma transferência",
        "description": "",
        "operationId": "cancelar-uma-transferência",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identificador único da transferência no Asaas",
            "required": true,
            "schema": {
              "type": "string",
              "example": "777eb7c8-b1a2-4356-8fd8-a1b0644b5282"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "description": "Tipo de objeto",
                      "example": "transfer",
                      "deprecated": false
                    },
                    "id": {
                      "type": "string",
                      "description": "Identificador único da transferência no Asaas",
                      "example": "777eb7c8-b1a2-4356-8fd8-a1b0644b5282",
                      "deprecated": false
                    },
                    "type": {
                      "type": "string",
                      "description": "Tipo de transferência",
                      "example": "BANK_ACCOUNT",
                      "deprecated": false,
                      "enum": [
                        "PIX",
                        "TED",
                        "INTERNAL"
                      ]
                    },
                    "dateCreated": {
                      "type": "string",
                      "description": "Data de solicitação da transferência",
                      "format": "date",
                      "example": "2019-05-02",
                      "deprecated": false
                    },
                    "value": {
                      "type": "number",
                      "description": "Valor da transferência",
                      "example": 1000,
                      "deprecated": false
                    },
                    "netValue": {
                      "type": "number",
                      "description": "Valor líquido descontada a taxa de transferência",
                      "example": 0,
                      "deprecated": false
                    },
                    "status": {
                      "type": "string",
                      "description": "Situação da transferência",
                      "example": "PENDING",
                      "deprecated": false,
                      "enum": [
                        "PENDING",
                        "BANK_PROCESSING",
                        "DONE",
                        "CANCELLED",
                        "FAILED"
                      ],
                      "x-readme-ref-name": "TransferGetResponseTransferStatus"
                    },
                    "transferFee": {
                      "type": "number",
                      "description": "Taxa de transferência",
                      "example": 0,
                      "deprecated": false
                    },
                    "effectiveDate": {
                      "type": "string",
                      "description": "Data de efetivação",
                      "format": "date",
                      "example": "2019-05-02",
                      "deprecated": false
                    },
                    "scheduleDate": {
                      "type": "string",
                      "description": "Data de agendamento",
                      "format": "date",
                      "example": "2019-05-02",
                      "deprecated": false
                    },
                    "endToEndIdentifier": {
                      "type": "string",
                      "description": "Identificador único da transação Pix no Banco Central",
                      "deprecated": false,
                      "example": null
                    },
                    "authorized": {
                      "type": "boolean",
                      "description": "`false` quando aguarda autorização através do Token SMS",
                      "example": true,
                      "deprecated": false
                    },
                    "failReason": {
                      "type": "string",
                      "description": "Motivo da falha da transferência",
                      "deprecated": false,
                      "example": null
                    },
                    "externalReference": {
                      "type": "string",
                      "description": "Identificador da transferência no seu sistema",
                      "deprecated": false,
                      "example": null
                    },
                    "transactionReceiptUrl": {
                      "type": "string",
                      "description": "Comprovante de transferência, estará disponível após a transferência ser confirmada",
                      "deprecated": false,
                      "example": null
                    },
                    "operationType": {
                      "type": "string",
                      "description": "Modalidade da transferência",
                      "example": "TED",
                      "deprecated": false,
                      "enum": [
                        "PIX",
                        "TED",
                        "INTERNAL"
                      ],
                      "x-readme-ref-name": "TransferGetResponseTransferType"
                    },
                    "description": {
                      "type": "string",
                      "description": "Descrição da transferência",
                      "deprecated": false,
                      "example": null
                    },
                    "recurring": {
                      "type": "string",
                      "description": "Identificador único da recorrência no Asaas",
                      "deprecated": false,
                      "example": null
                    },
                    "bankAccount": {
                      "type": "object",
                      "properties": {
                        "bank": {
                          "type": "object",
                          "properties": {
                            "ispb": {
                              "type": "string",
                              "description": "Identificador no Sistema de Pagamentos Brasileiro",
                              "deprecated": false,
                              "example": null
                            },
                            "code": {
                              "type": "string",
                              "description": "Código de compensação do banco no sistema bancário",
                              "example": "001",
                              "deprecated": false
                            },
                            "name": {
                              "type": "string",
                              "description": "Nome do banco",
                              "example": "Banco do Brasil",
                              "deprecated": false
                            }
                          },
                          "description": "Dados do banco de destino",
                          "deprecated": false,
                          "x-readme-ref-name": "TransferBankGetResponseDTO"
                        },
                        "accountName": {
                          "type": "string",
                          "description": "Nome da conta bancária",
                          "example": "Conta Banco do Brasil",
                          "deprecated": false
                        },
                        "ownerName": {
                          "type": "string",
                          "description": "Nome do proprietário da conta bancária",
                          "example": "John Doe",
                          "deprecated": false
                        },
                        "cpfCnpj": {
                          "type": "string",
                          "description": "CPF ou CNPJ do proprietário da conta bancária",
                          "example": "***.143.689-**",
                          "deprecated": false
                        },
                        "agency": {
                          "type": "string",
                          "description": "Número da agência sem dígito",
                          "example": "1263",
                          "deprecated": false
                        },
                        "agencyDigit": {
                          "type": "string",
                          "description": "Dígito da agência",
                          "example": "3",
                          "deprecated": false
                        },
                        "account": {
                          "type": "string",
                          "description": "Número da conta bancária sem dígito",
                          "example": "9999991",
                          "deprecated": false
                        },
                        "accountDigit": {
                          "type": "string",
                          "description": "Dígito da conta bancária",
                          "example": "1",
                          "deprecated": false
                        },
                        "pixAddressKey": {
                          "type": "string",
                          "description": "Endereço da chave Pix",
                          "deprecated": false,
                          "example": null
                        }
                      },
                      "description": "Dados da conta bancária",
                      "deprecated": false,
                      "x-readme-ref-name": "TransferBankAccountGetResponseDTO"
                    }
                  },
                  "x-readme-ref-name": "TransferGetResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "error_code",
                      "description": "Descrição do erro"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de objetos",
                      "deprecated": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Código do erro",
                            "deprecated": false,
                            "example": null
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do erro",
                            "deprecated": false,
                            "example": null
                          }
                        },
                        "description": "Lista de objetos",
                        "deprecated": false,
                        "x-readme-ref-name": "ErrorResponseItemDTO"
                      }
                    }
                  },
                  "x-readme-ref-name": "ErrorResponseDTO"
                },
                "example": {
                  "errors": [
                    {
                      "code": "invalid_access_token",
                      "description": "A chave de API fornecida é inválida"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        },
        "deprecated": false
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Authorization": {
        "type": "apiKey",
        "name": "access_token",
        "in": "header"
      }
    }
  }
}